@import 'variables.scss';
/* The container must be positioned relative: */

.selectIpogChoice {
    position: relative;
    font-family: 'Roboto';
    max-width: 300px;
    width: 100%;
    margin: 5px 15px;
    @media(max-width: 800px) {
      max-width: 245px;
    } 
    select {
      display: none;
      /*hide original SELECT element: */
    }
  }
  
  .selectIpogChoiceSelected {
    background-color: transparent;
    &:after {
      position: absolute;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: '\f107';
      top: 18px;
      right: 20px;
      color: #000;
    }
    &.selectArrowActiveChoice:after {
      // border-color: transparent transparent #fff transparent;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: '\f106';
    }
  }
  
  /* Style the arrow inside the select element: */
  
  /* Point the arrow upwards when the select box is open (active): */
  
  /* style the items (options), including the selected item: */
  
  .selectChoiceItemsIpog div, .selectIpogChoiceSelected {
    display: flex;
    align-items: center;
    color: $greyCustomSelect;
    background-color: #fff;
    padding-left: 10px;
    min-height: 50px;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
  }

  .selectIpogChoiceSelected {
    border-radius: none;
  }
  
  /* Style items (options): */
  
  .selectChoiceItemsIpog {
    position: absolute;
    background-color: transparent;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 100px;
    overflow: auto;
    & div {
      background-color: #fff;
    }
  }
  
  /* Hide the items when the select box is closed: */
  
  .selectChoiceHideIpog {
    display: none;
  }
  
  .sameAsSelectedChoice {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .selectChoiceItemsIpog div:hover {
    background-color: rgb(230, 229, 229);
  }