section.inscricao {
    margin-top: 0;
    .container {
        .formInscricao {
            display: flex;
            @media(max-width: 800px) {
                flex-wrap: wrap;
                justify-content: center;
            }
            .formInscricaoItem {
                width: 25%;
                @media(max-width: 800px) {
                    width: 33%;
                    &:last-of-type {
                        margin-top: 40px;
                    }
                }
                @media(max-width: 500px) {
                    width: 100%;
                    input[type='text'] {
                        width: 100%;
                    }
                }
                .formInscricaoItemInput {
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}
.parcerias {
    .parceriasListImg {
        display: flex;
        align-items: center;
        @media(max-width: 800px) {
            justify-content: center;
            flex-wrap: wrap;
        }
        .parceriasImg {
            max-width: 280px;
            width: 100%;
            @media(min-width: 1600px) {
                margin: 0 70px;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                margin: 10px 35px;
                max-width: 20%;
            }
            img {
                max-height: 94px;
                max-width: 100%;
            }
        }
    }
}
footer {
    .sitemap {
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // @media(max-width: 500px) {
            //     flex-direction: column;
            // }
            .sitemapItem {
                @media(max-width: 800px) {
                    &:last-of-type {
                        margin-top: 20px;
                    }
                } 
                @media(max-width: 500px) {
                    &:not(:last-of-type) {
                        margin-bottom: 20px;
                    }
                } 
            }
            .sitemapItemSm {
                width: 180px;
                @media(max-width: 500px) {
                    width: 50%;
                }
            }
            .sitemapItemMd {
                width: 230px
            }
            .siteItemLg {
                width: 50%;
            }
        }
        .socialIconsList {
            display: flex;
            margin-top: 20px;
            .socialIconsItem {
                width: 35px;
                height: 35px;
                border: 1px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                padding: 0;
                margin-right: 10px;
                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &:hover {
                    background-color: #fff;
                    cursor: pointer;
                    svg,i {
                        color: #a31e1c;
                    }
                }
            }
        }
        .inputForm {
            &:focus {
                outline: none;
            }
        }
        .footerMapBtn {
            &:focus {
                outline: none;
            }
            @media(max-width: 500px) {
                padding: 13px 18px;
            }
        }
    }
}
.footerMapBtn {
    height: 44px;
}
.inputForm {
    height: 35px;
}
.sitemapItem {
    form {
        margin-top: 10px;
        display: flex;
        align-items: center;
        @media(max-width: 500px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}