@media (min-width: 1601px) {
  div.container {
    max-width: 1600px;
  }
}
header .topHeader {
    display: flex;
    justify-content: center;
    @media(max-width: 500px) {
      min-height: 90px;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // ADAPTACAO PARA IGUALAR AO MENU ANTIGO
      padding-top: 3px;
      // FIM ADAPTACAO PARA IGUALAR AO MENU ANTIGO
      @media(max-width:800px) {
        justify-content: flex-start;
        flex-direction: column;
      }
      @media(max-width: 500px) {
        align-items: baseline;
      }
    }
    background-color: $redBtnRound;
    padding: 30px 0;
    min-height: 120px;
    .menuItens {
      display: flex;
      @media(max-width: 500px) {
        width: 100%;
        justify-content: space-between;
      }
    }
    .logo {
      width: 152px;
      margin-right: 40px;
      height: 32px;
      img {
        width: 152px;
      }
    }
    .icon-menu {
      width: 25px;
      height: 25px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media(min-width: 801px) {
        display: none;
      }
      .icon-menu-bar {
        height: 2px;
        width: 25px;
        background-color: #fff;
        &:nth-child(2) {
          margin: 3px 0;
        }
      }
    }
    .icon-menu.menu-active {
      @media(max-width: 800px) {
        top: 5px;
      }
      .icon-menu-bar {
        position: absolute;
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 10px;
          transition: transform .3s;
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
          top: 7px;
          transition: transform .3s;          
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
    .menuSubItens {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media(max-width: 800px) {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      @media(max-width: 500px) {
        align-items: baseline;
      }
      .topMenu {
        max-width: 600px;
        ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        @media(max-width: 800px) {
          flex-direction: column;
        }
        @media(max-width: 500px) {
          margin: 15px auto;
        }
          li {
            // &:not(:last-of-type) {
            //   margin-right: 30px;
            //   @media(max-width: 800px) {
            //     margin-bottom: 5px;
            //   }
            // }
            padding: 0px 16px 0;
            a {
              color: #FFF;
              text-decoration: none;
              transition: all .3s;
              &:hover {
                color: $redHover;
                transition: all .3s;
              }
            }
          }
        }
      }
      .topNavigation {
        @media(min-width: 1140px) {
          // margin-left: 50px;
        }
        @media(max-width: 800px) and (min-width: 501px) {
          margin-top: 20px;
        }
        ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 0;
          margin: auto;
          // @media(max-width: 800px) {
          //   flex-direction: column;
          // }
          li {
            color: #FFF;
            margin-right: 20px;
            &:last-child {
              margin-right: 0px;
            }
            &.linkPortal {
              cursor: pointer;
              margin-right: 45px;
            }
            a {
              color: #FFF;
              transition: all .3s;
              &:hover {
                color: $redHover;
                transition: all .3s;
              }
            }
          }
        }
      }
    }
  }
.secondMenu {
  position: absolute;
  width: 100%;
  z-index: 50;
  background-color: #00000030;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: 500px) {
      margin: 20px auto;
      align-items: flex-start;
    }
  }
  .listSecondMenu {
    display: flex;
    padding: 24px 0;
    flex-wrap: wrap;
    @media(max-width: 500px) {
      flex-direction: column;
      padding: 0;
    }
    li {
      text-transform: uppercase;
      &:not(:last-of-type) {
        margin-right: 40px;
        @media(max-width: 800px) {
          margin-bottom: 5px;
        }
        @media(max-width: 500px) {
          margin-right: 0;
        }
      }
      a {
        color: #FFF;
        font-size: 14px;
        text-decoration: none;
        font-weight: 300;
        transition: all .3s;
        &:hover {
          color: $redHover;
          transition: all .3s;
        }
      }
    }
  }
  .listSecondMenuSearch {
    .headerBusca {
      position: relative;
      .buscaGeral {
        background: transparent;
        border: 2px solid #cccecf;
        padding: 4px 10px;
        padding-right: 30px;
        font-size: 13px;
        color: #fff;
        font-family: 'Roboto';
        border-radius: 20px;
        width: 170px;
        &:focus {
          outline: none;
        }
      }
      .btnBuscaGeral {
        color: #cccecf;
        background: transparent;
        border: 0;
        position: absolute;
        top: 4px;
        left: 135px;
        transition: all .3s;
        &:hover {
          color: $redBtnRound;
          transition: all .3s;
          cursor: pointer;
        }
      }
    }
  }
}
.bannerTop {
  height: 100vh;
  width: 100%;
}