/* The container must be positioned relative: */

.selectIpog {
    position: relative;
    font-family: 'Roboto';
    select {
      display: none;
      /*hide original SELECT element: */
    }
  }
  
  .selectIpogSelected {
    background-color: transparent;
    &:after {
      position: absolute;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: '\f107';
      top: 7px;
      right: 30px;
      height: 16px;
      top: calc(50% - 8px);
    }
    &.selectArrowActive:after {
      // border-color: transparent transparent #fff transparent;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: '\f106';
    }
  }
  
  /* Style the arrow inside the select element: */
  
  /* Point the arrow upwards when the select box is open (active): */
  
  /* style the items (options), including the selected item: */
  
  .selectItemsIpog div, .selectIpogSelected {
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-left: 10px;
    min-height: 35px;
    border: 1px solid #fff;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
  }

  .selectIpogSelected {
    border-radius: 4px;
  }
  
  /* Style items (options): */
  
  .selectItemsIpog {
    position: absolute;
    background-color: transparent;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 100px;
    overflow: auto;
    & div {
      background-color: #a31e1c;
    }
  }
  
  /* Hide the items when the select box is closed: */
  
  .selectHideIpog {
    display: none;
  }
  
  .sameAsSelected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .selectItemsIpog div:hover {
    background-color: rgb(109, 20, 18);
  }