$greyRecomend: #707070;
$greyChoice: #5d5d5d;
$greyCustomSelect: #9d9d9d;
$greyIncompanyCarouselImg: #474747;
$greyFeedText: #b6b8ba;
$greyFeedName: #efeaea;
$greyFormBg: #f5f5f5;
$greyFormTitle: #353535;
$greyCourse: #6d6d6d;
$greyFooterBar: #eeeeee;
$greyNewsSlider: #424242;
$greyInfo: #5f5f5f;
$greyInfoBold: #545454;
$greyInfoText: #696969;
$greySearch: #626262;
$greySearchText: #464646;
$greyDark: #2a2a2a;
$greyBorderLine: #454545;
$greyBorderLine2: #a0a0a0;
$greyEadBg: #f0f0f0;
$greyPostBg: #e9e9e9;
$blueBar: #2d7783;
$blueTitle: #38b1cb;
$blueChoiceBtn: #1d869c;
$blueChoiceIndicateBtn: #2699fb;
$blueChoiceBtnHover: #24a1ba;
$bluePlaceBar: #486371;
$blueDarkBgFeed: #15232d;
$blueSlidertext: #465d68;
$blueLinkReadMore: #2699fb;
$blue2: #3b4d5b;
$blue3: #769caf;
$blue4: #384855;
$blue5: #aebac3;
$redLight: #d95e5d;
$redBtnRound: #be1a18;
$redHover: #a31e1c;
$redShadow: #750605;
$redHoverLight: #c42421;
$redText: #af1414;
$redArrows: #bf1d1b;
$redTitlePartner: #770908;
$red2: #be1816;
$red3: #a42020;
$greenChoiceBtn: #6ab971;
$purple: #6221ab;
$yellow: #f8b141;
$yellowHover: #cc9337;

$fontRoboto: 'Roboto', sans-serif;
$fontBreeSerif: 'Bree Serif', serif;