.bannerTop {
    background-image: url(../images/academico/topo-bg.jpg);
    background-position: center;
    background-size: cover;
    .container  {
        display: flex;
        align-items: center;
        height: 100%;
        .bannerTopTitulo {
            font-family: 'IntroRegular';
            font-size: 60px;
            color: #fff;
            font-weight: 400;
            @media(max-width: 500px) {
                font-size: 40px;
            }
        } 
    }
}
.mainAcad {
    background-color: #e0e4e5;
    .container {
        padding: 60px 0;
        @media(max-width: 500px) {
            padding: 60px 30px;
        }
    }
    .mainText {
        font-family: 'Roboto';
        font-size: 20px;
        line-height: 30px;
        color: #696969;
    }
    .mainTitle {
        font-family: 'Roboto Bold';
        font-weight: bold;
        font-size: 20px;
        color: #545454;
    }
    .topoMainAcad {
        margin: 50px 0 35px;
        .mainTitle {
            margin-bottom: 18px;
        }
        .mainText {
            margin-bottom: 40px;
        }
    }
    .mainAcadBlock {
        &:not(:last-of-type) {
            margin-bottom: 50px;
        }
        &:last-of-type {
            margin-bottom: 120px;
        }
        .mainText {
            &:last-of-type {
                margin-bottom: 50px;
            }
        }
        & + .mainAcadBlockButtons {
            margin-top: 90px;
        }
    }
    .mainAcadBlockButtons {
        margin-top: 30px;
        .groupBtns {
            margin-top: 30px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .btnRound {
                &:not(:last-of-type) {
                    margin-right: 15px;
                }
                margin-bottom: 15px;
            }
        }
    }
    .mainAcadTextImgBlock {
        display: flex;
        justify-content: space-between;
        @media(max-width: 500px) {
            flex-direction: column;
        }
        .textContent {
            max-width: 40%;
            @media(max-width:500px) {
                max-width: 100%;
            }
            .mainTitle, .mainText {
                line-height: 30px;
            }
            .mainText {
                margin-bottom: 60px;
            }
        }
        .imgContent {
            display: flex;
            justify-content: center;
            max-width: 50%;
            width: 100%;
            background-color: #fff;
            padding: 20px 40px;
            @media(max-width:500px) {
                max-width: 100%;
                margin-top: 60px;
            }
            @media(max-width: 800px) {
                align-items: center;
            }
            .imgContentItem {
                width: 80%;
                height: 350px;
                background-image: url(../images/academico/diagram.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                @media(max-width: 800px) {
                    height: 250px;
                }
                @media(max-width: 500px) {
                    height: 150px;
                }
            }
        }
    }
}