@import 'variables.scss';
.bannerTop {
    background-image: url(../images/aluno-diamante/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    @media(min-width: 1600px) {
        background-attachment: fixed;
    }
    .titleCover {
        position: absolute;
        height: 110px;
        width: 50%;
        top: calc(50% - 60px);
        background: rgb(96,172,191);
        background: -moz-linear-gradient(90deg, rgba(96,172,191,0.6) 60%, rgba(81,146,162,0.3) 80%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(90deg, rgba(96,172,191,0.6) 60%, rgba(81,146,162,0.3) 80%, rgba(0,0,0,0) 100%);
        background: linear-gradient(90deg, rgba(96,172,191,0.6) 60%, rgba(81,146,162,0.3) 80%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#60acbf",endColorstr="#000000",GradientType=1);
        @media(max-width: 800px) {
            top: calc(50% - 55px)
        }
    }
    .container {
        position: relative;
        .bannerTopTitulo {
            font-size: 40px;
        }
    }
}
.recomendBlock {
    max-width: 1400px;
    width: 100%;
    display: flex;
    margin: auto;
    @media(max-width: 800px) {
        flex-direction: column;
    }
    .recomendWhiteBlock {
        width: 45%;
        @media(max-width: 800px) {
            width: 100%
        }
        .recomendWhiteBlockContent {
            width: 80%;
            margin: auto;
        }
        .recomendTitle {
            font-family: 'BreeSerif';
            font-size: 38px;
            color: $blueTitle;
            padding: 120px 0 50px;
            &:before {
                display: block;
                content: '';
                background-color: $blueBar;
                width: 160px;
                height: 5px;
                margin-bottom: 50px;
            }
        }
        .recomendText {
            font-family: 'Roboto';
            font-size: 20px;
            line-height: 28px;
            color: $greyRecomend;
            &:not(:first-of-type) {
                margin-top: 40px;
            }
            &:last-of-type {
                margin-bottom: 40px;
            }
        }
    }
    .recomendBlueBlock {
        width: 55%;
        background-color: $blueTitle;
        @media(max-width: 800px) {
            width: 100%
        }
        .recomendBlueBlockContent {
            width: 80%;
            margin: auto;
            padding: 80px 0;
            .recomendBlueBlockContentItem {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                &:not(:last-of-type) {
                    margin-bottom: 50px;
                }
                .recomendBlueBlockContentItemIcon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #fff;
                    border-radius: 100%;
                    width: 60px;
                    height: 60px;
                    margin-right: 35px;
                    &:before {
                        width: 32px;
                        height: 23px;
                        content: '';
                        display: block;
                        background-image: url(../images/aluno-diamante/check-icon.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
                .recomendBlueBlockContentItemInfo {
                    max-width: 450px;
                    .recomendBlueItemTitle {
                        font-family: 'BreeSerif';
                        font-size: 20px;
                        color: #fff;
                        margin-bottom: 10px;
                    }
                    .recomendBlueItemText {
                        font-family: 'Roboto';
                        font-size: 16px;
                        line-height: 20px;
                        color: #fff;
                    }
                }
            }
        }
    }
}
.choiceBlock {
    background-image: url(../images/aluno-diamante/choice-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center;
    padding: 125px 0;
    height: 700px;
    @media(max-width: 800px) {
        height: auto;
    }
    .choiceTitle {
        font-family: 'BreeSerif';
        font-size: 40px;
        text-align: center;
        color: $greyChoice;
    }
    .choiceBlockContent {
        .choiceButtonsBlock {
            display: flex;
            justify-content: center;
            max-width: 550px;
            margin: auto;
            border-bottom: 1px solid #fff;
            margin-bottom: 100px;
            @media(max-width: 500px) {
                margin-bottom: 50px;
            }
            .choiceBtnItem {
                padding: 30px 15px;
                margin-bottom: -2px;
                border-bottom: 3px solid transparent;
                @media(max-width: 500px) {
                    text-align: center;
                }
                &:hover {
                    border-bottom: 3px solid $blueChoiceBtnHover;
                }
            }
            .choiceBtnItem.choiceActive {
                border-bottom: 3px solid $blueChoiceBtn;
            }
        }
        .choiceContentItem {
            display: none;
            .choiceForm {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                max-width: 80%;
                margin: auto;
                .choiceInputBlock {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    @media(max-width: 500px) {
                        flex-wrap: wrap;
                    }
                }
                .choiceInputItem {
                    max-width: 300px;
                    width: 100%;
                    background-color: #fff;
                    color: $greyCustomSelect;
                    margin: 5px 15px;
                    min-height: 50px;
                    padding-left: 10px;
                    border: none;
                    @media(max-width: 800px) {
                        max-width: 245px;
                    } 
                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: $greyCustomSelect;
                        opacity: 1; /* Firefox */
                        font-family: 'Roboto';
                        font-size: 16px;
                    }
                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: $greyCustomSelect;
                        font-family: 'Roboto';
                        font-size: 16px;
                    }
                      
                    &::-ms-input-placeholder { /* Microsoft Edge */
                        color: $greyCustomSelect;
                        font-family: 'Roboto';
                        font-size: 16px;
                    }
                }
                .choiceBtnBlock {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    max-width: 650px;
                    margin-top: 25px;
                    @media(max-width: 500px) {
                        flex-direction: column;
                    }
                    .choiceBtn {
                        padding: 20px 25px;
                        border-radius: 50px;
                        color: #fff;
                        min-width: 150px;
                        border: none;
                        &:focus {
                            outline: none;
                        }
                        &:not(:last-of-type) {
                            margin-right: 20px;
                        }
                        @media(max-width: 500px) {
                            &:not(:last-of-type) {
                                margin-right: inherit;
                                margin-bottom: 20px
                            }
                        }
                    }
                    .choiceBtnAdd {
                        background-color: $greenChoiceBtn;
                        transition: .3s;
                        &:hover {
                            background-color: #fff;
                            color: $greenChoiceBtn;
                            transition: .3s;
                        }
                    }
                    .choiceBtnIndicate {
                        background-color: $blueChoiceIndicateBtn;
                        transition: .3s;
                        &:hover {
                            background-color: #fff;
                            color: $blueChoiceIndicateBtn;
                            transition: .3s;
                        }
                    }
                }
            }
        }
        .choiceContentActive {
            display: block;
        }

    }
}