@import 'variables.scss';
.titleCover {
    top: calc(50% - 80px);
    height: 150px;
}
.incompanyBanner {
    background-image: url(../images/incompany/incompanyBanner.png);
    background-size: cover;
    background-position: center;
    position: relative;
    .titleCover {
    background: rgb(56,102,145);
    background: -moz-linear-gradient(90deg, rgba(56,102,145,0.6) 33.33%, rgba(56,102,145,0.3) 66.66%, rgba(56,102,145,0) 99.99%);
    background: -webkit-linear-gradient(90deg, rgba(56,102,145,0.6) 33.33%, rgba(56,102,145,0.3) 66.66%, rgba(56,102,145,0) 99.99%);
    background: linear-gradient(90deg, rgba(56,102,145,0.6) 33.33%, rgba(56,102,145,0.3) 66.66%, rgba(56,102,145,0) 99.99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#386691",endColorstr="#386691",GradientType=1);
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        .bannerTopTitulo {
            font-family: 'IntroRegular';
            color: #fff;
        }
        .bannerTopSubTitle {
            font-family: $fontBreeSerif;
            font-size: 30px;
            color: #fff;
        }
        .infoBannerBlock {
            position: absolute;
            bottom: 40px;
            .infoBannerCourse, .breadcrumbsBlock {
                display: flex;
                color: #fff;
            }
            .infoBannerCourse {
                font-size: 24px;
                margin-bottom: 50px;
                .infoBannerText {
                    &:not(:first-child) {
                        margin-left: 30px;
                    }
                }
                .infoBannerDuration {
                    display: flex;
                    align-items: center;
                    &:before {
                        content: '\f017';
                        display: block;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        margin-right: 10px;
                        font-size: 34px;
                    }
                }
                .infoBannerClass {
                    display: flex;
                    align-items: center;
                    &:before {
                        content: '\f19d';
                        display: block;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        margin-right: 10px;
                        font-size: 34px;
                    }
                }
            }
            .breadcrumbsBlock {
                .breadcrumbsItem {
                    display: flex;
                    font-family: $fontRoboto;
                    font-size: 17px;
                    &:not(:last-child) {
                        &:after {
                            display: block;
                            content: '>';
                            width: 30px;
                            height: 30px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
.secureYourPlace {
    display: flex;
    background-color: #fff;
    min-height: 800px;
    @media(max-width: 500px) {
        flex-direction: column;
    }
    .placeInfoBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        padding: 0px 80px 40px;
        @media(max-width: 500px) {
            width: 100%;
            padding: 0px 40px 40px;
        }
        .placeInfoTitle {
            font-family: $fontBreeSerif;
            font-size: 38px;
            color: $greyIncompanyCarouselImg;
            margin-bottom: 50px;
            &:before {
                width: 150px;
                height: 5px;
                background-color: $bluePlaceBar;
                content: '';
                display: block;
                margin-bottom: 40px;
            }
        }
        .placeInfoText {
            font-family: $fontRoboto;
            font-size: 20px;
            line-height: normal;
            color: $greyIncompanyCarouselImg;
        }
    }
    .placeFormBlock {
        width: 40%;
        position: relative;
        @media(max-width: 500px) {
            width: 100%
        }
        .placeFormContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            width: 80%;
            top: -80px;
            background-color: $greyFormBg;
            padding: 50px 0;
            -webkit-box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
            -moz-box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
            box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.05);
            @media(max-width: 500px) {
                position: relative;
                top: 0;
                margin: auto;
            }
            .titleFormTitle {
                width: 80%;
                padding: 0px 15px;
                font-family: $fontBreeSerif;
                font-size: 20px;
                color: $greyFormTitle;
                margin-bottom: 50px;
            }
            .placeFormButtonBlock {
                width: 80%;
                padding: 0 15px;
                display: flex;
                justify-content: flex-end;
            }
            .btnSub {
                background-color: $blueChoiceIndicateBtn;
                color: #fff;
                transition: all .3s;
                margin-top: 30px;
                &:hover {
                    background-color: #fff;
                    color: $blueChoiceIndicateBtn;
                    transition: all .3s;
                    cursor: pointer;
                }
            }
        }
    }
}
.slidersBlock {
    display: flex;
    @media(max-width: 800px) {
        flex-direction: column;
    }
}
.imgCarousel {
    position: relative;
    width: 50%;
    @media(max-width: 800px) {
        width: 100%;
    }
    .imgCarouselItem {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        .carouselItemImg {
            width: 50%;
            height: 300px;
            background-size: cover;
            background-position: center;
        }
    }
    .imgCarouselBtnBlock {
        position: absolute;
        background-color: #fff;
        padding: 40px 30px;
        width: 50%;
        height: 50%;
        bottom: 0;
        .imgCarouselBtnTitle {
            font-family: $fontBreeSerif;
            color: $greyIncompanyCarouselImg;
            font-size: 38px;
            @media(max-width: 500px) {
                font-size: 28px;
            }
        }
        .imgCarouselBtnContent {
            display: flex;
            width: 50%;
            margin-left: 50%;
            justify-content: flex-end;
            @media(max-width: 500px) {
                margin-top: 20px;
                display: flex;
                width: 50%;
                margin-left: 50%;
                justify-content: flex-end;
                position: absolute;
                bottom: 10px;
                right: 20px;
            }
            .slick-arrow {
                width: 40px;
                padding: 0;
                background-color: transparent;
                border: none;
                &:focus {
                    outline: none;
                }
                img {
                    transform: scale(.8);
                    transition: .3s;
                    &:hover {
                        transform: scale(1);
                        transition: .3s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.feedSlider {
    position: relative;
    width: 50%;
    @media(max-width: 800px) {
        width: 100%;
    }
    .feedSliderContent {
        height: 100%;
        .slick-list {
            height: 100%;
            .slick-track {
                height: 100%;
            }
        }
    }
    .feedSliderItem {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 100%;
        .feedItemImg {
            width: 50%;
            height: 300px;
            background-size: cover;
            background-position: center;
        }
        .feedItemTextBlock {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 50%;
            background-color: $blueDarkBgFeed;
            padding: 0 40px;
            @media(max-width: 800px) {
                height: 300px;
            }
            .feedText {
                font-family: $fontRoboto;
                color: $greyFeedText;
                font-size: 16px;
                line-height: 22px;
                max-height: 200px;
                overflow: auto;
            }
            .feedName {
                font-family: $fontBreeSerif;
                font-size: 20px;
                color: $greyFeedName;
                margin-top: 30px;
            }
        }
    }
    .feedSliderBtnBlock {
        background-color: #fff;
        padding: 40px 30px;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .imgFeedBtnTitle {
            font-family: $fontBreeSerif;
            color: $greyIncompanyCarouselImg;
            font-size: 38px;
            @media(max-width: 500px) {
                font-size: 28px;
            }
        }
        .imgFeedBtnContent {
            display: flex;
            width: 50%;
            margin-left: 50%;
            justify-content: flex-end;
            position: absolute;
            bottom: 10px;
            right: 20px;
            .slick-arrow {
                width: 40px;
                padding: 0;
                background-color: transparent;
                border: none;
                &:focus {
                    outline: none;
                }
                img {
                    transform: scale(.8);
                    transition: .3s;
                    &:hover {
                        transform: scale(1);
                        transition: .3s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}