@import 'variables';
.bannerTop {
    background-image: url(../images/ead/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width: 1440px) {
        background-position: right;
    }
    @media(max-width: 500px) {
        background-position: 80%;
    }
    .titleCover {
        top: calc(50% + 55px);
        background: rgb(98,33,171);
        background: -moz-linear-gradient(90deg, rgba(98,33,171,0.66) 33.33%, rgba(98,33,171,0.33) 66.66%, rgba(98,33,171,0) 99.99%);
        background: -webkit-linear-gradient(90deg, rgba(98,33,171,0.66) 33.33%, rgba(98,33,171,0.33) 66.66%, rgba(98,33,171,0) 99.99%);
        background: linear-gradient(90deg, rgba(98,33,171,0.66) 33.33%, rgba(98,33,171,0.33) 66.66%, rgba(98,33,171,0) 99.99%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6221ab",endColorstr="#6221ab",GradientType=1);
    }
}
.upgradeBlock {
    background-color: $greyEadBg;
    position: relative;
    // min-height: 400px;
    .container {
        display: flex;
        align-items: center;
        height: 100%;
        min-height: 600px;
        @media(min-width: 1920px) {
            min-height: 850px;
        }
        @media(max-width: 800px) {
            flex-direction: column;
            padding: 60px 0;
        }
        @media(max-width: 500px) {
            padding: 60px 10px;
        }
    }
    .upgradeBlockInfoBg {
        position: absolute;
        width: 48%;
        left: 2%;
        background-color: #fff;
        height: 70%;
        bottom: 0;
        @media(max-width: 800px) {
            display: none;
        } 
    }
    .upgradeBlockInfo, .upgradeBlockVideo {
        width: 50%;
        @media(max-width: 800px) {
            width: 100%;
        }
    }
    .upgradeBlockInfo {
        .upgradeBlockInfoContent {
            width: 50%;
            @media(max-width: 800px) {
                width: 100%;
            }
            .upgradeInfoTitle {
                font-family: $fontBreeSerif;
                color: $purple;
                line-height: normal;
                margin-bottom: 10px;
                @media(min-width: 1600px) {
                    font-size: 48px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    font-size: 28px;
                }
                @media(max-width: 800px) {
                    font-size: 48px;
                }
                &:before {
                    content: '';
                    display: block;
                    width: 50%;
                    height: 4px;
                    background-color: $purple;
                    // margin-top: -30px;
                    margin-top: -45%;
                    margin-bottom: 10px;
                    @media(max-width: 800px) { 
                        margin-top: 10px;
                    }
                }
            }
            .upgradeInfoText {
                font-family: $fontRoboto;
                color: $greyInfoText;
                line-height: normal;
                @media(min-width: 1600px) {
                    font-size: 24px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    font-size: 14px;
                    line-height: 200%;
                }
                @media(max-width: 800px) {
                    font-size: 24px;
                }
            }
        }
    }
    .upgradeBlockVideo {
        height: 100%;
        width: 60%;
        position: absolute;
        right: -60px;
        padding: 80px 0;
        @media(max-width: 1440px) and (min-width: 801px) {
            right: -20px;
        }
        @media(max-width: 800px) {
            position: inherit;
            right: inherit;
            width: 100%;
            height: 400px;
            padding: 0;
            margin: 30px 0;
        }
        .upgradeVideo {
            height: 100%;
            // background-image: url(../images/ead/upgrade.jpg);
            // background-size: cover;
            &.coverPlay {
                &:before {
                    content: '';
                    position: absolute;
                    right: calc(50% - 35px);
                    top: calc(50% - 35px);
                    display: block;
                    width: 70px;
                    height: 70px;
                    background-image: url(../images/ead/play-button.png);
                    background-repeat: no-repeat;
                    transform: scale(0.8);
                    transition: all .3s;
                }
                &:hover {
                    opacity: 0.95;
                    transition: all .3s;
                    &:before {
                        transform: scale(1.0);
                        transition: all .3s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.coursesBlock {
    display: flex;
    @media(max-width: 800px) {
        flex-direction: column;
    }
    .postMbaBlock, .postShorTermBlock {
        width: 50%;
        height: 828px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media(max-width: 800px) {
            width: 100%;
        }
        @media(max-width: 500px) {
            height: 414px;
        }
    }
    .postMbaBlock {
        background-image: url(../images/ead/red-post-mba.jpg);
    }
    .postShorTermBlock {
        background-image: url(../images/ead/blue-short-term.jpg);
    }
    .courseInfoBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        .courseTitle {
            font-family: $fontBreeSerif;
            text-align: center;
            font-size: 48px;
            color: #fff;
            margin-bottom: 25px;
            @media(max-width: 1024px) and (min-width: 801px) {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            @media(max-width: 500px) {
                font-size: 36px;
            }
        }
    }
}