@import 'variables';
.bannerTop {
    height: 650px;
    background-image: url(../images/fique-por-dentro/topBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media(max-width: 500px) {
        background-position: 80%;
    }
}
.infoFrame .container {
    padding: 0 90px;
    @media(max-width: 800px) {
        padding: 0 20px;
    }
    .infoFrameBtnContent {
        @media(max-width: 500px) {
            width: 100%;
            padding: 0 0 20px 0;
        }
    }
    .infoFrameSearchContent {
        @media(max-width: 500px) {
            padding: 20px 0;
        }
    }
}

.infoFrameFilterBlock {
    display: flex;
    height: 100%;
    align-items: center;
    .selectIpogChoice {
        max-width: 170px;
        .selectIpogChoiceSelected {
            padding: 0;
            min-height: 30px;
            color: $greyChoice;
            &:after {
                top: 5px;
                right: -5px;
            }
        }
        &.choiceUnderline {
            max-width: 115px;
            margin-right: 50px;
            @media(max-width: 800px) {
                margin-right: 25px;
            }
            .selectIpogChoiceSelected {
                border-bottom: 2px solid $greyBorderLine;
            }
        }
    }
}
.choiceBlockContent {
    .choiceButtonsBlock {
        display: flex;
        justify-content: center;
        max-width: 550px;
        margin: auto;
        border-bottom: 1px solid #fff;
        margin-bottom: 100px;
        @media(max-width: 500px) {
            margin-bottom: 50px;
        }
        .choiceBtnItem {
            font-family: $fontRoboto;
            font-size: 18px;
            padding: 30px 15px;
            margin-bottom: -2px;
            border-bottom: 3px solid transparent;
            @media(max-width: 500px) {
                text-align: center;
            }
            &:hover {
                border-bottom: 3px solid $blueChoiceBtnHover;
            }
        }
        .choiceBtnItem.choiceActive {
            border-bottom: 3px solid $blueChoiceBtn;
        }
    }
    .choiceContentItem {
        display: none;
        .choiceForm {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            max-width: 80%;
            margin: auto;
            .choiceInputBlock {
                display: flex;
                justify-content: center;
                width: 100%;
                @media(max-width: 500px) {
                    flex-wrap: wrap;
                }
            }
            .choiceInputItem {
                max-width: 300px;
                width: 100%;
                background-color: #fff;
                color: $greyCustomSelect;
                margin: 5px 15px;
                min-height: 50px;
                padding-left: 10px;
                border: none;
                @media(max-width: 800px) {
                    max-width: 245px;
                } 
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $greyCustomSelect;
                    opacity: 1; /* Firefox */
                    font-family: 'Roboto';
                    font-size: 16px;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: $greyCustomSelect;
                    font-family: 'Roboto';
                    font-size: 16px;
                }
                  
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: $greyCustomSelect;
                    font-family: 'Roboto';
                    font-size: 16px;
                }
            }
            .choiceBtnBlock {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                max-width: 650px;
                margin-top: 25px;
                @media(max-width: 500px) {
                    flex-direction: column;
                }
                .choiceBtn {
                    padding: 20px 25px;
                    border-radius: 50px;
                    color: #fff;
                    min-width: 150px;
                    border: none;
                    &:focus {
                        outline: none;
                    }
                    &:not(:last-of-type) {
                        margin-right: 20px;
                    }
                    @media(max-width: 500px) {
                        &:not(:last-of-type) {
                            margin-right: inherit;
                            margin-bottom: 20px
                        }
                    }
                }
                .choiceBtnAdd {
                    background-color: $greenChoiceBtn;
                    transition: .3s;
                    &:hover {
                        background-color: #fff;
                        color: $greenChoiceBtn;
                        transition: .3s;
                    }
                }
                .choiceBtnIndicate {
                    background-color: $blueChoiceIndicateBtn;
                    transition: .3s;
                    &:hover {
                        background-color: #fff;
                        color: $blueChoiceIndicateBtn;
                        transition: .3s;
                    }
                }
            }
        }
    }
    .choiceContentActive {
        display: block;
    }

}
.choiceBlock {
    background-image: inherit;
    height: inherit;
    padding: 100px 0;
    @media(max-width: 500px) {
        padding: 30px 0;
    }
    .choiceBlockContent {
        .choiceButtonsBlockContent {
            display: flex;
        }
        .choiceButtonsBlock {
            display: inline-flex;
            margin-bottom: 50px;
            max-width: inherit;
            border-color: $greyBorderLine2;
            .choiceBtnItem {
                &.choiceActive {
                    border-bottom: 3px solid $redHover;
                    color: $redHover;
                    font-weight: 700;
                }
                &:hover {
                    border-color: $redHoverLight;
                }
            }
        }
        .sliderDivChoiceBlock {
            .sliderDivChoice {
                .sliderDivChoiceItem {
                    padding: 25px;
                    // &:not(:last-child) {
                    //     padding-right: 25px;
                    // }                 
                    .choiceItemTopBlock {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        height: 150px;
                        background-color: $redBtnRound;
                        padding: 0 20px 27px;
                        .choiceItemTopText {
                            font-family: $fontRoboto;
                            color: #fff;
                            font-size: 30px;
                        }
                        .choiceItemTopMonth {
                            font-weight: 100;
                            text-transform: uppercase;
                        }
                    }
                    .choiceItemMainBlock, .choiceItemFooterBlock {
                        background-color: #fff;
                    }
                    .choiceItemMainBlock {
                        padding: 30px 25px;
                        height: 240px;
                        .choiceItemTitle {
                            font-family: $fontBreeSerif;
                            font-size: 20px;
                            height: 80px;
                            color: $greyNewsSlider;
                            margin-bottom: 25px;
                        }
                        .choiceItemText {
                            font-family: $fontRoboto;
                            color: $greyCourse;
                        }
                    }
                    .choiceItemFooterBlock {
                        display: flex;
                        justify-content: space-between;
                        border-top: 2px solid $greyFooterBar;
                        padding: 20px 25px;
                        .choiceItemFooterText {
                            font-family: $fontRoboto;
                            font-size: 18px;
                        }
                        .footerYear {
                            color: $greyCourse;
                        }
                        .footerReadmore {
                            color: $blueLinkReadMore;
                        }
                        a {
                            text-decoration: none;
                        }
                    }
                }
            }
            .sliderDivChoiceControl {
                position: relative;
                margin: auto;
                @media(max-width: 500px) {
                    width: 50%;
                }
                .slick-prev, .slick-next {
                    &::before {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        color: $redArrows;
                        opacity: 1;
                    }
                }
                .slick-prev {
                    &::before {
                        content: '\f060';
                    }
                }
                .slick-next {
                    &::before {
                        content: '\f061';
                    }
                }
                .slick-dots {
                    bottom: 0;
                    position: relative;
                    width: inherit;
                    display: inline-block;
                    vertical-align: sub;
                    li {
                        font-family: $fontRoboto;
                        color: $redLight;                        
                        &.slick-active {
                            color: $redBtnRound;
                        }
                    }
                }
            }
        }
    } 
}