@import 'variables';
.bannerTop {
    background-image: url(../images/fique-por-dentro-detalhe/banner-top-bg.jpg);
    background-size: cover;
    height: 650px;
    .container {
        align-items: flex-end;
        .breadcrumbsBlock {
            margin-bottom: 40px;
        }
    }
}
.courseBlock {
    padding: 130px 0;
    @media(max-width: 500px) {
        padding: 50px 0;
    }
    .container {
        display: flex;
    }
    .courseBlockContent {
        justify-content: space-between;
        @media(max-width: 500px) {
            flex-direction: column-reverse;
        }
    }
    .courseTitle {
        width: 55%;
        font-family: 'IntroRegular';
        font-size: 36px;
        color: $redText;
        margin-bottom: 40px;
    }
    .courseTextBlock {
        width: 55%;
        @media(max-width: 500px) {
            width: 100%;
        }
        .courseImgItem {
            background-image: url(../images/fique-por-dentro-detalhe/course-img.jpg);
            background-position: center;
            width: 100%;
            height: 515px;
            background-repeat: no-repeat;
            margin-bottom: 48px;
        }
        .courseText {
            font-family: $fontRoboto;
            font-size: 22px;
            font-weight: 400;
            color: $greyCourse;
            line-height: 35px;
            &:not(:last-of-type) {
                margin-bottom: 54px;
            }
            .courseTextBold {
                font-weight: 700;
            }
        }
        .courseTextTitle {
            font-family: $fontRoboto;
            font-size: 22px;
            font-weight: 700;
            color: $greyCourse;
            margin-bottom: 13px;
        }
    }
    .courseInfoBlock {
        width: 40%;
        @media(max-width: 500px) {
            width: 100%;
        }
        .courseInfoBlockContent {
            background-color: #fff;
            padding: 60px 40px;
            -webkit-box-shadow: 0px 0px 20px 0px rgba(212,212,212,1);
            -moz-box-shadow: 0px 0px 20px 0px rgba(212,212,212,1);
            box-shadow: 0px 0px 20px 0px rgba(212,212,212,1);
            .infoTextItem {
                font-family: $fontRoboto;
                font-size: 18px;
                color: $greyFormTitle;
                &:not(:last-of-type) {
                    margin-bottom: 55px;
                }
                .infoTextBold {
                    font-weight: 700;
                }
                a {
                    @media(max-width: 800px) {
                        word-break: break-all;
                    }
                }
            }
        }
    }
}
.relatedNewsBlock {
    .relatedTitle {
        font-family: $fontBreeSerif;
        font-size: 48px;
        color: $greyNewsSlider;
        margin-bottom: 105px
    }
    .containerSlider {
        margin: 0 10%;
        padding: 0;
        max-width: 90%;
    }
    .relatedSliderContent {
        // overflow: auto;
        overflow: hidden;
        .relatedSlider {
            .slick-list {
                margin-right: -250px;
                @media(max-width: 800px) {
                    margin: auto;
                }
            }
            .slick-prev,.slick-next {
                height: 100%;
            }
            .slick-prev {
                display: none !important;
            }
            .slick-next {
                position: absolute;
                // right: calc( -20% + 50px);
                // right: -270px;
                right: 0px;
                width: 65px;
                // @media(min-width: 1440px) {
                //     right: calc(50px - 250px);
                // }
                background: rgb(255,255,255);
                background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 33.33%, rgba(255,255,255,0.5) 66.66%, rgba(255,255,255,1) 99.99%);
                background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 33.33%, rgba(255,255,255,0.5) 66.66%, rgba(255,255,255,1) 99.99%);
                background: linear-gradient(90deg, rgba(255,255,255,0) 33.33%, rgba(255,255,255,0.5) 66.66%, rgba(255,255,255,1) 99.99%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
                &:before {
                    content: '';
                    display: block;
                    opacity: 1;
                    background-image: url(../images/slider-right.png);
                    transform: scale(0.5);
                    height: 58px;
                    width: 28px;
                    margin: auto;
                }
            }
            .relatedSliderItem {
                padding: 0 15px;
                .relatedSliderItemImg {
                    background-size: cover;
                    background-position: center;
                    height: 200px;
                }
                .relatedSliderItemContent {
                    padding: 20px;
                    background-color: #fff;
                    .relatedSliderTitle {
                        font-family: $fontBreeSerif;
                        font-size: 22px;
                        color: $greyNewsSlider;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        line-height: normal;
                    }
                    .relatedSliderText {
                        font-family: $fontRoboto;
                        font-size: 18px;
                        color: $greyCourse;
                        line-height: normal;
                    }
                }
                .relatedSliderItemFooter {
                    display: flex;
                    justify-content: space-between;
                    padding: 20px;
                    border-top: 2px solid $greyFooterBar;
                    background-color: #fff;
                    @media(max-width: 800px) and (min-width: 501px) {
                        flex-direction: column;
                    }
                    a {
                        text-decoration: none;
                    }
                    .relatedSliderFooterDate, .relatedSliderFooterAbout {
                        font-family: $fontRoboto;                        
                        font-size: 18px;
                    }
                    .relatedSliderFooterDate {
                        color: $greyCourse;                        
                    }
                    .relatedSliderFooterAbout {
                        color: $blueChoiceIndicateBtn;
                    }
                }
            }
        }
        .relatedSliderButtons {
            width: 215px;
            margin: auto;
            a {
                text-decoration: none;
            }
            .relatedBtn {
                width: 215px;
                text-align: center;
                background-color: #fff;
                color: $redBtnRound;
                margin: 70px auto 125px;
                transition: all .3s;
                &:hover {
                    background-color: $redBtnRound;
                    color: #fff;
                    transition: all .3s;
                }
            }
        }
    }
}