@import 'variables';
.bannerTop {
    position: relative;
    height: 900px;
    background-size: cover;
    background-image: url(../images/in-company/banner-top-bg.jpg);
    background-position: center;
    @media(min-width: 1600px) {
        background-position: center top;
    }
    @media(max-width: 500px) {
        background-position: 65%;
    }
    .titleCover {
        top: calc(50% - 60px);
        background: rgb(5,86,151);
        background: -moz-linear-gradient(90deg, rgba(5,86,151,0.66) 33.33%, rgba(5,86,151,0.33) 66.66%, rgba(5,86,151,0) 99.99%);
        background: -webkit-linear-gradient(90deg, rgba(5,86,151,0.66) 33.33%, rgba(5,86,151,0.33) 66.66%, rgba(5,86,151,0) 99.99%);
        background: linear-gradient(90deg, rgba(5,86,151,0.66) 33.33%, rgba(5,86,151,0.33) 66.66%, rgba(5,86,151,0) 99.99%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#055697",endColorstr="#055697",GradientType=1);
    }
}
.incompany {
    @media(min-width: 1600px) {
        padding: 175px 0 250px;
    }
    @media(max-width: 1599px) and (min-width: 801px) {
        padding: 85px 0 125px;
    }
    @media(max-width: 800px) {
        padding: 42px 0 65px;
    } 
    .mainTitle {
        display: inline-block;
        color: $bluePlaceBar;
        margin-bottom: 35px;
        &:before {
            content: '';
            display: block;
            width: 50%;
            height: 4px;
            margin-bottom: 25px;
            background-color: $bluePlaceBar;
        }
    }
    .incompanyMainBlock {
        display: flex;
        @media(max-width: 800px) {
            flex-direction: column;
        }
        .incompanyMainInfo {
            width: 50%;   
            @media(max-width: 800px) {
                width: 100%;
                padding: 0;
                margin-bottom: 20px;
            } 
            &:nth-child(1) {
                padding-right: 50px;
                @media(max-width: 800px) {
                    padding: 0;
                }
            }
            &:nth-child(2) {
                padding-left: 50px;
                @media(max-width: 800px) {
                    padding: 0;
                }
            }
            .mainText {
                color: $greyInfoText;
                line-height: 150%;
                &:not(:last-of-type) {
                    @media(min-width: 1600px) {
                        margin-bottom: 50px;  
                    }
                    @media(max-width: 1599px) and (min-width: 801px) {
                        margin-bottom: 25px;  
                    }
                    @media(max-width: 800px) {
                        margin-bottom: 25px;  
                    } 
                }
            }
            .btnRound {
                margin-top: 50px;
                top: 50px;  
            }
        }
    }
}
.operation {
    position: relative;
    .operationBlueCover {
        position: absolute;
        background-color: $bluePlaceBar;
        height: 100%;
        width: 50%;
        @media(max-width: 800px) {
            width: 100%;
        }
    }
    .container {
        display: flex;
    }
    .operationInfoBlock, .operationImgBlock {
        width: 50%;
        @media(max-width: 800px) {
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
        } 
    }
    .operationInfoBlock {
        height: 600px;
        overflow-x: hidden;
        overflow-y: hidden;
        .operationInfoBlockContent {
            overflow-y: scroll;
            height: 600px;
            width: calc(100% + 15px);
        }
        .operationInfoItem {
            padding: 25px 80px;
            position: relative;
            width: 80%;
            left: 20%;
            @media(max-width: 800px) {
                width: 95%;
                left: 5%;
            }
            &:hover {
                &:before {
                    content: '';
                    top: 0px;
                    width: 200%;
                    display: block;
                    height: 100%;
                    position: absolute;
                    left: -100%;
                    background-color: $blue2;
                    opacity: 0.8;
                }
                .infoItemTitle, .infoItemText {
                    color: $blue3;
                }
                .infoItemTitle {
                    &.comunication {
                        &:before {
                            background-image: url(../images/in-company/comunication-icon-hover.png)
                        }
                    }
                    &.law {
                        &:before {
                            background-image: url(../images/in-company/law-icon-hover.png)
                        }
                    }
                    &.education {
                        &:before {
                            background-image: url(../images/in-company/education-icon-hover.png);
                         }
                    }
                    &.eng-arch {
                        &:before {
                            background-image: url(../images/in-company/eng-arch-icon-hover.png);
                         }
                    }
                    &.business {
                        &:before {
                            background-image: url(../images/in-company/business-icon-hover.png);
                         }
                    }
                }
            }
            &.operationActive {
                &:before {
                    content: '';
                    top: 0px;
                    width: 200%;
                    display: block;
                    height: 100%;
                    position: absolute;
                    left: -100%;
                    background-color: $blue2;
                }
            }
            .infoItemTitle, .infoItemText {
                position: relative;
                color: #fff;
            }
            .infoItemTitle {
                font-family: $fontBreeSerif;
                @media(min-width: 1600px) {
                    font-size: 24px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    font-size: 24px;
                }
                @media(max-width: 800px) {
                    font-size: 24px;
                    margin-bottom: 20px;
                } 
                &.icon {
                    &:before {
                        content: '';
                        left: -82px;
                        top: 50%;
                        width: 52px;
                        height: 52px;
                        display: block;
                        position: absolute;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
                &.comunication {
                    &:before {
                       background-image: url(../images/in-company/comunication-icon.png);
                    }
                }
                &.law {
                    &:before {
                       background-image: url(../images/in-company/law-icon.png);
                    }
                }
                &.education {
                    &:before {
                        background-image: url(../images/in-company/education-icon.png);
                     }
                }
                &.eng-arch {
                    &:before {
                        background-image: url(../images/in-company/eng-arch-icon.png);
                     }
                }
                &.business {
                    &:before {
                        background-image: url(../images/in-company/business-icon.png);
                     }
                }
            }
            .infoItemText {
                font-family: $fontRoboto;
            }
        }
    }
    .operationImgBlock {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        @media(max-width: 800px) {
            position: relative;
            height: 450px;
            margin-bottom: 0;
            background-position: center;
        }
        .operationImgBlockItem {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
    }
}
.partnership {
    position: relative;
    @media(max-width: 800px) {
        background-color: $blue4;
    }
    .partnershipBlueCover {
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: $blue4;
        @media(max-width: 800px) {
            // width: 100%;
            // height: 50%;
            // bottom: 0;
            display: none;
        }
    }
    .container {
        display: flex;
        align-items: center;
        @media(max-width: 800px) {
            flex-direction: column;
        }
    }
    .successBlock, .coursesBlock {
        width: 50%;
        @media(max-width: 800px) {
            width: 100%;
        }
    }
    .successBlock {
        padding-right: 80px;
        @media(max-width: 800px) {
            margin-bottom: 40px;
            padding-right: 0;
        }
        .mainTitle {
            display: inline-block;
            color: $blue4;
            margin-bottom: 40px;
            line-height: normal;
            @media(max-width: 800px) {
                color: #fff;
            }
            &:before {
                content: '';
                display: block;
                width: 50%;
                height: 4px;
                background-color: $blue4;
                margin-bottom: 32px;
            }
        }
        .mainText {
            line-height: normal;
            &:not(:last-of-type) {
                margin-bottom: 35px;
            }
            @media(max-width: 800px) {
                color: #fff;
            }
        }
        .btnRound {
            top: 50px;
            left: -10px;
        }
    }
    .coursesBlock {
        padding: 80px 0;
        .courseItem {
            position: relative;
            padding-left: 180px;
            &:not(:last-of-type) {
                margin-bottom: 80px;
            }
            @media(max-width: 800px) {
                padding-left: 0;
            }
            &:before {
                content: '';
                top: 5px;
                position: absolute;
                left: 50px;
                display: block;
                width: 92px;
                height: 92px;
                background-image: url(../images/in-company/check-icon.png);
                background-size: contain;
                background-repeat: no-repeat;
                @media(max-width: 800px) {
                    position: inherit;
                    margin-bottom: 20px;
                    left: inherit;
                }
            }
            .courseItemTitle {
                font-family: $fontBreeSerif;
                color: $blue5;
                line-height: normal;
                margin-bottom: 13px;
                @media(min-width: 1600px) {
                    font-size: 28px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    font-size: 24px;
                }
                @media(max-width: 800px) {
                    font-size: 24px;
                }
            }
            .courseItemText {
                font-family: $fontRoboto;
                color: #fff;
                line-height: normal;
                margin-bottom: 23px;
                @media(min-width: 1600px) {
                    font-size: 18px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    font-size: 14px;
                }
                @media(max-width: 800px) {
                    font-size: 18px;
                }
            }
            .courseBtn {
                position: relative;
                font-family: $fontRoboto;
                color: #fff;
                text-decoration: none;
                padding-left: 30px;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0; 
                    height: 0; 
                    left: 0;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent; 
                    border-left: 12px solid $bluePlaceBar; 
                    border-right: 0px solid $bluePlaceBar; 
                    transition: left .3s;
                }
                &:hover {
                    color: $bluePlaceBar;
                    &:before {
                        left: 10px;
                        transition: left .3s;
                    }
                }
            }
        }
    }
}
.gallery {
    background-image: url(../images/in-company/post_bg.jpg);
    background-size: cover;
    padding: 200px 0;
    display: flex;
    @media(min-width: 1600px) {
        padding: 200px 0;
    }
    @media(max-width: 1599px) and (min-width: 801px) {
        padding: 100px 0;
    }
    @media(max-width: 800px) {
        padding: 50px 0;
    } 
    @media(max-width: 1024px) {
        flex-direction: column;
    }
    .galleryInfoBlock {
        padding-left: 15%;
        width: 40%;
        @media(max-width: 1024px) {
            width: 60%;
            margin-bottom: 100px;
        }
        @media(max-width: 800px) {
            width: 80%;
        }
        .galleryInfoTitle {
            font-family: $fontBreeSerif;
            color: #fff;
            line-height: normal;
            margin-bottom: 20px;
            @media(min-width: 1600px) {
                font-size: 48px;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                font-size: 36px;
            }
            @media(max-width: 800px) {
                font-size: 48px;
            }
        }
        .galleryinfoText {
            font-family: $fontRoboto;
            color: #fff;
            line-height: normal;
            @media(min-width: 1600px) {
                font-size: 24px;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                font-size: 18px;
            }
            @media(max-width: 800px) {
                font-size: 24px;
            }
        }
        .btnRound {
            top: 50px;
        }
    }
    .galleryBlock {
        width: calc(60% - 15%);
        margin-left: 15%;
        @media(min-width: 1600px) {
            width: calc(60% - 10%);
            margin-left: 10%;
        }
        @media(max-width: 1599px) and (min-width: 1025px) {
            width: calc(60% - 15%);
            margin-left: 15%;
        }
        @media(max-width: 1024px) {
            width: calc(100% - 15%);
            margin-bottom: 100px;
        }
        @media(max-width: 800px) {
            margin-left: inherit;
        }
        @media(max-width: 800px) {
           margin-bottom: 0;
        }
        .galleryItem {
            height: 335px;
            width: 100%;
            padding: 20px 0px 20px 50px;
            .galleryItemBg {
                background-size: cover;
                width: 99%;
                height: 100%;
            }
        }
        .slick-prev {
            display: none !important;
        }
        .slick-next {
            @media(min-width: 1600px) {
                right: 0;
                /* top: 145px; */
                width: 33%;
                position: absolute;
                padding: 20px 0px 20px 45px;
                height: 100%;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                right: 0;
                /* top: 145px; */
                width: 50%;
                position: absolute;
                padding: 20px 0px 20px 50px;
                height: 100%;
            }
            @media(max-width: 800px) {
                right: 0;
                /* top: 145px; */
                width: 50%;
                position: absolute;
                padding: 20px 0px 20px 50px;
                height: 100%;
            }
            @media(max-width: 500px) {
                position: relative;
                margin: auto;
                margin-top: 30px;
                left: 20px;
                width: 60px;
                height: 60px;
                padding: 0;
                &:before {
                    width: 60px;
                    height: 60px;
                }
            }
            &:before {
                content: '';
                display: block;
                margin: auto;
                background-size: auto;
                background-repeat: no-repeat;
                background-image: url(../images/in-company/right-arrow-btn.png);
                background-position: center;
                width: 100%;
                height: 100%;
                background-color: rgba(255,255,255,0.8);
            }
        }
        .slick-list {
            position: relative;
        }
    }
}