@import 'variables';

.bannerTop {
    background-image: url(../images/interna-curta-duracao/banner-top-bg.jpg);
    background-size: cover;
    background-position: center;
    .titleCover {
        top: calc(50% + 60px);
        background: rgb(248,177,65);
        background: -moz-linear-gradient(90deg, rgba(248,177,65,0.66) 33.33%, rgba(248,177,65,0.33) 66.66%, rgba(248,177,65,0) 99.99%);
        background: -webkit-linear-gradient(90deg, rgba(248,177,65,0.66) 33.33%, rgba(248,177,65,0.33) 66.66%, rgba(248,177,65,0) 99.99%);
        background: linear-gradient(90deg, rgba(248,177,65,0.66) 33.33%, rgba(248,177,65,0.33) 66.66%, rgba(248,177,65,0) 99.99%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8b141",endColorstr="#f8b141",GradientType=1);
    }
}
.shortTerm {
    .container {
        display: flex;
        @media(min-width: 1600px) {
            padding: 140px 0 70px;
        }
        @media(max-width: 1599px) and (min-width: 801px) {
            padding: 70px 0 35px;
        }
        @media(max-width: 800px) {
            padding: 70px 0 35px;
            flex-direction: column;
        }
        @media(max-width: 500px) {
            padding: 70px 15px 35px;
        }
    }
    .shortTermTitleContent {
        width: 40%;
        @media(max-width: 800px) {
            margin: 0 auto 40px;
        }
        @media(max-width: 500px) {
            width: 100%;
        }
        .mainTitle {
            color: $greyInfoBold;
            &:before {
                content: '';
                display: block;
                width: 40%;
                height: 4px;
                background-color: $yellow;
                margin-top: -20px;
                margin-bottom: 20px;
            }
        }
    }
    .shortTermTextContent {
        width: 60%;
        @media(max-width: 800px) {
            width: 100%;
        }
        .shortTermText {
            font-family: $fontRoboto;
            line-height: 150%;
            color: $greyInfoText;
            &:not(:last-of-type) {
                @media(min-width: 1600px) {
                    margin-bottom: 60px
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    margin-bottom: 30px
                }
                @media(max-width: 800px) {
                    margin-bottom: 30px
                }
            }
            @media(min-width: 1600px) {
                font-size: 24px;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                font-size: 18px;
            }
            @media(max-width: 800px) {
                font-size: 24px;
            }
            @media(max-width: 500px) {
                font-size: 18px;
            }
        }
    }
}
.choiceBlock {
    background-image: url(../images/interna-curta-duracao/sliders-block-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    .mainTitle {
        text-align: center;
        color: #fff;
        @media(min-width: 1600px) {
            padding: 110px 0 80px;
        }
        @media(max-width: 1599px) and (min-width: 801px) {
            padding: 55px 0 40px;
        }
        @media(max-width: 800px) {
            padding: 55px 0 40px;
        }
    }
    .allCoursesBlock {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 40px;
    }
}
.choiceButtonsBlockContent {
    display: flex;
    justify-content: center;
}
.choiceButtonsBlock {
    display: inline-flex;
    margin-bottom: 50px;
    max-width: inherit;
    border-color: $greyBorderLine2;
    border-bottom: 1px solid $greyBorderLine2;
    @media(max-width: 800px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        border-bottom: none;
    }
    .choiceBtnItem {
        font-family: $fontRoboto;
        color: #fff;
        margin: 0 10px -2px;
        padding: 0 5px 30px;
        text-align: center;
        line-height: normal;
        border-bottom: 3px solid transparent;
        @media(max-width: 800px) {
            cursor: pointer;
            padding: 10px 5px 10px;
            border-bottom: 3px solid transparent;
        }
        &.choiceActive {
            border-bottom: 3px solid $yellow;
            color: $yellow;
            // @media(max-width: 800px) {
            //     border-bottom: transparent;
            // }
        }
        &:hover {
            border-bottom: 3px solid $yellowHover;
            // @media(max-width: 800px) {
            //     border-bottom: transparent;
            // }
        }
    }
}
.slideCoursesItem {
    height: 600px;
    @media(min-width: 1600px) {
        height: 600px;
    }
    @media(max-width: 1599px) and (min-width: 801px) {
        height: 600px;
    }
    @media(max-width: 800px) {
        height: 600px;
    }
    .slideCoursesItemBlock {
        display: flex;
        flex-direction: column;
        height: 100%;
        .slideItemBlock {
            display: flex;
            height: 50%;
        }
        .slideItemImgBlock, .slideItemTextBlock {
            width: 50%;
        }
        .slideItemImgBlock {
            background-image: url(../images/interna-curta-duracao/post-img1.jpg);
            background-size: cover;
            background-position: center;
        }
        .slideItemTextBlock {
            background-color: $greyPostBg;
            @media(min-width: 1600px) {
                padding: 60px 30px 0;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                padding: 30px 15px 0;
            }
            @media(max-width: 800px) {
                padding: 30px 15px 0;
            }
            &:hover {
                background-color: $yellow;
                .slideItemTitle {
                    &:after {
                        background-color: #fff;
                    }
                }
                .slideItemLink {
                    color: #fff;
                }
            }
            .slideItemTitle {
                font-family: $fontBreeSerif;
                color: $greyInfoBold;
                line-height: normal;
                font-weight: 400;
                @media(min-width: 1600px) {
                    font-size: 24px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    font-size: 20px;
                }
                @media(max-width: 800px) {
                    font-size: 24px;
                }
                @media(max-width: 500px) {
                    font-size: 18px;
                }
                &:after {
                    content: '';
                    display: block;
                    height: 5px;
                    width: 25px;
                    background-color: $yellow;
                    margin: 20px 0;
                }
            }
            .slideItemLink {
                font-family: $fontRoboto;
                color: $yellow;
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                    &:after {
                        margin-left: 14px;
                        transition: margin-left .3s;
                    }
                }
                &:after {
                    content: '>';
                    margin-left: 8px;
                    font-size: 24px;
                    transition: margin-left .3s;
                }
            }
        }
    }
}
// .slideCourses {
    
// }
.slick-prev {
    left: -75px; 
    &:before {
        display: block;
        content: '';
        background-size: cover;
        background-image: url(../images/interna-curta-duracao/prev-arrow.png);
        width: 39px;
        height: 81px;
    }
    @media(max-width: 500px) {
        left: -95px;
    }
}
.slick-next {
    right: -75px; 
    @media(max-width: 800px) and (min-width: 501px) {
        right: -55px;
    }
    &:before {
        display: block;
        content: '';
        background-size: cover;
        background-image: url(../images/interna-curta-duracao/next-arrow.png);
        width: 39px;
        height: 81px;
    }
}
.slideCoursesBtnBlock {
    @media(max-width: 800px) {
        height: 60px;
        position: relative;
        width: 25%;
        margin: auto;
    }
}