@import 'reset';
@import 'variables';
@import 'menu';
@import 'select';
@import 'custom-select2';
@import 'footer';

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

.bannerTop {
    .container  {
        display: flex;
        align-items: center;
        height: 100%;
        .bannerTopTitulo {
            font-family: 'IntroRegular';
            font-size: 60px;
            color: #fff;
            font-weight: 400;
            @media(min-width: 801px) and (max-width: 1330px) {
              font-size: 40px;
            }
            @media(max-width: 500px) {
                font-size: 40px;
            }
        }
        .breadcrumbsBlock {
          .breadcrumbsList {
            display: flex;
            .breadcrumbsListItem {
              display: flex;
              font-family: $fontRoboto;
              font-size: 18px;
              font-weight: 400;
              color: #fff;
              &:not(:last-of-type) {
                &:after {
                  content: '>';
                  display: block;
                  width: 52px;
                  text-align: center;
                }
              }
            }
          }
        }  
    }
}
.inputItem {
    max-width: 300px;
    width: 100%;
    background-color: #fff;
    color: $greyCustomSelect;
    margin: 5px 15px;
    min-height: 50px;
    padding-left: 10px;
    border: none;
    @media(max-width: 800px) {
        max-width: 245px;
    } 
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $greyCustomSelect;
        opacity: 1; /* Firefox */
        font-family: 'Roboto';
        font-size: 16px;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $greyCustomSelect;
        font-family: 'Roboto';
        font-size: 16px;
    }
      
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $greyCustomSelect;
        font-family: 'Roboto';
        font-size: 16px;
    }
    &:focus {
        outline: none;
    }
}  
.btnRound {
    background-color: #fff;
    padding: 20px 30px 20px 40px;
    border-radius: 60px;
    position: relative;
    font-family: 'Roboto';
    font-size: 18px;
    color: $redBtnRound;
    transition: all .3s;
    &:hover {
        text-decoration: none;
        background-color: $redBtnRound;
        color: #fff;
        transition: all .3s;
        &:before {  
            left: 30px;
            transition: left .3s;
        }
    }
    &:before {  
        font-family: "Font Awesome 5 Free";
        content: '\f0da';
        font-weight: 900;
        font-size: 20px;
        position: absolute;
        left: 25px;
        transition: left .3s;
    }
}
.choiceBtn {
    padding: 20px 25px;
    border-radius: 50px;
    color: #fff;
    min-width: 150px;
    border: none;
    &:focus {
        outline: none;
    }
    &:not(:last-of-type) {
        margin-right: 20px;
    }
    @media(max-width: 500px) {
        &:not(:last-of-type) {
            margin-right: inherit;
            margin-bottom: 20px
        }
    }
}
.titleCover {
    position: absolute;
    height: 110px;
    width: 50%;
    top: calc(50% - 60px);
    background: rgb(96,172,191);
    background: -moz-linear-gradient(90deg, rgba(96,172,191,0.6) 60%, rgba(81,146,162,0.3) 80%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(96,172,191,0.6) 60%, rgba(81,146,162,0.3) 80%, rgba(0,0,0,0) 100%);
    background: linear-gradient(90deg, rgba(96,172,191,0.6) 60%, rgba(81,146,162,0.3) 80%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#60acbf",endColorstr="#000000",GradientType=1);
    @media(max-width: 800px) {
        top: calc(50% - 90px)
    }
}
.container {
    position: relative;
    .bannerTopTitulo {
        font-size: 40px;
    }
}

// ######### MENU SECUNDARIO ACADEMICO #########
.infoFrame {
  margin-top: -75px;
  .container {
      display: flex;
      background-color: #fff;
      height: 150px;
      @media(min-width: 801px) {
        justify-content: space-between;
      }
      @media(max-width: 500px) {
        padding: 30px 20px;
        height: inherit;
        align-items: center;
        flex-direction: column-reverse;
      }
      .infoFrameBtnContent {
          width: calc(100% - 362px);
          @media(max-width: 500px) {
            width: 100%;
          }
          .listInfoFrameBtn {
              flex-wrap: wrap;
              @media(max-width: 500px) {
                  flex-wrap: wrap;
                  flex-direction: row;
              }
             .listInfoFrameItem {
                  display: flex;
                  align-items: center;
                  padding: 0px 30px;
                  height: 100%;
                  border-bottom: 3px solid transparent;
                  font-family: $fontRoboto;
                  font-size: 16px;
                  color: $greyInfo;
                  @media(max-width: 1100px) {
                    width: 45%;
                    height: 33%;
                  }
                  @media(max-width: 500px) {
                      padding: 15px 30px;
                  }
                  &:hover {
                    color: $redBtnRound;
                  }
             }
             .listInfoFrameItem.active {
                  border-bottom: 3px solid $redBtnRound;
                  color: $redBtnRound;
             }
          }
      }
      .listInfoFrameBtn, .infoFrameSearchContent {
          display: flex;
          align-items: center;
          height: 100%
      }
      .infoFrameSearchContent {
            width: 300px;
            display: flex;
            justify-content: flex-end;
          @media(min-width: 1600px) {
            width: 362px;
          }
          .infoSearchInput {
              width: 100%;
              border-radius: 30px;
              border: 1px solid $greySearch;
              font-family: $fontRoboto;
              padding: 20px 25px;
              &:focus {
                  outline: none; 
              }
              &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                  color: $greySearchText;
                  opacity: 1; /* Firefox */
                  font-family: $fontRoboto;
                  // padding: 5px 10px;
              }
              
              &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                  color: $greySearchText;
                  font-family: $fontRoboto;
                  // padding: 5px 10px;
              }
              
              &::-ms-input-placeholder { /* Microsoft Edge */
                  color: $greySearchText;
                  font-family: $fontRoboto;
                  // padding: 5px 10px;
              }
          }
      }
  }
}

.mainInfo {
  @media(min-width: 1600px) {
    margin-top: 130px;
  }
  @media(max-width: 1599px) and (min-width: 801px) {
    margin-top: 80px;
  }
  @media(max-width: 800px) {
    margin-top: 40px;
  }
  @media(max-width: 500px) {
    margin-top: 32px;
  }
  .container {
    padding: 0;
  }
  .infoItemBlock {
    @media(max-width: 500px) {
      padding: 0 25px;
    }
      .infoItemTitle {
          font-family: $fontBreeSerif;
          font-size: 48px;
          color: $redHover;
          @media(min-width: 1600px) {
            font-size: 48px;
          }
          @media(max-width: 1599px) and (min-width: 801px) {
              font-size: 32px;
          }
          @media(max-width: 800px) {
              font-size: 24px;
          }
          @media(max-width: 500px) {
              font-size: 36px;
          }
      }
      .infoItemContent {
          margin-top: 45px;
          margin-bottom: 60px;
          .infoItemContentTitle, .infoItemContentText {
              font-family: $fontRoboto;
              font-size: 24px;
              @media(min-width: 1600px) {
                font-size: 24px;
              }
              @media(max-width: 1599px) and (min-width: 801px) {
                font-size: 18px;
              }
              @media(max-width: 800px) {
                  font-size: 24px;
              }
              @media(max-width: 500px) {
                  font-size: 24px;
              }
          }
          .infoItemContentTitle {
              font-weight: bold;
              color: $greyInfoText;
              margin-bottom: 23px;
          }
          .infoItemContentText {
              color: $greyInfoBold;
              line-height: 166.67%;
          }
      }
  }
}

.mainTitle {
  font-family: $fontBreeSerif;
  @media(min-width: 1600px) {
    font-size: 48px;
  }
  @media(max-width: 1599px) and (min-width: 801px) {
      font-size: 36px;
  }
  @media(max-width: 800px) {
      font-size: 24px;
  }
}
.mainText {
  font-family: $fontRoboto;
  @media(min-width: 1600px) {
    font-size: 24px;
  }
  @media(max-width: 1599px) and (min-width: 801px) {
      font-size: 18px;
  }
  @media(max-width: 800px) {
      font-size: 24px;
  }
}
.bold {
  font-weight: bold;
}

// ESTILO MEGAFONE
/* o nosso checkbox não precisa estar visível para que possamos
   acessar sua pseudo-classe :checked, sendo assim nós definimos
   o display como none, que vai funcionar como se o nosso elemento
   nem estivesse no DOM, não irá ocupar nenhum espaço, ao contrário
   do que seria se simplesmente definissemos opacity:0 */
   #loudspeakerMenuTgl {
    display: none;
  }
  
  /* aqui aparece o primeiro uso do nosso seletor ~, esse seletor
     é usado quando queremos selecionar os próximos elementos na
     árvore, desde que estejam no mesmo nivel, no nosso caso o
     input[type=checkbox] está na mesma hierarquia que a nossa nav.menu */
  #loudspeakerMenuTgl ~ .loudspeakerNav {
    box-sizing: border-box;
    position: fixed;
    // right: 0;
    right: calc( -350px * 2);
    width: 350px;
    height: 100%;
    // background: #101925;
    background: #fff;
    font-family: Verdana;
    padding: 80px 27px;
    // padding-top: 20px;
    // padding-left: 40px;
    transform: translateX(-100%);
    transition: transform 0.7s ease;
    top: 0;
    z-index: 100;
    @media(max-width: 500px) {
      right: calc( -260px * 2);
      width: 260px;
    }
  }
  /* pre-fixos: eu não estou utilizando nenhum pré-fixo nesse arquivo
     para não deixar muito longo o nosso post(mais do que ja está) */
  
  /* aqui usamos novamente o seletor ~, se olharem direito
     como nosso label.menu-btn está dentro da nossa nav.menu
     só conseguimos acessa-la se formos pelo nav.loudspeakerNav que está
     na mesma hierarquia que nosso input#loudspeakerMenuTgl */
  #loudspeakerMenuTgl ~ .loudspeakerNav .menu-btn {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    // right: -120px;
    right: 350px;
    // width: 100px;
    // top: 20px;
    top: 30%;
    font-family: Verdana;
    cursor: pointer;
    // background-color: #101925;
    background-color: $greyFormBg;
    color: #fff;
    // padding: 10px 18px;
    width: 53px;
    height: 59px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    @media(max-width:500px) {
      right: 260px;
    }
  }
  /* Aqui um bônus, para mudar o texto dentro do nosso label
     nós utilizaremos o pseudo-elemento ::after, assim 
     temos algo ainda mais interativo pro usuário,
     quando estiver fechado irá aparecer "ABRIR" */
  #loudspeakerMenuTgl ~ .loudspeakerNav .menu-btn::after {
    // content:"ABRIR";
    content:"";
    display: block;
    margin: auto;
    background-image: url(../images/loudspeaker-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 36px;
    height: 22px;
  }
  
  /* Aqui vem a magia do aparecimento da barra
     quando nosso input#loudspeakerMenuTgl estiver selecionado 
     a nossa barra irá deslizar suavemente para fora 
     da lateral esquerda */
  #loudspeakerMenuTgl:checked ~ .loudspeakerNav {
    // transform: translateX(0%);
    transform: translateX(-200%);
  }
  /* e o texto será alterado para "FECHAR" */
  // #loudspeakerMenuTgl:checked ~ .loudspeakerNav .menu-btn::after {
  //   content:"fechar";
  // }

  .loudspeakerPostMenu {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    .loudspeakerPostMenuItem {
      cursor: pointer;
      font-family: $fontRoboto;
      position: relative;
      margin: 20px;
      &:first-of-type {
        &.activeLoud {
          &::after {
            padding-left: 19px;
          }
        }
        &::after {
          content: '';
          position: absolute;
          width: 1px;
          height: 100%;
          border-right: 1px solid #000;
          padding-left: 20px;
        }
      }
      &.activeLoud {
        color: $red2;
        font-weight: 700;
      }
    }
  }
  .loudspeakerNavTitle {
    font-family: 'IntroRegular';
    color: $red3;
    text-align: center;
    margin-bottom: 10px;
  }
  .loudspeakerPostBlock {
    height: 450px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 40px;
    .loudspeakerPostBlockContent {
      @media(max-width: 500px) {
        width: 90%
      }
      .loudspeakerPostBlockItem {
        position: relative;
        height: 400px;
        width: 110%;
        overflow-y: scroll;
        margin-top: 40px;
        &:not(:first-of-type) {
          display: none;
        }
        .postItem {
          display: flex;
          margin-bottom: 40px;
          &:first-child {
            margin-top: 0;
          }
          .postItemImg {
            width: 62px;
            height: 62px;
            background-color: $redBtnRound;
            padding-left: 11px;
            padding-top: 14px;
            .postItemDateText {
              color: #fff;
              font-family: $fontRoboto;
              // line-height: 81.82%;
              line-height: 100%;
              @media(min-width: 1600px) {
                font-size: 22px;
              }
              @media(max-width: 1599px) and (min-width: 801px) {
                font-size: 22px;
              }
              @media(max-width: 800px) {
                font-size: 18px;
              }
            }
            .postDay {
              font-weight: bold;
            }
            .postMonth {
              font-weight: 300;
            }
          }
          .postItemInfo {
            width: calc(100% - 62px);
            .postItemText {
              padding: 0 10px;
              font-family: $fontRoboto;
              font-size: 12px;
              line-height: normal;
            }
          }
        }
      }
    }
  }

// FIM ESTILO MEGAFONE

// ANTIGO STYLE

@font-face {
    font-family: 'BreeSerif';
    src: url('../fonts/BreeSerif/BreeSerif-Regular.woff') format('woff'),
    url('../fonts/BreeSerif/BreeSerif-Regular.ttf') format("opentype");
}

@font-face {
    font-family: 'MyriadPro Regular';
    src: url('../fonts/MyriadPro/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
    font-family: 'IntroRegular';
    src: url('../fonts/IntroRegular/Intro.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Light';
    font-weight: 100;
    src: url('../fonts/Roboto/Roboto-Light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Bold';
    font-weight: 100;
    src: url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
}

body {
    font-family: 'BreeSerif';
    overflow-x: hidden;
    background-color: #f0f0f0;
  }
  
//   .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-12 {
//     float: left;
//   }
  
  .btn {
    color: #be1a18;
    background: #FFF;
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto Bold';
    font-size: 16px;
    border-radius: 28px;
    padding: 20px 44px;
    &:hover {
      background: #be1a18;
      color: #ffffff;
      transition: 200ms;
    }
  }
  
  /**
      BANNER
  **/
  
  .containerHome .banner {
    position: relative;
    .secondMenu {
      position: absolute;
      z-index: 999;
      background-color: #00000030;
      font-weight: 100;
      text-transform: uppercase;
      width: 100%;
      padding-left: 8%;
      padding-top: 20px;
      padding-bottom: 20px;
      li {
        list-style: none;
        float: left;
        font-weight: 100;
        padding-right: 40px;
        a {
          color: #FFF;
          font-size: 14px;
          text-decoration: none;
          font-weight: 300;
        }
        &.headerBusca {
          float: right;
          padding-right: 13%;
          position: relative;
          input.buscaGeral {
            background: transparent;
            border: 2px solid #cccecf;
            padding: 2px 6px;
            font-size: 13px;
            color: #FFF;
            font-family: 'Roboto';
            border-radius: 20px;
            width: 170px;
          }
          .btnBuscaGeral {
            color: #cccecf;
            background: transparent;
            border: 0;
            position: absolute;
            top: 0px;
            left: 135px;
            i {
              font-size: 15px;
            }
          }
        }
      }
    }
    .slick-slide {
      height: 100vh;
    }
    .bannerHome .item {
      background-size: cover;
      background-repeat: no-repeat;
      .buscaCursos {
        background: transparent;
        border: 1px solid #FFF;
        padding: 10px 20px;
        color: #FFF;
        border-radius: 20px;
        font-size: 13px;
        width: 290px;
        margin-top: 1%;
        margin-left: 11%;
      }
      h2 {
        font-family: 'IntroRegular';
        color: #FFF;
        font-size: 42px;
        padding-left: 11%;
        padding-top: 14%;
      }
    }
  }
  
  .icon-scroll {
    position: absolute;
    left: 50%;
    &:before {
      position: absolute;
      left: 50%;
      content: '';
      width: 6px;
      height: 6px;
      background: #fff;
      margin-left: -3px;
      top: 8px;
      border-radius: 4px;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-name: scroll;
    }
    width: 30px;
    height: 48px;
    margin-left: -20px;
    bottom: 15px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 25px;
  }
  
  input {
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
      font-family: 'Roboto';
      color: #FFF;
      font-size: 13px;
    }
  }
  
  /**
      HISTÓRIA
  **/
  
  .historia {
    padding-top: 90px;
    .container .col-md-6 {
      &:first-child {
        padding-left: 0;
        position: relative;
        float: left;
      }
      &:nth-child(2) {
        padding-right: 0;
        float: left;
        padding-left: 80px;
      }
    }
    .imagemDestaque {
      margin-left: 100px;
      img {
        height: 400px;
      }
    }
    .descHistoria {
      a {
        color: #FFF;
        padding-left: 20px;
        font-size: 15px;
        text-decoration: none;
      }
      h3 {
        font-size: 36px;
        padding-left: 20px;
        padding-top: 35px;
      }
      position: absolute;
      background: #be1a18;
      color: #FFF;
      width: 250px;
      height: 300px;
      padding-top: 35px;
      top: 0;
    }
    .tituloEnsino {
      text-transform: uppercase;
      font-size: 35px;
    }
    .descEnsino {
      font-family: 'Roboto';
      color: #696969;
      font-weight: 300;
      font-size: 18px;
      padding-top: 15px;
    }
    .video {
      float: left;
      width: 100%;
      img {
        float: left;
        padding-right: 25px;
      }
      h4 {
        color: #424242;
        margin-bottom: 70px;
      }
      a {
        text-decoration: none;
        color: #be1a18;
        font-family: 'Roboto';
        text-transform: uppercase;
        background: #FFF;
        padding: 16px 41px;
        border-radius: 43px;
        -webkit-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
        -moz-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
        box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
      }
    }
  }
  
  /**
      CURSOS
  **/
  
  .cursos {
    margin-top: 90px;
    margin-bottom: 100px;
    .bgCurso {
      background: #465d68;
      width: 85%;
      height: 319px;
      right: 0;
      position: absolute;
    }
    h3 {
      font-family: 'BreeSerif';
      background: #78909c;
      color: #FFF;
      text-align: center;
      width: 95%;
      z-index: 99999;
      position: relative;
      margin: -15px auto;
      font-size: 20px;
      padding: 10px 0;
    }
    .featured {
      background: #d69225;
    }
    .listaCursos {
      width: 88%;
      margin-right: 40px;
      float: right;
      margin-top: 90px;
      .itemCurso {
        width: 15%;
        margin-right: 14px;
        float: left;
        &:last-child {
          margin-right: 0;
        }
        img {
          width: 100%;
          position: relative;
          z-index: 0;
        }
      }
    }
  }
  
  @keyframes scroll {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      transform: translateY(46px);
    }
  }
  
  
  /**
      NOTÍCIAS
  **/
  
  .noticias {
    h3 {
      text-align: center;
      font-size: 44px;
      color: #424242;
      margin-bottom: 80px;
      margin-top: 30px;
    }
    .slick-dotted.slick-slider {
      margin-bottom: 80px;
    }
    .itemNoticia img {
      width: 100%;
    }
    a.ver-todos {
      -webkit-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
      -moz-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
      box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
      background: #FFF;
      color: #a31e1c;
      padding: 14px 60px;
      border-radius: 40px;
      text-transform: uppercase;
      display: block;
      width: 202px;
      text-decoration: none;
      margin: 0px auto;
      &:hover {
        -webkit-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
        -moz-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
        box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
        background: #FFF;
        color: #a31e1c;
        padding: 14px 60px;
        border-radius: 40px;
        text-transform: uppercase;
        display: block;
        width: 202px;
        text-decoration: none;
        margin: 0px auto;
      }
    }
    .slick-list {
      margin-bottom: 50px;
    }
    .slick-track {
      margin-bottom: 20px;
    }
    .itemNoticia {
      background: #FFF;
      margin: 0 20px;
      color: #424242;
      padding-bottom: 10px;
      -webkit-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
      -moz-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
      box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
      .titulo {
        font-size: 20px;
        min-height: 80px;
        margin-top: 20px;
        padding: 0 20px;
      }
      .descricao, .footerNoticia {
        padding: 0 20px;
      }
      .descricao, .footerNoticia, .tag {
        font-family: 'Roboto';
      }
      .descricao {
        color: #6d6d6d;
      }
      .tag {
        margin-top: -35px;
        color: #FFF;
        padding: 1px 10px;
        font-size: 14px;
        font-family: 'Roboto Light';
        margin-left: 20px;
        border-radius: 4px;
        display: block;
        position: absolute;
        &.eventos {
          background-color: #4d90cd;
        }
        &.post {
          background-color: #e9734c;
        }
        &.noticias {
          background-color: #b2262a;
        }
      }
      .footerNoticia {
        border-top: 1px solid #EEEEEE;
        padding-top: 10px;
        .date {
          color: #6d6d6d;
        }
        .leiaMais {
          text-transform: uppercase;
          float: right;
        }
      }
    }
  }
  
  /**
      INSCRIÇÃO
  **/
  
  .inscricao {
    background-image: url('../images/home/back-inscrever.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #FFF;
    text-align: center;
    padding: 40px 0;
    margin-top: 100px;
    h3 {
      font-family: 'IntroRegular';
      font-size: 34px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .col-md-3 {
      float: left;
    }
    input {
      &[type='text'] {
        background: transparent;
        width: 95%;
        border: 1px solid #FFF;
        border-radius: 4px;
        font-size: 16px;
        padding-left: 10px;
        color: #FFF;
        padding-top: 6px;
        padding-bottom: 6px;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #fff;
          opacity: 1; /* Firefox */
          font-family: 'Roboto';
          font-size: 16px;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #fff;
            font-family: 'Roboto';
            font-size: 16px;
        }
          
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: #fff;
            font-family: 'Roboto';
            font-size: 16px;
        }
        &:focus {
            outline: none;
        }
      }
      &[type='submit'] {
        color: #a31e1c;
        background: #FFF;
        border: 0;
        text-transform: uppercase;
        font-family: 'Roboto Bold';
        font-size: 14px;
        border-radius: 28px;
        padding: 14px 44px;
        &:hover {
          background: #be1a18;
          color: #ffffff;
          transition: 200ms;
          cursor: pointer;
        }
      }
    }
  }
  
  /**
      PARCERIAS
  **/
  
  .parcerias {
    background: #FFF;
    text-align: center;
    padding: 55px 0 45px;
    .col-md-3, .col-md-2 {
      float: left;
    }
    img {
      align-items: center;
      justify-content: center;
    }
  }
  
  /* .parcerias .container div{
      height: 115px;
  } */
  
  /**
      FOOTER
  **/
  
  footer {
    ul {
      list-style: none;
      padding-left: 0;
    }
    p {
      font-family: 'Roboto Light';
      font-size: 15px;
      line-height: 28px;
    }
    ul li a {
      color: #FFF;
      font-family: 'Roboto Light';
      text-decoration: none;
      font-size: 15px;
      &:hover {
        color: #FFF;
        font-family: 'Roboto Light';
        text-decoration: none;
        font-size: 15px;
      }
    }
    .copyright {
      background-color: #750605;
      padding: 30px;
      float: left;
      width: 100%;
      color: #FFF;
      font-weight: 300;
      text-align: center;
      img {
        width: 130px;
        padding-bottom: 20px;
        padding-top: 20px;
      }
    }
    .sitemap {
      float: left;
      width: 100%;
      background: #a31e1c;
      color: #FFF;
      font-family: 'Roboto';
      padding: 70px 0 50px;
      .col-md-3, .col-md-2, .col-md-5 {
        float: left;
      }
      h4 {
        font-size: 18px;
        padding-bottom: 20px;
        font-family: 'Roboto Bold';
      }
      ul {
        li {
          padding-bottom: 4px;
        }
        &.redesSociais li {
          float: left;
          margin-right: 14px;
          &:first-child a {
            padding: 8px 12px;
          }
          a {
            border: 1px solid #FFF;
            border-radius: 39px;
            padding: 8px;
          }
          i {
            font-size: 20px;
          }
          svg {
            padding-top: 5px;
          }
        }
      }
    }
    form input {
      &[type='email'] {
        border: 1px solid #FFF;
        color: #FFF;
        border-radius: 4px;
        background: transparent;
        padding-left: 12px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 16px;
      }
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff;
        opacity: 1; /* Firefox */
        font-family: 'Roboto';
        font-size: 16px;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #fff;
          font-family: 'Roboto';
          font-size: 16px;
      }
        
      &::-ms-input-placeholder { /* Microsoft Edge */
          color: #fff;
          font-family: 'Roboto';
          font-size: 16px;
      }
      &:focus {
          outline: none;
      }
      &[type='submit'] {
        background: #FFF;
        border: 0;
        color: #a31e1c;
        font-size: 12px;
        text-transform: uppercase;
        padding: 13px 38px;
        margin-left: 20px;
        border-radius: 20px;
        font-family: 'Roboto Bold';
        &:hover {
          background: #750605;
          color: #ffffff;
          transition: 200ms;
          cursor: pointer;
        }
      }
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    footer {
      .sitemap {
        .col-md-3, .col-md-2, .col-md-5 {
          margin-bottom: 30px;
        }
      }
      form input {
        &[type='email'] {
          width: 100%;
        }
        &[type='submit'] {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
    .inscricao {
      h3 {
        font-size: 28px;
      }
      input, select {
        margin-bottom: 10px;
      }
    }
    .noticias h3 {
      font-size: 32px;
      margin-bottom: 55px;
    }
    .cursos {
      .bgCurso {
        display: none;
      }
      margin-top: 0px;
      margin-bottom: 40px;
      .listaCursos {
        background: #465d68;
        width: 100%;
        margin-right: 0;
        float: left;
        padding: 40px;
        margin-top: 90px;
        .itemCurso {
          width: 100%;
          margin-right: 14px;
          margin-bottom: 50px;
        }
      }
    }
    .historia {
      .container .col-md-6:nth-child(2) {
        padding-right: 0px;
        padding-left: 25px;
      }
      .tituloEnsino {
        font-size: 32px;
      }
      .descEnsino {
        font-size: 16px;
      }
      .video {
        h4 {
          font-size: 20px;
          margin-bottom: 50px;
        }
        a {
          padding: 16px 18px;
          font-size: 13px;
        }
      }
      .container .col-md-6:first-child {
        margin-bottom: 50px;
      }
      .imagemDestaque img {
        height: 214px;
      }
      .descHistoria {
        width: 189px;
        height: 170px;
        padding-top: 5px;
        left: 25px;
        h3 {
          font-size: 20px;
        }
      }
    }
    .containerHome .banner {
      .secondMenu {
        display: none;
      }
      .slick-slide {
        height: 420px;
      }
      .bannerHome .item h2 {
        font-size: 32px;
      }
    }
  }