@import 'variables';
@import 'nossa-estrutura-ipog.scss';

.bannerTop {
    background-image: url(../images/estrutura/top-bg.jpg);
    background-size: cover;
}
.infoItemBlock {
    &:not(:first-child) {
        display: none;
    }
    .infoItemTitle {
        font-family: $fontBreeSerif;
        @media(min-width: 1600px) {
            font-size: 48px;
        }
        @media(max-width: 1599px) and (min-width: 801px) {
            font-size: 36px;
        }
        @media(max-width: 800px) {
            font-size: 24px;
        }
        @media(max-width: 500px) {
            font-size: 24px;            
        }
    }
    .infoItemText {
        font-family: $fontRoboto;
        color: $greyInfoText;
        line-height: 166.67%;
        @media(min-width: 1600px) {
            font-size: 24px;
            margin-top: 60px;
        }
        @media(max-width: 1599px) and (min-width: 801px) {
            font-size: 18px;
            margin-top: 45px;
        }
        @media(max-width: 800px) {
            font-size: 16px;
            margin-top: 30px;
        }
        @media(max-width: 500px) {
            font-size: 16px;     
            margin-top: 30px;       
        }
    }
    .infosBlock {
        display: flex;
        flex-direction: row;
        @media(min-width: 1600px) {
            margin-top: 126px;
        }
        @media(max-width: 1599px) and (min-width: 801px) {
            margin-top: 80px;
        }
        @media(max-width: 800px) {
            flex-direction: column;
            margin-top: 40px;
        }
        .infosBlockItem {
            width: 33.33%;
            @media(min-width: 1600px) {
                padding-right: 80px
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                padding-right: 40px
            }
            @media(max-width: 800px) {
                width: 100%;
                &:not(:first-of-type) {
                    margin-bottom: 40px;
                }
                &:last-of-type {
                    margin-bottom: 80px;
                }
            }
            .infoBlockItemContent {
                height: inherit;
                @media(min-width: 1600px) {
                    height: 320px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    height: 285px;
                }
                @media(max-width: 800px) {
                    height: inherit;
                }
            }
            .infosBlockItemTitle, .infosBlockItemText {
                font-family: $fontRoboto;
                font-size: 24px;
                line-height: 166.67%;
                @media(max-width: 1599px) and (min-width: 801px) {
                    font-size: 18px;
                }
                @media(max-width: 800px) {
                    font-size: 16px;
                }
                @media(max-width: 500px) {
                    font-size: 16px;     
                }
            }
            .infosBlockItemTitle {
                color: $greyInfoBold;
                font-weight: 700;
                &:not(:first-of-type) {
                    margin-top: 60px;
                    @media(max-width: 1599px) and (min-width: 801px) {
                        margin-top: 45px;
                    }
                    @media(max-width: 800px) {
                        margin-top: 25px;
                    }
                    @media(max-width: 500px) {
                        margin-top: 25px;     
                    }
                }
            }
            .infosBlockItemText {
                color: $greyInfoText;
                &:last-of-type {
                    @media(min-width: 1600px) {
                        margin-bottom: 75px;
                    }
                    @media(max-width: 1599px) and (min-width: 801px) {
                        margin-bottom: 40px;
                    }
                    @media(max-width: 800px) {
                        margin-bottom: 40px;
                    }
                }
            }
            .btnRound {
                margin-left: -5px;
            }
        }
    }
    .infoList {
        padding-left: 20px;
        list-style: disc;
        margin-bottom: 60px;
        margin-top: 48px;
        @media(max-width: 1599px) and (min-width: 801px) {
            margin-top: 38px;
        }
        @media(max-width: 800px) {
            margin-top: 30px;
        }
        @media(max-width: 500px) {
            margin-top: 15px;
        }
        a {
            text-decoration: none;
            transition: all .3s;
            &:hover {
                .infoListItem {
                    color: $redShadow;
                    transition: all .3s;
                }
            }
        }
        .infoListItem {
            font-family: $fontRoboto;
            font-size: 24px;
            color: $greyInfoText;
            line-height: 166.67%;
            @media(max-width: 1599px) and (min-width: 801px) {
                font-size: 18px;
            }
            @media(max-width: 800px) {
                font-size: 16px;
            }
            @media(max-width: 500px) {
                font-size: 16px;     
            }
        }
    }
}
.periodicMenu {
    background-color: $blueSlidertext;
    @media(min-width: 1600px) {
        margin-top: -130px;
    }
    @media(max-width: 1599px) and (min-width: 801px) {
        margin-top: -80px;
    }
    @media(max-width: 800px) {
        margin-top: -40px;
    }
    @media(max-width: 500px) {
        margin-top: -32px;
    }
    .periodicMenuContent {
        display: flex;
        justify-content: space-between;
        @media(min-width: 1600px) {
            padding: 90px 145px 50px;
        }
        @media(max-width: 1599px) and (min-width: 801px) {
            padding: 50px 75px 25px;
        }
        @media(max-width: 800px) {
            padding: 45px 45px 25px;
            flex-direction: column;
        }
        @media(max-width: 500px) {
            padding: 45px 25px 25px;
        }
        .periodicTextBlock {
            display: flex;
            align-items: center;
            width: 30%;
            @media(max-width: 800px) {
                width: 100%;
            }
            .periodicText {
                font-family: $fontRoboto;
                color: #fff;
                font-size: 18px;
                line-height: 166.67%;
                @media(min-width: 1600px) {
                    font-size: 18px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    font-size: 16px;
                }
                @media(max-width: 800px) {
                    font-size: 18px;
                }
                @media(max-width: 500px) {
                    font-size: 18px;
                }
            }
        }
        .periodicBtnBlock {
            border-left: 1px solid #fff;
            width: 65%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            @media(max-width: 800px) {
                width: 100%;
                border-left: none;
            }
            @media(max-width: 500px) {
               margin-top: 25px;
            }
            .periodicBtnItemLink {
                text-decoration: none;
                @media(max-width: 500px) {
                    width: 100%;
                    display: inline-block;
                }
                &:hover {
                    .periodicBtnItem {
                        background-color: #fff;
                        color:  $blueSlidertext;
                        transition: all 0.3s;
                    }
                }
                .periodicBtnItem {
                    margin: 15px 0px 15px 30px;
                    font-family: 'IntroRegular';
                    width: 165px;
                    text-align: center;
                    color: #fff;
                    padding: 20px 0;
                    text-transform: uppercase;
                    border: 1px solid #fff;
                    transition: all 0.3s;
                    font-size: 12px;
                    @media(max-width: 1599px) and (min-width: 801px) {
                        width: 185px;
                    }
                    @media(max-width: 800px) {
                        width: 165px;
                        margin-right: 0;
                        margin-left: 0;
                    }
                    @media(max-width: 800px) {
                        width: 100%
                    }
                }
            }
        }
    }
}
.periodicBlock {
    @media(min-width: 1600px) {
        margin: 80px 0 70px
    }
    @media(max-width: 1599px) and (min-width: 801px) {
        margin: 50px 0 40px
    }
    @media(max-width: 800px) {
        margin: 40px 25px 35px
    }
    @media(max-width: 500px) {
        margin: 40px 25px 35px
    }
    .infoItemTitle {
        @media(min-width: 1600px) {
            margin-bottom: 40px;
        }
        @media(max-width: 1599px) and (min-width: 801px) {
            margin-bottom: 30px;
        }
        @media(max-width: 800px) {
            margin-bottom: 20px;
        }
        @media(max-width: 500px) {
            margin-bottom: 20px;
        }
    }
    .periodicItemBlock {
        &:not(:first-of-type) {
            margin-top: 40px;
        }
        .periodicItemTitle, .periodicListItem {
            font-family: $fontRoboto;
            color: $greyInfoText;
            @media(min-width: 1600px) {
                font-size: 24px;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                font-size: 18px;
            }
            @media(max-width: 800px) {
                font-size: 18px;
            }
            @media(max-width: 500px) {
                font-size: 18px;
            }
        }
        .boldTitle {
            color: $greyInfoBold;
            font-weight: bold;
        }
        .periodicItemTitle {
            @media(min-width: 1600px) {
                margin-bottom: 56px;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                margin-bottom: 36px;
            }
            @media(max-width: 800px) {
                margin-bottom: 30px
            }
            @media(max-width: 500px) {
                margin-bottom: 30px;
            }
        }
        .periodicListBlock {
            list-style: disc;
            margin-bottom: 40px;
            a {
                text-decoration: none;
                &:hover {
                    .periodicListItem {
                        color: $redShadow;
                        transition: all 0.3s;
                    }
                }
            }
            .periodicListItem {
                margin-left: 20px;
                @media(min-width: 1600px) {
                    margin-bottom: 20px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    margin-bottom: 15px;
                }
                @media(max-width: 800px) {
                    margin-bottom: 15px
                }
                @media(max-width: 500px) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}
.attendanceBlock {
    @media(min-width: 1600px) {
        padding: 45px 0 30px
    }
    @media(max-width: 1599px) and (min-width: 801px) {
        padding: 35px 0 30px
    }
    @media(max-width: 800px) {
        padding: 25px 0 30px
    }
    .infoBlock {
        @media(min-width: 1600px) {
            margin-bottom: 60px;
        }
        @media(max-width: 1599px) and (min-width: 801px) {
            margin-bottom: 30px;
        }
        @media(max-width: 800px) {
            margin-bottom: 20px;
        }
        .infoBlockTitle, .infoBlockText {
            font-family: $fontRoboto;
            line-height: 166.67%;
            @media(min-width: 1600px) {
                font-size: 24px;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                font-size: 18px;
            }
            @media(max-width: 800px) {
                font-size: 18px;
            }
        }
        .infoBlockTitle {
            color: $greyInfoBold;
            font-weight: 700;
        }
        .infoBlockText {
            color: $greyInfoText;
        }
    }
    .infoBlockBtn {
        @media(min-width: 1600px) {
            margin: 60px 0 100px;
        }
        @media(max-width: 1599px) and (min-width: 801px) {
            margin: 60px 0 100px;
        }
        @media(max-width: 800px) {
            margin: 30px 0 50px;
        }
    }
}