@import 'variables';
.bannerTop {
    background-image: url(../images/nossos-clientes/top-bg.jpg);
    background-size: cover;
}
.clientes {
    padding: 30px 0;
    .clientesSlider {
        margin-top: 0;
        margin-bottom: 0;
        .slick-slide {
           & > div {
               display: flex;
               margin-bottom: 30px;
           }
        }
        .clientesSliderItem {
            display: inline-flex !important;
            height: 127px;
            img {
                max-width: 100%;
                max-height: 127px;
                margin: auto;
            }
        }
    }
    .clientesSliderButton {
        position: relative;
        height: 50px;
        margin: auto;
        .slick-prev {
            &:before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                background-image: url(../images/prev-page.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
            @media(max-width: 500px) {
                left: 50px;
            }
        }
        .slick-next {
            &:before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                background-image: url(../images/next-page.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
            @media(max-width: 500px) {
                right: 50px;
            }
        }
        .slick-dots {
            bottom: 15px;
            width: auto;
            li {
                height: auto;
                a {
                    font-family: $fontRoboto;
                    color: $redLight
                }
                &.slick-active {
                    a {
                        color: $redBtnRound;
                    }
                }
            }
        }
    }
}