@import 'variables';
.bannerTop {
    background-image: url(../images/nossa-estrutura-ipog/bannerTop.jpg);
    background-position: left center;
}
.tourSlideBlock {
    position: relative;
    margin-bottom: 100px;
    @media(max-width: 800px) {
        margin-bottom: 0;
    }
    .greyBlockCover {
        position: absolute;
        // width: 50%;
        width: 70%;
        left: -20%;
        height: 100%;
        background-color: $greyDark;
        top: 0;
        @media(max-width: 800px) {
            max-height: 760px;
            width: calc(100% + 30px);
            left: -15px;
        }
        @media(max-width: 500px) {
            max-height: 80%;
        }
    }
    .tourSlideBlockContainer {
        position: relative;
        display: flex;
        // align-items: center;
        // CONTAINER BOOTSTRAP
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        // FIM CONTAINER
        z-index: 20;
        padding: 120px 0;
        @media(min-width: 1600px) {
            padding: 120px 0;
        }
        @media(max-width: 1599px) and (min-width: 801px) {
            padding: 80px 0;
        }
        @media(max-width: 800px) {
            padding: 60px 0;
            flex-direction: column;
        }
        .tourBlock {
            width: 40%;
            @media(max-width: 800px) {
                width: 100%;
            }
            .tourBlockText {
                width: 80%;
                font-family: $fontRoboto;
                // font-size: 22px;
                font-size: 22px;
                line-height: 136.36%;
                color: #fff;
                margin-bottom: 20px;
                &:last-of-type {
                    margin-bottom: 80px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    font-size: 16px;
                }
                @media(max-width: 800px) {
                    font-size: 22px;
                    width: 100%;
                }
                @media(max-width: 800px) {
                    width: 80%;
                    margin: auto
                }
            }
        }
        .tourSlideContent {
            width: 60%;
            @media(max-width: 800px) {
                width: 100%;
                margin-top: 80px;
            }
            .tourSlide {
                .tourSlideItem {
                    // padding: 0 20px;
                    margin: 0 20px;
                    &:focus {
                        outline: none;
                    }
                    .tourSlideItemImg {
                        background-size: cover;
                        background-position: center;
                        height: 270px;
                    }
                    .tourSlideItemInfo {
                        .tourSlideItemInfoText {
                            font-family: $fontBreeSerif;
                            font-size: 26px;
                            color: $blueSlidertext;
                            background-color: #fff;
                            padding: 15px;
                            text-align: center;                        
                        }
                    }
                }
                .slick-list {
                    .slick-track {
                        .slick-active {
                            position: relative;
                            &:before {
                                position: absolute;
                                content: '';
                                display: block;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(255, 255, 255, 0.5);
                            }
                        }
                        div.slick-current {
                            &:before {
                               display: none;
                            }
                        }
                    }
                }
               .slick-prev {
                    display: none !important;
                }
                .slick-next {
                    padding: 0 20px;
                    width: 50%;
                    right: 0;
                    height: 100%;
                    &:before {
                        display: block;
                        content: '';
                        width: 28px;
                        height: 58px;
                        background-image: url(../images/slider-right.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        margin: auto;
                        opacity: 1;
                        transform: scale(0.8);
                        transition: transform .3s;
                        // width: calc(100% + 1px);
                        // height: 100%;
                        // background-color: rgba($color: #fff, $alpha: 0.5);
                    }
                    &:hover {
                        &:before {
                            transform: scale(1);
                            transition: transform .3s;
                        }
                    }
                }
            }
        }
    }
}