@import 'variables';
.bannerTop {
    background-image: url(../images/parcerias/bannerBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @media(max-width: 500px) {
        background-position: 20%;
    }
    .bannerTopBlock {
        margin-top: 160px;
        .bannerTopTitulo {
            margin-bottom: 28px;
        }
        .bannerTopSubTitulo {
            max-width: 260px;
            font-family: $fontBreeSerif;
            color: #fff;
            font-size: 28px;
            line-height: normal;
            margin-bottom: 75px;
        }
    }
}
// CONF GERAL DE FONT
.programDescriptionTitle {
    font-family: $fontBreeSerif;
    color: $redHover;
    @media(min-width: 1600px) {
        font-size: 48px;
    }
    @media(max-width: 1599px) and (min-width: 801px) {
        font-size: 24px;
    }
    @media(max-width: 800px) {
        font-size: 24px;
    }
}
.programDescriptionText {
    font-family: $fontRoboto;
    color: $greyInfoText;
    line-height: normal;
    @media(min-width: 1600px) {
        font-size: 24px;
        line-height: 40px
    }
    @media(max-width: 1599px) and (min-width: 801px) {
        font-size: 12px;
        line-height: 20px
    }
    @media(max-width: 800px) {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 20px;
    }
}
// FIM CONF GERAL DE FONT
.partnershipProgram {
    @media(min-width: 1600px) {
        padding: 170px 0 100px;
    }
    @media(max-width: 1599px) and (min-width: 801px) {
        font-size: 24px;
        padding: 85px 0 50px;
    }
    @media(max-width: 800px) {
        font-size: 24px;
        padding: 42px 0 25px;
    }
    .container {
        display: flex;
        @media(max-width: 800px) {
            flex-direction: column;
            text-align: center;
        }
    }
    .programDescriptionBlock {
        width: 40%;
        padding: 0 20px;
        @media(max-width: 800px) {
            width: 100%;
        }
        .programDescriptionTitle {
            font-family: $fontBreeSerif;
            color: $redHover;
            @media(min-width: 1600px) {
                font-size: 48px;
                margin-bottom: 75px;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                font-size: 24px;
                margin-bottom: 33px;
            }
            @media(max-width: 800px) {
                font-size: 24px;
                margin-bottom: 33px;
            }
        }
        .programDescriptionText {
            font-family: $fontRoboto;
            color: $greyInfoText;
            line-height: normal;
            @media(min-width: 1600px) {
                font-size: 24px;
                line-height: 40px
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                font-size: 12px;
                line-height: 20px
            }
        }
    }
    .programItensBlock {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media(max-width: 800px) {
            width: 100%;
        }
        .programItem {
            @media(min-width: 1600px) {
                max-width: 188px;
                margin: 0 50px 50px;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                width: 30%;
                margin: 0 1.5% 50px;
            }
            @media(max-width: 800px) {
                width: 30%;
                margin: 0 1.5% 15px;
            }
            .programItemLogo {
                height: 83px;
                margin-bottom: 18px;
                @media(min-width: 1600px) {
                    height: 83px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    height: 41px;
                }
                @media(max-width: 800px) {
                    height: 41px;
                }
                &.itemLogoText {
                    font-size: 70px;
                    color: $greyBorderLine;
                    text-align: center;
                    @media(min-width: 1600px) {
                        font-size: 70px;
                    }
                    @media(max-width: 1599px) and (min-width: 801px) {
                        font-size: 35px;
                    }
                    @media(max-width: 800px) {
                        font-size: 35px;
                    }
                }
                &.itemLogoImg {
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            .programItemText {
                font-family: $fontRoboto;
                color: $greyInfoText;
                text-align: center;
                @media(min-width: 1600px) {
                    font-size: 20px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    font-size: 10px;
                }
                @media(max-width: 800px) {
                    font-size: 14px;
                }
            }
        }
    }
}
.graduationBlock {
    @media(min-width: 1600px) {
        padding-bottom: 200px;
    }
    @media(max-width: 1599px) and (min-width: 801px) {
        padding-bottom: 100px;
    }
    @media(max-width: 800) {
        padding-bottom: 50px;
    }
    .container {
        display: flex;
        @media(max-width: 800px) {
            flex-direction: column-reverse;
        }
    }
    .graduationImgBlock {
        padding-right: 90px;
        @media(max-width: 800px) {
            padding-right: 0;
            margin: 20px 0 40px;
            text-align: center;
        }
        .graduationImg {
            max-width: 100%;
            height: auto;
            -webkit-box-shadow: -42px 42px 0px -28px rgba(117,6,5,1);
            -moz-box-shadow: -42px 42px 0px -28px rgba(117,6,5,1);
            box-shadow: -42px 42px 0px -28px rgba(117,6,5,1);
            @media(max-width: 800px) {
                width: 50%;
            }
        }
    }
    .graduationImgBlock, .graduationInfoBlock {
        width: 50%;
        @media(max-width: 800px) {
            width: 100%;
        }
    }
    .graduationInfoBlock {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .graduationInfoTitle {
            font-family: $fontBreeSerif;
            color: $redHover;
            @media(min-width: 1600px) {
                font-size: 48px;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                font-size: 24px;
            }
            @media(max-width: 800px) {
                font-size: 24px;
            }
        }
        .graduationListBlock {
            @media(max-width: 800px) {
                padding: 20px 40px;
            }
            .graduationList {
                list-style-image: url(../images/parcerias/check-icon.png);
                @media(min-width: 1600px) {
                    margin-top: 40px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    margin-top: 20px;
                }
                .listTitle, .graduationListItem {
                    font-family: $fontRoboto;
                    font-size: 24px;
                    @media(min-width: 1600px) {
                        font-size: 24px;
                    }
                    @media(max-width: 1599px) and (min-width: 801px) {
                        font-size: 14px;
                    }
                    @media(max-width: 800px) {
                        font-size: 14px;
                    }
                }
                .listTitle {
                    font-weight: 700;
                    color: $greyIncompanyCarouselImg;
                    @media(min-width: 1600px) {
                        font-size: 24px;
                        line-height: 40px
                    }
                    @media(max-width: 1599px) and (min-width: 801px) {
                        font-size: 14px;
                        line-height: 20px;                        
                    }
                    @media(max-width: 800px) {
                        margin: 20px 0;                   
                    }
                }
                .graduationListItem {
                    font-weight: 400;
                    line-height: 40px;
                    color: $greyInfoText;
                    @media(min-width: 1600px) {
                        font-size: 24px;
                        line-height: 40px;
                    }
                    @media(max-width: 1599px) and (min-width: 801px) {
                        font-size: 14px;
                        line-height: 20px;
                    }
                    @media(max-width: 800px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
.partnerBlock {
    .container {
        padding: 0;
    }
    .partnerBlockTop {
        text-align: center;
        @media(min-width: 1600px) {
            margin-bottom: 130px;
        }
        @media(max-width: 1599px) and (min-width: 801px) {
            margin-bottom: 65px;            
        }
        @media(max-width: 800px) {
            margin-bottom: 32px;        
        }
    }
    .partnerContent {
        display: flex;
        @media(min-width: 1600px) {
            margin-bottom: 115px;
        }
        @media(max-width: 1599px) and (min-width: 801px) {
            margin-bottom: 55px;
        }
        @media(max-width: 800px) {
            margin-bottom: 27px;     
        }
        @media(max-width: 500px) { 
            flex-wrap: wrap;
        }
        .partnerContentItem {
            width: 25%;
            @media(min-width: 1600px) {
                &:not(:last-of-type) {
                    padding-right: 120px;
                }
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                &:not(:last-of-type) {
                    padding-right: 30px;
                }
            }
            @media(max-width: 800px) {
                width: 50%;
                margin-bottom: 20px;
                &:not(:last-of-type) {
                    padding-right: 15px;
                }              
            }
            .partnerItemLogo {
                background-image: url(../images/parcerias/check-partner.png);
                background-size: contain;
                margin: auto;
                @media(min-width: 1600px) {
                    width: 113px;
                    height: 113px;
                }
                @media(max-width: 1599px) and (min-width: 801px) {
                    width: 56px;
                    height: 56px;
                }
                @media(max-width: 800px) {
                    width: 56px;
                    height: 56px;
                }
            }
            .partnerIteminfo {
                .partnerIteminfoTitle {
                    font-family: $fontBreeSerif;
                    color: $redTitlePartner;
                    text-align: center;
                    @media(min-width: 1600px) {
                        font-size: 28px;
                        margin: 40px auto;
                    }
                    @media(max-width: 1599px) and (min-width: 801px) {
                        font-size: 20px;
                        margin: 20px auto;
                    }
                    @media(max-width: 800px) {
                        font-size: 14px;                        
                    }
                }
                .partnerIteminfoText {
                    font-family: $fontRoboto;
                    color: $greyInfoText;
                    text-align: center;
                    @media(min-width: 1600px) {
                        font-size: 20px;
                    }
                    @media(max-width: 1599px) and (min-width: 801px) {
                        font-size: 14px;                        
                    }
                    @media(max-width: 800px) {
                        font-size: 14px;                       
                    }
                }
            }
        }
    }
}
.operation {
    background-color: $redShadow;
    @media(min-width: 1600px) {
        padding: 120px 0;         
    }
    @media(max-width: 1599px) and (min-width: 801px) {
        padding: 60px 0;                 
    }
    @media(max-width: 800px) {
        padding: 30px 0;                         
    }
    .container {
        display: flex;
        @media(max-width: 800px) {
            flex-direction: column;
        }
    }
    .operationTitleBlock {
        width: 25%;
        @media(max-width: 800px) {
            width: 100%;
            margin-bottom: 30px;
        } 
        .operationTitle {
            font-family: $fontBreeSerif;
            color: #fff;
            letter-spacing: 1px;
            @media(min-width: 1600px) {
                font-size: 50px;     
                line-height: 60px;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                font-size: 35px;  
                line-height: 45px;
            }
            @media(max-width: 800px) {
                font-size: 25px;     
                line-height: 35px;
            }
        }
    }
    .operationListButtons {
        width: 100%;
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        .operationItemBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 23%;
            border: 1px solid #fff;
            text-align: center;
            margin: 0 1%;
            margin-bottom: 20px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: all .3s;            
            &:hover {
                background-color: #fff;
                color: $redShadow;
                transition: all .3s;
            }
            @media(min-width: 1600px) {
                padding: 40px 45px;
            }
            @media(max-width: 1599px) and (min-width: 801px) {
                padding: 20px 12.5px;   
            }
            @media(max-width: 800px) {
                padding: 20px 12.5px;                
            }
            @media(max-width: 500px) {
                width: 100%;    
            }
        }
    }
}