.bannerTop {
  background-image: url(../images/academico/topo-bg.jpg);
  background-position: center;
  background-size: cover; }
  .bannerTop .container {
    display: flex;
    align-items: center;
    height: 100%; }
    .bannerTop .container .bannerTopTitulo {
      font-family: 'IntroRegular';
      font-size: 60px;
      color: #fff;
      font-weight: 400; }
      @media (max-width: 500px) {
        .bannerTop .container .bannerTopTitulo {
          font-size: 40px; } }

.mainAcad {
  background-color: #e0e4e5; }
  .mainAcad .container {
    padding: 60px 0; }
    @media (max-width: 500px) {
      .mainAcad .container {
        padding: 60px 30px; } }
  .mainAcad .mainText {
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 30px;
    color: #696969; }
  .mainAcad .mainTitle {
    font-family: 'Roboto Bold';
    font-weight: bold;
    font-size: 20px;
    color: #545454; }
  .mainAcad .topoMainAcad {
    margin: 50px 0 35px; }
    .mainAcad .topoMainAcad .mainTitle {
      margin-bottom: 18px; }
    .mainAcad .topoMainAcad .mainText {
      margin-bottom: 40px; }
  .mainAcad .mainAcadBlock:not(:last-of-type) {
    margin-bottom: 50px; }
  .mainAcad .mainAcadBlock:last-of-type {
    margin-bottom: 120px; }
  .mainAcad .mainAcadBlock .mainText:last-of-type {
    margin-bottom: 50px; }
  .mainAcad .mainAcadBlock + .mainAcadBlockButtons {
    margin-top: 90px; }
  .mainAcad .mainAcadBlockButtons {
    margin-top: 30px; }
    .mainAcad .mainAcadBlockButtons .groupBtns {
      margin-top: 30px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .mainAcad .mainAcadBlockButtons .groupBtns .btnRound {
        margin-bottom: 15px; }
        .mainAcad .mainAcadBlockButtons .groupBtns .btnRound:not(:last-of-type) {
          margin-right: 15px; }
  .mainAcad .mainAcadTextImgBlock {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 500px) {
      .mainAcad .mainAcadTextImgBlock {
        flex-direction: column; } }
    .mainAcad .mainAcadTextImgBlock .textContent {
      max-width: 40%; }
      @media (max-width: 500px) {
        .mainAcad .mainAcadTextImgBlock .textContent {
          max-width: 100%; } }
      .mainAcad .mainAcadTextImgBlock .textContent .mainTitle, .mainAcad .mainAcadTextImgBlock .textContent .mainText {
        line-height: 30px; }
      .mainAcad .mainAcadTextImgBlock .textContent .mainText {
        margin-bottom: 60px; }
    .mainAcad .mainAcadTextImgBlock .imgContent {
      display: flex;
      justify-content: center;
      max-width: 50%;
      width: 100%;
      background-color: #fff;
      padding: 20px 40px; }
      @media (max-width: 500px) {
        .mainAcad .mainAcadTextImgBlock .imgContent {
          max-width: 100%;
          margin-top: 60px; } }
      @media (max-width: 800px) {
        .mainAcad .mainAcadTextImgBlock .imgContent {
          align-items: center; } }
      .mainAcad .mainAcadTextImgBlock .imgContent .imgContentItem {
        width: 80%;
        height: 350px;
        background-image: url(../images/academico/diagram.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
        @media (max-width: 800px) {
          .mainAcad .mainAcadTextImgBlock .imgContent .imgContentItem {
            height: 250px; } }
        @media (max-width: 500px) {
          .mainAcad .mainAcadTextImgBlock .imgContent .imgContentItem {
            height: 150px; } }

/*# sourceMappingURL=academico.css.map */
