.bannerTop {
  background-image: url(../images/aluno-diamante/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  @media (min-width: 1600px) {
    .bannerTop {
      background-attachment: fixed; } }
  .bannerTop .titleCover {
    position: absolute;
    height: 110px;
    width: 50%;
    top: calc(50% - 60px);
    background: #60acbf;
    background: -moz-linear-gradient(90deg, rgba(96, 172, 191, 0.6) 60%, rgba(81, 146, 162, 0.3) 80%, transparent 100%);
    background: -webkit-linear-gradient(90deg, rgba(96, 172, 191, 0.6) 60%, rgba(81, 146, 162, 0.3) 80%, transparent 100%);
    background: linear-gradient(90deg, rgba(96, 172, 191, 0.6) 60%, rgba(81, 146, 162, 0.3) 80%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#60acbf",endColorstr="#000000",GradientType=1); }
    @media (max-width: 800px) {
      .bannerTop .titleCover {
        top: calc(50% - 55px); } }
  .bannerTop .container {
    position: relative; }
    .bannerTop .container .bannerTopTitulo {
      font-size: 40px; }

.recomendBlock {
  max-width: 1400px;
  width: 100%;
  display: flex;
  margin: auto; }
  @media (max-width: 800px) {
    .recomendBlock {
      flex-direction: column; } }
  .recomendBlock .recomendWhiteBlock {
    width: 45%; }
    @media (max-width: 800px) {
      .recomendBlock .recomendWhiteBlock {
        width: 100%; } }
    .recomendBlock .recomendWhiteBlock .recomendWhiteBlockContent {
      width: 80%;
      margin: auto; }
    .recomendBlock .recomendWhiteBlock .recomendTitle {
      font-family: 'BreeSerif';
      font-size: 38px;
      color: #38b1cb;
      padding: 120px 0 50px; }
      .recomendBlock .recomendWhiteBlock .recomendTitle:before {
        display: block;
        content: '';
        background-color: #2d7783;
        width: 160px;
        height: 5px;
        margin-bottom: 50px; }
    .recomendBlock .recomendWhiteBlock .recomendText {
      font-family: 'Roboto';
      font-size: 20px;
      line-height: 28px;
      color: #707070; }
      .recomendBlock .recomendWhiteBlock .recomendText:not(:first-of-type) {
        margin-top: 40px; }
      .recomendBlock .recomendWhiteBlock .recomendText:last-of-type {
        margin-bottom: 40px; }
  .recomendBlock .recomendBlueBlock {
    width: 55%;
    background-color: #38b1cb; }
    @media (max-width: 800px) {
      .recomendBlock .recomendBlueBlock {
        width: 100%; } }
    .recomendBlock .recomendBlueBlock .recomendBlueBlockContent {
      width: 80%;
      margin: auto;
      padding: 80px 0; }
      .recomendBlock .recomendBlueBlock .recomendBlueBlockContent .recomendBlueBlockContentItem {
        display: flex;
        align-items: center;
        flex-wrap: wrap; }
        .recomendBlock .recomendBlueBlock .recomendBlueBlockContent .recomendBlueBlockContentItem:not(:last-of-type) {
          margin-bottom: 50px; }
        .recomendBlock .recomendBlueBlock .recomendBlueBlockContent .recomendBlueBlockContentItem .recomendBlueBlockContentItemIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #fff;
          border-radius: 100%;
          width: 60px;
          height: 60px;
          margin-right: 35px; }
          .recomendBlock .recomendBlueBlock .recomendBlueBlockContent .recomendBlueBlockContentItem .recomendBlueBlockContentItemIcon:before {
            width: 32px;
            height: 23px;
            content: '';
            display: block;
            background-image: url(../images/aluno-diamante/check-icon.png);
            background-repeat: no-repeat;
            background-size: contain; }
        .recomendBlock .recomendBlueBlock .recomendBlueBlockContent .recomendBlueBlockContentItem .recomendBlueBlockContentItemInfo {
          max-width: 450px; }
          .recomendBlock .recomendBlueBlock .recomendBlueBlockContent .recomendBlueBlockContentItem .recomendBlueBlockContentItemInfo .recomendBlueItemTitle {
            font-family: 'BreeSerif';
            font-size: 20px;
            color: #fff;
            margin-bottom: 10px; }
          .recomendBlock .recomendBlueBlock .recomendBlueBlockContent .recomendBlueBlockContentItem .recomendBlueBlockContentItemInfo .recomendBlueItemText {
            font-family: 'Roboto';
            font-size: 16px;
            line-height: 20px;
            color: #fff; }

.choiceBlock {
  background-image: url(../images/aluno-diamante/choice-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 125px 0;
  height: 700px; }
  @media (max-width: 800px) {
    .choiceBlock {
      height: auto; } }
  .choiceBlock .choiceTitle {
    font-family: 'BreeSerif';
    font-size: 40px;
    text-align: center;
    color: #5d5d5d; }
  .choiceBlock .choiceBlockContent .choiceButtonsBlock {
    display: flex;
    justify-content: center;
    max-width: 550px;
    margin: auto;
    border-bottom: 1px solid #fff;
    margin-bottom: 100px; }
    @media (max-width: 500px) {
      .choiceBlock .choiceBlockContent .choiceButtonsBlock {
        margin-bottom: 50px; } }
    .choiceBlock .choiceBlockContent .choiceButtonsBlock .choiceBtnItem {
      padding: 30px 15px;
      margin-bottom: -2px;
      border-bottom: 3px solid transparent; }
      @media (max-width: 500px) {
        .choiceBlock .choiceBlockContent .choiceButtonsBlock .choiceBtnItem {
          text-align: center; } }
      .choiceBlock .choiceBlockContent .choiceButtonsBlock .choiceBtnItem:hover {
        border-bottom: 3px solid #24a1ba; }
    .choiceBlock .choiceBlockContent .choiceButtonsBlock .choiceBtnItem.choiceActive {
      border-bottom: 3px solid #1d869c; }
  .choiceBlock .choiceBlockContent .choiceContentItem {
    display: none; }
    .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 80%;
      margin: auto; }
      .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceInputBlock {
        display: flex;
        justify-content: center;
        width: 100%; }
        @media (max-width: 500px) {
          .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceInputBlock {
            flex-wrap: wrap; } }
      .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceInputItem {
        max-width: 300px;
        width: 100%;
        background-color: #fff;
        color: #9d9d9d;
        margin: 5px 15px;
        min-height: 50px;
        padding-left: 10px;
        border: none; }
        @media (max-width: 800px) {
          .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceInputItem {
            max-width: 245px; } }
        .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceInputItem::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #9d9d9d;
          opacity: 1;
          /* Firefox */
          font-family: 'Roboto';
          font-size: 16px; }
        .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceInputItem:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: #9d9d9d;
          font-family: 'Roboto';
          font-size: 16px; }
        .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceInputItem::-ms-input-placeholder {
          /* Microsoft Edge */
          color: #9d9d9d;
          font-family: 'Roboto';
          font-size: 16px; }
      .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 650px;
        margin-top: 25px; }
        @media (max-width: 500px) {
          .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock {
            flex-direction: column; } }
        .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtn {
          padding: 20px 25px;
          border-radius: 50px;
          color: #fff;
          min-width: 150px;
          border: none; }
          .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtn:focus {
            outline: none; }
          .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtn:not(:last-of-type) {
            margin-right: 20px; }
          @media (max-width: 500px) {
            .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtn:not(:last-of-type) {
              margin-right: inherit;
              margin-bottom: 20px; } }
        .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtnAdd {
          background-color: #6ab971;
          transition: .3s; }
          .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtnAdd:hover {
            background-color: #fff;
            color: #6ab971;
            transition: .3s; }
        .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtnIndicate {
          background-color: #2699fb;
          transition: .3s; }
          .choiceBlock .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtnIndicate:hover {
            background-color: #fff;
            color: #2699fb;
            transition: .3s; }
  .choiceBlock .choiceBlockContent .choiceContentActive {
    display: block; }

/*# sourceMappingURL=aluno-diamante.css.map */
