.titleCover {
  top: calc(50% - 80px);
  height: 150px; }

.incompanyBanner {
  background-image: url(../images/incompany/incompanyBanner.png);
  background-size: cover;
  background-position: center;
  position: relative; }
  .incompanyBanner .titleCover {
    background: #386691;
    background: -moz-linear-gradient(90deg, rgba(56, 102, 145, 0.6) 33.33%, rgba(56, 102, 145, 0.3) 66.66%, rgba(56, 102, 145, 0) 99.99%);
    background: -webkit-linear-gradient(90deg, rgba(56, 102, 145, 0.6) 33.33%, rgba(56, 102, 145, 0.3) 66.66%, rgba(56, 102, 145, 0) 99.99%);
    background: linear-gradient(90deg, rgba(56, 102, 145, 0.6) 33.33%, rgba(56, 102, 145, 0.3) 66.66%, rgba(56, 102, 145, 0) 99.99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#386691",endColorstr="#386691",GradientType=1); }
  .incompanyBanner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
    .incompanyBanner .container .bannerTopTitulo {
      font-family: 'IntroRegular';
      color: #fff; }
    .incompanyBanner .container .bannerTopSubTitle {
      font-family: "Bree Serif", serif;
      font-size: 30px;
      color: #fff; }
    .incompanyBanner .container .infoBannerBlock {
      position: absolute;
      bottom: 40px; }
      .incompanyBanner .container .infoBannerBlock .infoBannerCourse, .incompanyBanner .container .infoBannerBlock .breadcrumbsBlock {
        display: flex;
        color: #fff; }
      .incompanyBanner .container .infoBannerBlock .infoBannerCourse {
        font-size: 24px;
        margin-bottom: 50px; }
        .incompanyBanner .container .infoBannerBlock .infoBannerCourse .infoBannerText:not(:first-child) {
          margin-left: 30px; }
        .incompanyBanner .container .infoBannerBlock .infoBannerCourse .infoBannerDuration {
          display: flex;
          align-items: center; }
          .incompanyBanner .container .infoBannerBlock .infoBannerCourse .infoBannerDuration:before {
            content: '\f017';
            display: block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 10px;
            font-size: 34px; }
        .incompanyBanner .container .infoBannerBlock .infoBannerCourse .infoBannerClass {
          display: flex;
          align-items: center; }
          .incompanyBanner .container .infoBannerBlock .infoBannerCourse .infoBannerClass:before {
            content: '\f19d';
            display: block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 10px;
            font-size: 34px; }
      .incompanyBanner .container .infoBannerBlock .breadcrumbsBlock .breadcrumbsItem {
        display: flex;
        font-family: "Roboto", sans-serif;
        font-size: 17px; }
        .incompanyBanner .container .infoBannerBlock .breadcrumbsBlock .breadcrumbsItem:not(:last-child):after {
          display: block;
          content: '>';
          width: 30px;
          height: 30px;
          text-align: center; }

.secureYourPlace {
  display: flex;
  background-color: #fff;
  min-height: 800px; }
  @media (max-width: 500px) {
    .secureYourPlace {
      flex-direction: column; } }
  .secureYourPlace .placeInfoBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 0px 80px 40px; }
    @media (max-width: 500px) {
      .secureYourPlace .placeInfoBlock {
        width: 100%;
        padding: 0px 40px 40px; } }
    .secureYourPlace .placeInfoBlock .placeInfoTitle {
      font-family: "Bree Serif", serif;
      font-size: 38px;
      color: #474747;
      margin-bottom: 50px; }
      .secureYourPlace .placeInfoBlock .placeInfoTitle:before {
        width: 150px;
        height: 5px;
        background-color: #486371;
        content: '';
        display: block;
        margin-bottom: 40px; }
    .secureYourPlace .placeInfoBlock .placeInfoText {
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      line-height: normal;
      color: #474747; }
  .secureYourPlace .placeFormBlock {
    width: 40%;
    position: relative; }
    @media (max-width: 500px) {
      .secureYourPlace .placeFormBlock {
        width: 100%; } }
    .secureYourPlace .placeFormBlock .placeFormContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 80%;
      top: -80px;
      background-color: #f5f5f5;
      padding: 50px 0;
      -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.05); }
      @media (max-width: 500px) {
        .secureYourPlace .placeFormBlock .placeFormContent {
          position: relative;
          top: 0;
          margin: auto; } }
      .secureYourPlace .placeFormBlock .placeFormContent .titleFormTitle {
        width: 80%;
        padding: 0px 15px;
        font-family: "Bree Serif", serif;
        font-size: 20px;
        color: #353535;
        margin-bottom: 50px; }
      .secureYourPlace .placeFormBlock .placeFormContent .placeFormButtonBlock {
        width: 80%;
        padding: 0 15px;
        display: flex;
        justify-content: flex-end; }
      .secureYourPlace .placeFormBlock .placeFormContent .btnSub {
        background-color: #2699fb;
        color: #fff;
        transition: all .3s;
        margin-top: 30px; }
        .secureYourPlace .placeFormBlock .placeFormContent .btnSub:hover {
          background-color: #fff;
          color: #2699fb;
          transition: all .3s;
          cursor: pointer; }

.slidersBlock {
  display: flex; }
  @media (max-width: 800px) {
    .slidersBlock {
      flex-direction: column; } }

.imgCarousel {
  position: relative;
  width: 50%; }
  @media (max-width: 800px) {
    .imgCarousel {
      width: 100%; } }
  .imgCarousel .imgCarouselItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    .imgCarousel .imgCarouselItem .carouselItemImg {
      width: 50%;
      height: 300px;
      background-size: cover;
      background-position: center; }
  .imgCarousel .imgCarouselBtnBlock {
    position: absolute;
    background-color: #fff;
    padding: 40px 30px;
    width: 50%;
    height: 50%;
    bottom: 0; }
    .imgCarousel .imgCarouselBtnBlock .imgCarouselBtnTitle {
      font-family: "Bree Serif", serif;
      color: #474747;
      font-size: 38px; }
      @media (max-width: 500px) {
        .imgCarousel .imgCarouselBtnBlock .imgCarouselBtnTitle {
          font-size: 28px; } }
    .imgCarousel .imgCarouselBtnBlock .imgCarouselBtnContent {
      display: flex;
      width: 50%;
      margin-left: 50%;
      justify-content: flex-end; }
      @media (max-width: 500px) {
        .imgCarousel .imgCarouselBtnBlock .imgCarouselBtnContent {
          margin-top: 20px;
          display: flex;
          width: 50%;
          margin-left: 50%;
          justify-content: flex-end;
          position: absolute;
          bottom: 10px;
          right: 20px; } }
      .imgCarousel .imgCarouselBtnBlock .imgCarouselBtnContent .slick-arrow {
        width: 40px;
        padding: 0;
        background-color: transparent;
        border: none; }
        .imgCarousel .imgCarouselBtnBlock .imgCarouselBtnContent .slick-arrow:focus {
          outline: none; }
        .imgCarousel .imgCarouselBtnBlock .imgCarouselBtnContent .slick-arrow img {
          transform: scale(0.8);
          transition: .3s; }
          .imgCarousel .imgCarouselBtnBlock .imgCarouselBtnContent .slick-arrow img:hover {
            transform: scale(1);
            transition: .3s;
            cursor: pointer; }

.feedSlider {
  position: relative;
  width: 50%; }
  @media (max-width: 800px) {
    .feedSlider {
      width: 100%; } }
  .feedSlider .feedSliderContent {
    height: 100%; }
    .feedSlider .feedSliderContent .slick-list {
      height: 100%; }
      .feedSlider .feedSliderContent .slick-list .slick-track {
        height: 100%; }
  .feedSlider .feedSliderItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 100%; }
    .feedSlider .feedSliderItem .feedItemImg {
      width: 50%;
      height: 300px;
      background-size: cover;
      background-position: center; }
    .feedSlider .feedSliderItem .feedItemTextBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 50%;
      background-color: #15232d;
      padding: 0 40px; }
      @media (max-width: 800px) {
        .feedSlider .feedSliderItem .feedItemTextBlock {
          height: 300px; } }
      .feedSlider .feedSliderItem .feedItemTextBlock .feedText {
        font-family: "Roboto", sans-serif;
        color: #b6b8ba;
        font-size: 16px;
        line-height: 22px;
        max-height: 200px;
        overflow: auto; }
      .feedSlider .feedSliderItem .feedItemTextBlock .feedName {
        font-family: "Bree Serif", serif;
        font-size: 20px;
        color: #efeaea;
        margin-top: 30px; }
  .feedSlider .feedSliderBtnBlock {
    background-color: #fff;
    padding: 40px 30px;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .feedSlider .feedSliderBtnBlock .imgFeedBtnTitle {
      font-family: "Bree Serif", serif;
      color: #474747;
      font-size: 38px; }
      @media (max-width: 500px) {
        .feedSlider .feedSliderBtnBlock .imgFeedBtnTitle {
          font-size: 28px; } }
    .feedSlider .feedSliderBtnBlock .imgFeedBtnContent {
      display: flex;
      width: 50%;
      margin-left: 50%;
      justify-content: flex-end;
      position: absolute;
      bottom: 10px;
      right: 20px; }
      .feedSlider .feedSliderBtnBlock .imgFeedBtnContent .slick-arrow {
        width: 40px;
        padding: 0;
        background-color: transparent;
        border: none; }
        .feedSlider .feedSliderBtnBlock .imgFeedBtnContent .slick-arrow:focus {
          outline: none; }
        .feedSlider .feedSliderBtnBlock .imgFeedBtnContent .slick-arrow img {
          transform: scale(0.8);
          transition: .3s; }
          .feedSlider .feedSliderBtnBlock .imgFeedBtnContent .slick-arrow img:hover {
            transform: scale(1);
            transition: .3s;
            cursor: pointer; }

/*# sourceMappingURL=detalhe-incompany.css.map */
