.bannerTop {
  background-image: url(../images/ead/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 1440px) {
    .bannerTop {
      background-position: right; } }
  @media (max-width: 500px) {
    .bannerTop {
      background-position: 80%; } }
  .bannerTop .titleCover {
    top: calc(50% + 55px);
    background: #6221ab;
    background: -moz-linear-gradient(90deg, rgba(98, 33, 171, 0.66) 33.33%, rgba(98, 33, 171, 0.33) 66.66%, rgba(98, 33, 171, 0) 99.99%);
    background: -webkit-linear-gradient(90deg, rgba(98, 33, 171, 0.66) 33.33%, rgba(98, 33, 171, 0.33) 66.66%, rgba(98, 33, 171, 0) 99.99%);
    background: linear-gradient(90deg, rgba(98, 33, 171, 0.66) 33.33%, rgba(98, 33, 171, 0.33) 66.66%, rgba(98, 33, 171, 0) 99.99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6221ab",endColorstr="#6221ab",GradientType=1); }

.upgradeBlock {
  background-color: #f0f0f0;
  position: relative; }
  .upgradeBlock .container {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 600px; }
    @media (min-width: 1920px) {
      .upgradeBlock .container {
        min-height: 850px; } }
    @media (max-width: 800px) {
      .upgradeBlock .container {
        flex-direction: column;
        padding: 60px 0; } }
    @media (max-width: 500px) {
      .upgradeBlock .container {
        padding: 60px 10px; } }
  .upgradeBlock .upgradeBlockInfoBg {
    position: absolute;
    width: 48%;
    left: 2%;
    background-color: #fff;
    height: 70%;
    bottom: 0; }
    @media (max-width: 800px) {
      .upgradeBlock .upgradeBlockInfoBg {
        display: none; } }
  .upgradeBlock .upgradeBlockInfo, .upgradeBlock .upgradeBlockVideo {
    width: 50%; }
    @media (max-width: 800px) {
      .upgradeBlock .upgradeBlockInfo, .upgradeBlock .upgradeBlockVideo {
        width: 100%; } }
  .upgradeBlock .upgradeBlockInfo .upgradeBlockInfoContent {
    width: 50%; }
    @media (max-width: 800px) {
      .upgradeBlock .upgradeBlockInfo .upgradeBlockInfoContent {
        width: 100%; } }
    .upgradeBlock .upgradeBlockInfo .upgradeBlockInfoContent .upgradeInfoTitle {
      font-family: "Bree Serif", serif;
      color: #6221ab;
      line-height: normal;
      margin-bottom: 10px; }
      @media (min-width: 1600px) {
        .upgradeBlock .upgradeBlockInfo .upgradeBlockInfoContent .upgradeInfoTitle {
          font-size: 48px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .upgradeBlock .upgradeBlockInfo .upgradeBlockInfoContent .upgradeInfoTitle {
          font-size: 28px; } }
      @media (max-width: 800px) {
        .upgradeBlock .upgradeBlockInfo .upgradeBlockInfoContent .upgradeInfoTitle {
          font-size: 48px; } }
      .upgradeBlock .upgradeBlockInfo .upgradeBlockInfoContent .upgradeInfoTitle:before {
        content: '';
        display: block;
        width: 50%;
        height: 4px;
        background-color: #6221ab;
        margin-top: -45%;
        margin-bottom: 10px; }
        @media (max-width: 800px) {
          .upgradeBlock .upgradeBlockInfo .upgradeBlockInfoContent .upgradeInfoTitle:before {
            margin-top: 10px; } }
    .upgradeBlock .upgradeBlockInfo .upgradeBlockInfoContent .upgradeInfoText {
      font-family: "Roboto", sans-serif;
      color: #696969;
      line-height: normal; }
      @media (min-width: 1600px) {
        .upgradeBlock .upgradeBlockInfo .upgradeBlockInfoContent .upgradeInfoText {
          font-size: 24px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .upgradeBlock .upgradeBlockInfo .upgradeBlockInfoContent .upgradeInfoText {
          font-size: 14px;
          line-height: 200%; } }
      @media (max-width: 800px) {
        .upgradeBlock .upgradeBlockInfo .upgradeBlockInfoContent .upgradeInfoText {
          font-size: 24px; } }
  .upgradeBlock .upgradeBlockVideo {
    height: 100%;
    width: 60%;
    position: absolute;
    right: -60px;
    padding: 80px 0; }
    @media (max-width: 1440px) and (min-width: 801px) {
      .upgradeBlock .upgradeBlockVideo {
        right: -20px; } }
    @media (max-width: 800px) {
      .upgradeBlock .upgradeBlockVideo {
        position: inherit;
        right: inherit;
        width: 100%;
        height: 400px;
        padding: 0;
        margin: 30px 0; } }
    .upgradeBlock .upgradeBlockVideo .upgradeVideo {
      height: 100%; }
      .upgradeBlock .upgradeBlockVideo .upgradeVideo.coverPlay:before {
        content: '';
        position: absolute;
        right: calc(50% - 35px);
        top: calc(50% - 35px);
        display: block;
        width: 70px;
        height: 70px;
        background-image: url(../images/ead/play-button.png);
        background-repeat: no-repeat;
        transform: scale(0.8);
        transition: all .3s; }
      .upgradeBlock .upgradeBlockVideo .upgradeVideo.coverPlay:hover {
        opacity: 0.95;
        transition: all .3s; }
        .upgradeBlock .upgradeBlockVideo .upgradeVideo.coverPlay:hover:before {
          transform: scale(1);
          transition: all .3s;
          cursor: pointer; }

.coursesBlock {
  display: flex; }
  @media (max-width: 800px) {
    .coursesBlock {
      flex-direction: column; } }
  .coursesBlock .postMbaBlock, .coursesBlock .postShorTermBlock {
    width: 50%;
    height: 828px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    @media (max-width: 800px) {
      .coursesBlock .postMbaBlock, .coursesBlock .postShorTermBlock {
        width: 100%; } }
    @media (max-width: 500px) {
      .coursesBlock .postMbaBlock, .coursesBlock .postShorTermBlock {
        height: 414px; } }
  .coursesBlock .postMbaBlock {
    background-image: url(../images/ead/red-post-mba.jpg); }
  .coursesBlock .postShorTermBlock {
    background-image: url(../images/ead/blue-short-term.jpg); }
  .coursesBlock .courseInfoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .coursesBlock .courseInfoBlock .courseTitle {
      font-family: "Bree Serif", serif;
      text-align: center;
      font-size: 48px;
      color: #fff;
      margin-bottom: 25px; }
      @media (max-width: 1024px) and (min-width: 801px) {
        .coursesBlock .courseInfoBlock .courseTitle {
          width: 80%;
          margin-left: auto;
          margin-right: auto; } }
      @media (max-width: 500px) {
        .coursesBlock .courseInfoBlock .courseTitle {
          font-size: 36px; } }

/*# sourceMappingURL=ead.css.map */
