.bannerTop {
  height: 650px;
  background-image: url(../images/fique-por-dentro/topBg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 500px) {
    .bannerTop {
      background-position: 80%; } }

.infoFrame .container {
  padding: 0 90px; }
  @media (max-width: 800px) {
    .infoFrame .container {
      padding: 0 20px; } }
  @media (max-width: 500px) {
    .infoFrame .container .infoFrameBtnContent {
      width: 100%;
      padding: 0 0 20px 0; } }
  @media (max-width: 500px) {
    .infoFrame .container .infoFrameSearchContent {
      padding: 20px 0; } }

.infoFrameFilterBlock {
  display: flex;
  height: 100%;
  align-items: center; }
  .infoFrameFilterBlock .selectIpogChoice {
    max-width: 170px; }
    .infoFrameFilterBlock .selectIpogChoice .selectIpogChoiceSelected {
      padding: 0;
      min-height: 30px;
      color: #5d5d5d; }
      .infoFrameFilterBlock .selectIpogChoice .selectIpogChoiceSelected:after {
        top: 5px;
        right: -5px; }
    .infoFrameFilterBlock .selectIpogChoice.choiceUnderline {
      max-width: 115px;
      margin-right: 50px; }
      @media (max-width: 800px) {
        .infoFrameFilterBlock .selectIpogChoice.choiceUnderline {
          margin-right: 25px; } }
      .infoFrameFilterBlock .selectIpogChoice.choiceUnderline .selectIpogChoiceSelected {
        border-bottom: 2px solid #454545; }

.choiceBlockContent .choiceButtonsBlock {
  display: flex;
  justify-content: center;
  max-width: 550px;
  margin: auto;
  border-bottom: 1px solid #fff;
  margin-bottom: 100px; }
  @media (max-width: 500px) {
    .choiceBlockContent .choiceButtonsBlock {
      margin-bottom: 50px; } }
  .choiceBlockContent .choiceButtonsBlock .choiceBtnItem {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 30px 15px;
    margin-bottom: -2px;
    border-bottom: 3px solid transparent; }
    @media (max-width: 500px) {
      .choiceBlockContent .choiceButtonsBlock .choiceBtnItem {
        text-align: center; } }
    .choiceBlockContent .choiceButtonsBlock .choiceBtnItem:hover {
      border-bottom: 3px solid #24a1ba; }
  .choiceBlockContent .choiceButtonsBlock .choiceBtnItem.choiceActive {
    border-bottom: 3px solid #1d869c; }
.choiceBlockContent .choiceContentItem {
  display: none; }
  .choiceBlockContent .choiceContentItem .choiceForm {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto; }
    .choiceBlockContent .choiceContentItem .choiceForm .choiceInputBlock {
      display: flex;
      justify-content: center;
      width: 100%; }
      @media (max-width: 500px) {
        .choiceBlockContent .choiceContentItem .choiceForm .choiceInputBlock {
          flex-wrap: wrap; } }
    .choiceBlockContent .choiceContentItem .choiceForm .choiceInputItem {
      max-width: 300px;
      width: 100%;
      background-color: #fff;
      color: #9d9d9d;
      margin: 5px 15px;
      min-height: 50px;
      padding-left: 10px;
      border: none; }
      @media (max-width: 800px) {
        .choiceBlockContent .choiceContentItem .choiceForm .choiceInputItem {
          max-width: 245px; } }
      .choiceBlockContent .choiceContentItem .choiceForm .choiceInputItem::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #9d9d9d;
        opacity: 1;
        /* Firefox */
        font-family: 'Roboto';
        font-size: 16px; }
      .choiceBlockContent .choiceContentItem .choiceForm .choiceInputItem:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #9d9d9d;
        font-family: 'Roboto';
        font-size: 16px; }
      .choiceBlockContent .choiceContentItem .choiceForm .choiceInputItem::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #9d9d9d;
        font-family: 'Roboto';
        font-size: 16px; }
    .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      max-width: 650px;
      margin-top: 25px; }
      @media (max-width: 500px) {
        .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock {
          flex-direction: column; } }
      .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtn {
        padding: 20px 25px;
        border-radius: 50px;
        color: #fff;
        min-width: 150px;
        border: none; }
        .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtn:focus {
          outline: none; }
        .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtn:not(:last-of-type) {
          margin-right: 20px; }
        @media (max-width: 500px) {
          .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtn:not(:last-of-type) {
            margin-right: inherit;
            margin-bottom: 20px; } }
      .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtnAdd {
        background-color: #6ab971;
        transition: .3s; }
        .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtnAdd:hover {
          background-color: #fff;
          color: #6ab971;
          transition: .3s; }
      .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtnIndicate {
        background-color: #2699fb;
        transition: .3s; }
        .choiceBlockContent .choiceContentItem .choiceForm .choiceBtnBlock .choiceBtnIndicate:hover {
          background-color: #fff;
          color: #2699fb;
          transition: .3s; }
.choiceBlockContent .choiceContentActive {
  display: block; }

.choiceBlock {
  background-image: inherit;
  height: inherit;
  padding: 100px 0; }
  @media (max-width: 500px) {
    .choiceBlock {
      padding: 30px 0; } }
  .choiceBlock .choiceBlockContent .choiceButtonsBlockContent {
    display: flex; }
  .choiceBlock .choiceBlockContent .choiceButtonsBlock {
    display: inline-flex;
    margin-bottom: 50px;
    max-width: inherit;
    border-color: #a0a0a0; }
    .choiceBlock .choiceBlockContent .choiceButtonsBlock .choiceBtnItem.choiceActive {
      border-bottom: 3px solid #a31e1c;
      color: #a31e1c;
      font-weight: 700; }
    .choiceBlock .choiceBlockContent .choiceButtonsBlock .choiceBtnItem:hover {
      border-color: #c42421; }
  .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem {
    padding: 25px; }
    .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem .choiceItemTopBlock {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 150px;
      background-color: #be1a18;
      padding: 0 20px 27px; }
      .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem .choiceItemTopBlock .choiceItemTopText {
        font-family: "Roboto", sans-serif;
        color: #fff;
        font-size: 30px; }
      .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem .choiceItemTopBlock .choiceItemTopMonth {
        font-weight: 100;
        text-transform: uppercase; }
    .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem .choiceItemMainBlock, .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem .choiceItemFooterBlock {
      background-color: #fff; }
    .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem .choiceItemMainBlock {
      padding: 30px 25px;
      height: 240px; }
      .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem .choiceItemMainBlock .choiceItemTitle {
        font-family: "Bree Serif", serif;
        font-size: 20px;
        height: 80px;
        color: #424242;
        margin-bottom: 25px; }
      .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem .choiceItemMainBlock .choiceItemText {
        font-family: "Roboto", sans-serif;
        color: #6d6d6d; }
    .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem .choiceItemFooterBlock {
      display: flex;
      justify-content: space-between;
      border-top: 2px solid #eeeeee;
      padding: 20px 25px; }
      .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem .choiceItemFooterBlock .choiceItemFooterText {
        font-family: "Roboto", sans-serif;
        font-size: 18px; }
      .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem .choiceItemFooterBlock .footerYear {
        color: #6d6d6d; }
      .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem .choiceItemFooterBlock .footerReadmore {
        color: #2699fb; }
      .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoice .sliderDivChoiceItem .choiceItemFooterBlock a {
        text-decoration: none; }
  .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoiceControl {
    position: relative;
    margin: auto; }
    @media (max-width: 500px) {
      .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoiceControl {
        width: 50%; } }
    .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoiceControl .slick-prev::before, .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoiceControl .slick-next::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #bf1d1b;
      opacity: 1; }
    .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoiceControl .slick-prev::before {
      content: '\f060'; }
    .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoiceControl .slick-next::before {
      content: '\f061'; }
    .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoiceControl .slick-dots {
      bottom: 0;
      position: relative;
      width: inherit;
      display: inline-block;
      vertical-align: sub; }
      .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoiceControl .slick-dots li {
        font-family: "Roboto", sans-serif;
        color: #d95e5d; }
        .choiceBlock .choiceBlockContent .sliderDivChoiceBlock .sliderDivChoiceControl .slick-dots li.slick-active {
          color: #be1a18; }

/*# sourceMappingURL=fique-por-dentro.css.map */
