.bannerTop {
  background-image: url(../images/fique-por-dentro-detalhe/banner-top-bg.jpg);
  background-size: cover;
  height: 650px; }
  .bannerTop .container {
    align-items: flex-end; }
    .bannerTop .container .breadcrumbsBlock {
      margin-bottom: 40px; }

.courseBlock {
  padding: 130px 0; }
  @media (max-width: 500px) {
    .courseBlock {
      padding: 50px 0; } }
  .courseBlock .container {
    display: flex; }
  .courseBlock .courseBlockContent {
    justify-content: space-between; }
    @media (max-width: 500px) {
      .courseBlock .courseBlockContent {
        flex-direction: column-reverse; } }
  .courseBlock .courseTitle {
    width: 55%;
    font-family: 'IntroRegular';
    font-size: 36px;
    color: #af1414;
    margin-bottom: 40px; }
  .courseBlock .courseTextBlock {
    width: 55%; }
    @media (max-width: 500px) {
      .courseBlock .courseTextBlock {
        width: 100%; } }
    .courseBlock .courseTextBlock .courseImgItem {
      background-image: url(../images/fique-por-dentro-detalhe/course-img.jpg);
      background-position: center;
      width: 100%;
      height: 515px;
      background-repeat: no-repeat;
      margin-bottom: 48px; }
    .courseBlock .courseTextBlock .courseText {
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      font-weight: 400;
      color: #6d6d6d;
      line-height: 35px; }
      .courseBlock .courseTextBlock .courseText:not(:last-of-type) {
        margin-bottom: 54px; }
      .courseBlock .courseTextBlock .courseText .courseTextBold {
        font-weight: 700; }
    .courseBlock .courseTextBlock .courseTextTitle {
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      font-weight: 700;
      color: #6d6d6d;
      margin-bottom: 13px; }
  .courseBlock .courseInfoBlock {
    width: 40%; }
    @media (max-width: 500px) {
      .courseBlock .courseInfoBlock {
        width: 100%; } }
    .courseBlock .courseInfoBlock .courseInfoBlockContent {
      background-color: #fff;
      padding: 60px 40px;
      -webkit-box-shadow: 0px 0px 20px 0px #d4d4d4;
      -moz-box-shadow: 0px 0px 20px 0px #d4d4d4;
      box-shadow: 0px 0px 20px 0px #d4d4d4; }
      .courseBlock .courseInfoBlock .courseInfoBlockContent .infoTextItem {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: #353535; }
        .courseBlock .courseInfoBlock .courseInfoBlockContent .infoTextItem:not(:last-of-type) {
          margin-bottom: 55px; }
        .courseBlock .courseInfoBlock .courseInfoBlockContent .infoTextItem .infoTextBold {
          font-weight: 700; }
        @media (max-width: 800px) {
          .courseBlock .courseInfoBlock .courseInfoBlockContent .infoTextItem a {
            word-break: break-all; } }

.relatedNewsBlock .relatedTitle {
  font-family: "Bree Serif", serif;
  font-size: 48px;
  color: #424242;
  margin-bottom: 105px; }
.relatedNewsBlock .containerSlider {
  margin: 0 10%;
  padding: 0;
  max-width: 90%; }
.relatedNewsBlock .relatedSliderContent {
  overflow: hidden; }
  .relatedNewsBlock .relatedSliderContent .relatedSlider .slick-list {
    margin-right: -250px; }
    @media (max-width: 800px) {
      .relatedNewsBlock .relatedSliderContent .relatedSlider .slick-list {
        margin: auto; } }
  .relatedNewsBlock .relatedSliderContent .relatedSlider .slick-prev, .relatedNewsBlock .relatedSliderContent .relatedSlider .slick-next {
    height: 100%; }
  .relatedNewsBlock .relatedSliderContent .relatedSlider .slick-prev {
    display: none !important; }
  .relatedNewsBlock .relatedSliderContent .relatedSlider .slick-next {
    position: absolute;
    right: 0px;
    width: 65px;
    background: white;
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 33.33%, rgba(255, 255, 255, 0.5) 66.66%, white 99.99%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 33.33%, rgba(255, 255, 255, 0.5) 66.66%, white 99.99%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 33.33%, rgba(255, 255, 255, 0.5) 66.66%, white 99.99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1); }
    .relatedNewsBlock .relatedSliderContent .relatedSlider .slick-next:before {
      content: '';
      display: block;
      opacity: 1;
      background-image: url(../images/slider-right.png);
      transform: scale(0.5);
      height: 58px;
      width: 28px;
      margin: auto; }
  .relatedNewsBlock .relatedSliderContent .relatedSlider .relatedSliderItem {
    padding: 0 15px; }
    .relatedNewsBlock .relatedSliderContent .relatedSlider .relatedSliderItem .relatedSliderItemImg {
      background-size: cover;
      background-position: center;
      height: 200px; }
    .relatedNewsBlock .relatedSliderContent .relatedSlider .relatedSliderItem .relatedSliderItemContent {
      padding: 20px;
      background-color: #fff; }
      .relatedNewsBlock .relatedSliderContent .relatedSlider .relatedSliderItem .relatedSliderItemContent .relatedSliderTitle {
        font-family: "Bree Serif", serif;
        font-size: 22px;
        color: #424242;
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: normal; }
      .relatedNewsBlock .relatedSliderContent .relatedSlider .relatedSliderItem .relatedSliderItemContent .relatedSliderText {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: #6d6d6d;
        line-height: normal; }
    .relatedNewsBlock .relatedSliderContent .relatedSlider .relatedSliderItem .relatedSliderItemFooter {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-top: 2px solid #eeeeee;
      background-color: #fff; }
      @media (max-width: 800px) and (min-width: 501px) {
        .relatedNewsBlock .relatedSliderContent .relatedSlider .relatedSliderItem .relatedSliderItemFooter {
          flex-direction: column; } }
      .relatedNewsBlock .relatedSliderContent .relatedSlider .relatedSliderItem .relatedSliderItemFooter a {
        text-decoration: none; }
      .relatedNewsBlock .relatedSliderContent .relatedSlider .relatedSliderItem .relatedSliderItemFooter .relatedSliderFooterDate, .relatedNewsBlock .relatedSliderContent .relatedSlider .relatedSliderItem .relatedSliderItemFooter .relatedSliderFooterAbout {
        font-family: "Roboto", sans-serif;
        font-size: 18px; }
      .relatedNewsBlock .relatedSliderContent .relatedSlider .relatedSliderItem .relatedSliderItemFooter .relatedSliderFooterDate {
        color: #6d6d6d; }
      .relatedNewsBlock .relatedSliderContent .relatedSlider .relatedSliderItem .relatedSliderItemFooter .relatedSliderFooterAbout {
        color: #2699fb; }
  .relatedNewsBlock .relatedSliderContent .relatedSliderButtons {
    width: 215px;
    margin: auto; }
    .relatedNewsBlock .relatedSliderContent .relatedSliderButtons a {
      text-decoration: none; }
    .relatedNewsBlock .relatedSliderContent .relatedSliderButtons .relatedBtn {
      width: 215px;
      text-align: center;
      background-color: #fff;
      color: #be1a18;
      margin: 70px auto 125px;
      transition: all .3s; }
      .relatedNewsBlock .relatedSliderContent .relatedSliderButtons .relatedBtn:hover {
        background-color: #be1a18;
        color: #fff;
        transition: all .3s; }

/*# sourceMappingURL=fique-por-dentro-detalhe.css.map */
