.bannerTop {
  position: relative;
  height: 900px;
  background-size: cover;
  background-image: url(../images/in-company/banner-top-bg.jpg);
  background-position: center; }
  @media (min-width: 1600px) {
    .bannerTop {
      background-position: center top; } }
  @media (max-width: 500px) {
    .bannerTop {
      background-position: 65%; } }
  .bannerTop .titleCover {
    top: calc(50% - 60px);
    background: #055697;
    background: -moz-linear-gradient(90deg, rgba(5, 86, 151, 0.66) 33.33%, rgba(5, 86, 151, 0.33) 66.66%, rgba(5, 86, 151, 0) 99.99%);
    background: -webkit-linear-gradient(90deg, rgba(5, 86, 151, 0.66) 33.33%, rgba(5, 86, 151, 0.33) 66.66%, rgba(5, 86, 151, 0) 99.99%);
    background: linear-gradient(90deg, rgba(5, 86, 151, 0.66) 33.33%, rgba(5, 86, 151, 0.33) 66.66%, rgba(5, 86, 151, 0) 99.99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#055697",endColorstr="#055697",GradientType=1); }

@media (min-width: 1600px) {
  .incompany {
    padding: 175px 0 250px; } }
@media (max-width: 1599px) and (min-width: 801px) {
  .incompany {
    padding: 85px 0 125px; } }
@media (max-width: 800px) {
  .incompany {
    padding: 42px 0 65px; } }
.incompany .mainTitle {
  display: inline-block;
  color: #486371;
  margin-bottom: 35px; }
  .incompany .mainTitle:before {
    content: '';
    display: block;
    width: 50%;
    height: 4px;
    margin-bottom: 25px;
    background-color: #486371; }
.incompany .incompanyMainBlock {
  display: flex; }
  @media (max-width: 800px) {
    .incompany .incompanyMainBlock {
      flex-direction: column; } }
  .incompany .incompanyMainBlock .incompanyMainInfo {
    width: 50%; }
    @media (max-width: 800px) {
      .incompany .incompanyMainBlock .incompanyMainInfo {
        width: 100%;
        padding: 0;
        margin-bottom: 20px; } }
    .incompany .incompanyMainBlock .incompanyMainInfo:nth-child(1) {
      padding-right: 50px; }
      @media (max-width: 800px) {
        .incompany .incompanyMainBlock .incompanyMainInfo:nth-child(1) {
          padding: 0; } }
    .incompany .incompanyMainBlock .incompanyMainInfo:nth-child(2) {
      padding-left: 50px; }
      @media (max-width: 800px) {
        .incompany .incompanyMainBlock .incompanyMainInfo:nth-child(2) {
          padding: 0; } }
    .incompany .incompanyMainBlock .incompanyMainInfo .mainText {
      color: #696969;
      line-height: 150%; }
      @media (min-width: 1600px) {
        .incompany .incompanyMainBlock .incompanyMainInfo .mainText:not(:last-of-type) {
          margin-bottom: 50px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .incompany .incompanyMainBlock .incompanyMainInfo .mainText:not(:last-of-type) {
          margin-bottom: 25px; } }
      @media (max-width: 800px) {
        .incompany .incompanyMainBlock .incompanyMainInfo .mainText:not(:last-of-type) {
          margin-bottom: 25px; } }
    .incompany .incompanyMainBlock .incompanyMainInfo .btnRound {
      margin-top: 50px;
      top: 50px; }

.operation {
  position: relative; }
  .operation .operationBlueCover {
    position: absolute;
    background-color: #486371;
    height: 100%;
    width: 50%; }
    @media (max-width: 800px) {
      .operation .operationBlueCover {
        width: 100%; } }
  .operation .container {
    display: flex; }
  .operation .operationInfoBlock, .operation .operationImgBlock {
    width: 50%; }
    @media (max-width: 800px) {
      .operation .operationInfoBlock, .operation .operationImgBlock {
        width: 100%;
        padding: 0;
        margin-bottom: 20px; } }
  .operation .operationInfoBlock {
    height: 600px;
    overflow-x: hidden;
    overflow-y: hidden; }
    .operation .operationInfoBlock .operationInfoBlockContent {
      overflow-y: scroll;
      height: 600px;
      width: calc(100% + 15px); }
    .operation .operationInfoBlock .operationInfoItem {
      padding: 25px 80px;
      position: relative;
      width: 80%;
      left: 20%; }
      @media (max-width: 800px) {
        .operation .operationInfoBlock .operationInfoItem {
          width: 95%;
          left: 5%; } }
      .operation .operationInfoBlock .operationInfoItem:hover:before {
        content: '';
        top: 0px;
        width: 200%;
        display: block;
        height: 100%;
        position: absolute;
        left: -100%;
        background-color: #3b4d5b;
        opacity: 0.8; }
      .operation .operationInfoBlock .operationInfoItem:hover .infoItemTitle, .operation .operationInfoBlock .operationInfoItem:hover .infoItemText {
        color: #769caf; }
      .operation .operationInfoBlock .operationInfoItem:hover .infoItemTitle.comunication:before {
        background-image: url(../images/in-company/comunication-icon-hover.png); }
      .operation .operationInfoBlock .operationInfoItem:hover .infoItemTitle.law:before {
        background-image: url(../images/in-company/law-icon-hover.png); }
      .operation .operationInfoBlock .operationInfoItem:hover .infoItemTitle.education:before {
        background-image: url(../images/in-company/education-icon-hover.png); }
      .operation .operationInfoBlock .operationInfoItem:hover .infoItemTitle.eng-arch:before {
        background-image: url(../images/in-company/eng-arch-icon-hover.png); }
      .operation .operationInfoBlock .operationInfoItem:hover .infoItemTitle.business:before {
        background-image: url(../images/in-company/business-icon-hover.png); }
      .operation .operationInfoBlock .operationInfoItem.operationActive:before {
        content: '';
        top: 0px;
        width: 200%;
        display: block;
        height: 100%;
        position: absolute;
        left: -100%;
        background-color: #3b4d5b; }
      .operation .operationInfoBlock .operationInfoItem .infoItemTitle, .operation .operationInfoBlock .operationInfoItem .infoItemText {
        position: relative;
        color: #fff; }
      .operation .operationInfoBlock .operationInfoItem .infoItemTitle {
        font-family: "Bree Serif", serif; }
        @media (min-width: 1600px) {
          .operation .operationInfoBlock .operationInfoItem .infoItemTitle {
            font-size: 24px; } }
        @media (max-width: 1599px) and (min-width: 801px) {
          .operation .operationInfoBlock .operationInfoItem .infoItemTitle {
            font-size: 24px; } }
        @media (max-width: 800px) {
          .operation .operationInfoBlock .operationInfoItem .infoItemTitle {
            font-size: 24px;
            margin-bottom: 20px; } }
        .operation .operationInfoBlock .operationInfoItem .infoItemTitle.icon:before {
          content: '';
          left: -82px;
          top: 50%;
          width: 52px;
          height: 52px;
          display: block;
          position: absolute;
          background-size: contain;
          background-repeat: no-repeat; }
        .operation .operationInfoBlock .operationInfoItem .infoItemTitle.comunication:before {
          background-image: url(../images/in-company/comunication-icon.png); }
        .operation .operationInfoBlock .operationInfoItem .infoItemTitle.law:before {
          background-image: url(../images/in-company/law-icon.png); }
        .operation .operationInfoBlock .operationInfoItem .infoItemTitle.education:before {
          background-image: url(../images/in-company/education-icon.png); }
        .operation .operationInfoBlock .operationInfoItem .infoItemTitle.eng-arch:before {
          background-image: url(../images/in-company/eng-arch-icon.png); }
        .operation .operationInfoBlock .operationInfoItem .infoItemTitle.business:before {
          background-image: url(../images/in-company/business-icon.png); }
      .operation .operationInfoBlock .operationInfoItem .infoItemText {
        font-family: "Roboto", sans-serif; }
  .operation .operationImgBlock {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%; }
    @media (max-width: 800px) {
      .operation .operationImgBlock {
        position: relative;
        height: 450px;
        margin-bottom: 0;
        background-position: center; } }
    .operation .operationImgBlock .operationImgBlockItem {
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%; }

.partnership {
  position: relative; }
  @media (max-width: 800px) {
    .partnership {
      background-color: #384855; } }
  .partnership .partnershipBlueCover {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #384855; }
    @media (max-width: 800px) {
      .partnership .partnershipBlueCover {
        display: none; } }
  .partnership .container {
    display: flex;
    align-items: center; }
    @media (max-width: 800px) {
      .partnership .container {
        flex-direction: column; } }
  .partnership .successBlock, .partnership .coursesBlock {
    width: 50%; }
    @media (max-width: 800px) {
      .partnership .successBlock, .partnership .coursesBlock {
        width: 100%; } }
  .partnership .successBlock {
    padding-right: 80px; }
    @media (max-width: 800px) {
      .partnership .successBlock {
        margin-bottom: 40px;
        padding-right: 0; } }
    .partnership .successBlock .mainTitle {
      display: inline-block;
      color: #384855;
      margin-bottom: 40px;
      line-height: normal; }
      @media (max-width: 800px) {
        .partnership .successBlock .mainTitle {
          color: #fff; } }
      .partnership .successBlock .mainTitle:before {
        content: '';
        display: block;
        width: 50%;
        height: 4px;
        background-color: #384855;
        margin-bottom: 32px; }
    .partnership .successBlock .mainText {
      line-height: normal; }
      .partnership .successBlock .mainText:not(:last-of-type) {
        margin-bottom: 35px; }
      @media (max-width: 800px) {
        .partnership .successBlock .mainText {
          color: #fff; } }
    .partnership .successBlock .btnRound {
      top: 50px;
      left: -10px; }
  .partnership .coursesBlock {
    padding: 80px 0; }
    .partnership .coursesBlock .courseItem {
      position: relative;
      padding-left: 180px; }
      .partnership .coursesBlock .courseItem:not(:last-of-type) {
        margin-bottom: 80px; }
      @media (max-width: 800px) {
        .partnership .coursesBlock .courseItem {
          padding-left: 0; } }
      .partnership .coursesBlock .courseItem:before {
        content: '';
        top: 5px;
        position: absolute;
        left: 50px;
        display: block;
        width: 92px;
        height: 92px;
        background-image: url(../images/in-company/check-icon.png);
        background-size: contain;
        background-repeat: no-repeat; }
        @media (max-width: 800px) {
          .partnership .coursesBlock .courseItem:before {
            position: inherit;
            margin-bottom: 20px;
            left: inherit; } }
      .partnership .coursesBlock .courseItem .courseItemTitle {
        font-family: "Bree Serif", serif;
        color: #aebac3;
        line-height: normal;
        margin-bottom: 13px; }
        @media (min-width: 1600px) {
          .partnership .coursesBlock .courseItem .courseItemTitle {
            font-size: 28px; } }
        @media (max-width: 1599px) and (min-width: 801px) {
          .partnership .coursesBlock .courseItem .courseItemTitle {
            font-size: 24px; } }
        @media (max-width: 800px) {
          .partnership .coursesBlock .courseItem .courseItemTitle {
            font-size: 24px; } }
      .partnership .coursesBlock .courseItem .courseItemText {
        font-family: "Roboto", sans-serif;
        color: #fff;
        line-height: normal;
        margin-bottom: 23px; }
        @media (min-width: 1600px) {
          .partnership .coursesBlock .courseItem .courseItemText {
            font-size: 18px; } }
        @media (max-width: 1599px) and (min-width: 801px) {
          .partnership .coursesBlock .courseItem .courseItemText {
            font-size: 14px; } }
        @media (max-width: 800px) {
          .partnership .coursesBlock .courseItem .courseItemText {
            font-size: 18px; } }
      .partnership .coursesBlock .courseItem .courseBtn {
        position: relative;
        font-family: "Roboto", sans-serif;
        color: #fff;
        text-decoration: none;
        padding-left: 30px; }
        .partnership .coursesBlock .courseItem .courseBtn:before {
          content: '';
          display: block;
          position: absolute;
          width: 0;
          height: 0;
          left: 0;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-left: 12px solid #486371;
          border-right: 0px solid #486371;
          transition: left .3s; }
        .partnership .coursesBlock .courseItem .courseBtn:hover {
          color: #486371; }
          .partnership .coursesBlock .courseItem .courseBtn:hover:before {
            left: 10px;
            transition: left .3s; }

.gallery {
  background-image: url(../images/in-company/post_bg.jpg);
  background-size: cover;
  padding: 200px 0;
  display: flex; }
  @media (min-width: 1600px) {
    .gallery {
      padding: 200px 0; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .gallery {
      padding: 100px 0; } }
  @media (max-width: 800px) {
    .gallery {
      padding: 50px 0; } }
  @media (max-width: 1024px) {
    .gallery {
      flex-direction: column; } }
  .gallery .galleryInfoBlock {
    padding-left: 15%;
    width: 40%; }
    @media (max-width: 1024px) {
      .gallery .galleryInfoBlock {
        width: 60%;
        margin-bottom: 100px; } }
    @media (max-width: 800px) {
      .gallery .galleryInfoBlock {
        width: 80%; } }
    .gallery .galleryInfoBlock .galleryInfoTitle {
      font-family: "Bree Serif", serif;
      color: #fff;
      line-height: normal;
      margin-bottom: 20px; }
      @media (min-width: 1600px) {
        .gallery .galleryInfoBlock .galleryInfoTitle {
          font-size: 48px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .gallery .galleryInfoBlock .galleryInfoTitle {
          font-size: 36px; } }
      @media (max-width: 800px) {
        .gallery .galleryInfoBlock .galleryInfoTitle {
          font-size: 48px; } }
    .gallery .galleryInfoBlock .galleryinfoText {
      font-family: "Roboto", sans-serif;
      color: #fff;
      line-height: normal; }
      @media (min-width: 1600px) {
        .gallery .galleryInfoBlock .galleryinfoText {
          font-size: 24px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .gallery .galleryInfoBlock .galleryinfoText {
          font-size: 18px; } }
      @media (max-width: 800px) {
        .gallery .galleryInfoBlock .galleryinfoText {
          font-size: 24px; } }
    .gallery .galleryInfoBlock .btnRound {
      top: 50px; }
  .gallery .galleryBlock {
    width: calc(60% - 15%);
    margin-left: 15%; }
    @media (min-width: 1600px) {
      .gallery .galleryBlock {
        width: calc(60% - 10%);
        margin-left: 10%; } }
    @media (max-width: 1599px) and (min-width: 1025px) {
      .gallery .galleryBlock {
        width: calc(60% - 15%);
        margin-left: 15%; } }
    @media (max-width: 1024px) {
      .gallery .galleryBlock {
        width: calc(100% - 15%);
        margin-bottom: 100px; } }
    @media (max-width: 800px) {
      .gallery .galleryBlock {
        margin-left: inherit; } }
    @media (max-width: 800px) {
      .gallery .galleryBlock {
        margin-bottom: 0; } }
    .gallery .galleryBlock .galleryItem {
      height: 335px;
      width: 100%;
      padding: 20px 0px 20px 50px; }
      .gallery .galleryBlock .galleryItem .galleryItemBg {
        background-size: cover;
        width: 99%;
        height: 100%; }
    .gallery .galleryBlock .slick-prev {
      display: none !important; }
    @media (min-width: 1600px) {
      .gallery .galleryBlock .slick-next {
        right: 0;
        /* top: 145px; */
        width: 33%;
        position: absolute;
        padding: 20px 0px 20px 45px;
        height: 100%; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .gallery .galleryBlock .slick-next {
        right: 0;
        /* top: 145px; */
        width: 50%;
        position: absolute;
        padding: 20px 0px 20px 50px;
        height: 100%; } }
    @media (max-width: 800px) {
      .gallery .galleryBlock .slick-next {
        right: 0;
        /* top: 145px; */
        width: 50%;
        position: absolute;
        padding: 20px 0px 20px 50px;
        height: 100%; } }
    @media (max-width: 500px) {
      .gallery .galleryBlock .slick-next {
        position: relative;
        margin: auto;
        margin-top: 30px;
        left: 20px;
        width: 60px;
        height: 60px;
        padding: 0; }
        .gallery .galleryBlock .slick-next:before {
          width: 60px;
          height: 60px; } }
    .gallery .galleryBlock .slick-next:before {
      content: '';
      display: block;
      margin: auto;
      background-size: auto;
      background-repeat: no-repeat;
      background-image: url(../images/in-company/right-arrow-btn.png);
      background-position: center;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8); }
    .gallery .galleryBlock .slick-list {
      position: relative; }

/*# sourceMappingURL=in_company.css.map */
