.bannerTop {
  background-image: url(../images/interna-curta-duracao/banner-top-bg.jpg);
  background-size: cover;
  background-position: center; }
  .bannerTop .titleCover {
    top: calc(50% + 60px);
    background: #f8b141;
    background: -moz-linear-gradient(90deg, rgba(248, 177, 65, 0.66) 33.33%, rgba(248, 177, 65, 0.33) 66.66%, rgba(248, 177, 65, 0) 99.99%);
    background: -webkit-linear-gradient(90deg, rgba(248, 177, 65, 0.66) 33.33%, rgba(248, 177, 65, 0.33) 66.66%, rgba(248, 177, 65, 0) 99.99%);
    background: linear-gradient(90deg, rgba(248, 177, 65, 0.66) 33.33%, rgba(248, 177, 65, 0.33) 66.66%, rgba(248, 177, 65, 0) 99.99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8b141",endColorstr="#f8b141",GradientType=1); }

.shortTerm .container {
  display: flex; }
  @media (min-width: 1600px) {
    .shortTerm .container {
      padding: 140px 0 70px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .shortTerm .container {
      padding: 70px 0 35px; } }
  @media (max-width: 800px) {
    .shortTerm .container {
      padding: 70px 0 35px;
      flex-direction: column; } }
  @media (max-width: 500px) {
    .shortTerm .container {
      padding: 70px 15px 35px; } }
.shortTerm .shortTermTitleContent {
  width: 40%; }
  @media (max-width: 800px) {
    .shortTerm .shortTermTitleContent {
      margin: 0 auto 40px; } }
  @media (max-width: 500px) {
    .shortTerm .shortTermTitleContent {
      width: 100%; } }
  .shortTerm .shortTermTitleContent .mainTitle {
    color: #545454; }
    .shortTerm .shortTermTitleContent .mainTitle:before {
      content: '';
      display: block;
      width: 40%;
      height: 4px;
      background-color: #f8b141;
      margin-top: -20px;
      margin-bottom: 20px; }
.shortTerm .shortTermTextContent {
  width: 60%; }
  @media (max-width: 800px) {
    .shortTerm .shortTermTextContent {
      width: 100%; } }
  .shortTerm .shortTermTextContent .shortTermText {
    font-family: "Roboto", sans-serif;
    line-height: 150%;
    color: #696969; }
    @media (min-width: 1600px) {
      .shortTerm .shortTermTextContent .shortTermText:not(:last-of-type) {
        margin-bottom: 60px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .shortTerm .shortTermTextContent .shortTermText:not(:last-of-type) {
        margin-bottom: 30px; } }
    @media (max-width: 800px) {
      .shortTerm .shortTermTextContent .shortTermText:not(:last-of-type) {
        margin-bottom: 30px; } }
    @media (min-width: 1600px) {
      .shortTerm .shortTermTextContent .shortTermText {
        font-size: 24px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .shortTerm .shortTermTextContent .shortTermText {
        font-size: 18px; } }
    @media (max-width: 800px) {
      .shortTerm .shortTermTextContent .shortTermText {
        font-size: 24px; } }
    @media (max-width: 500px) {
      .shortTerm .shortTermTextContent .shortTermText {
        font-size: 18px; } }

.choiceBlock {
  background-image: url(../images/interna-curta-duracao/sliders-block-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px; }
  .choiceBlock .mainTitle {
    text-align: center;
    color: #fff; }
    @media (min-width: 1600px) {
      .choiceBlock .mainTitle {
        padding: 110px 0 80px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .choiceBlock .mainTitle {
        padding: 55px 0 40px; } }
    @media (max-width: 800px) {
      .choiceBlock .mainTitle {
        padding: 55px 0 40px; } }
  .choiceBlock .allCoursesBlock {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px; }

.choiceButtonsBlockContent {
  display: flex;
  justify-content: center; }

.choiceButtonsBlock {
  display: inline-flex;
  margin-bottom: 50px;
  max-width: inherit;
  border-color: #a0a0a0;
  border-bottom: 1px solid #a0a0a0; }
  @media (max-width: 800px) {
    .choiceButtonsBlock {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      border-bottom: none; } }
  .choiceButtonsBlock .choiceBtnItem {
    font-family: "Roboto", sans-serif;
    color: #fff;
    margin: 0 10px -2px;
    padding: 0 5px 30px;
    text-align: center;
    line-height: normal;
    border-bottom: 3px solid transparent; }
    @media (max-width: 800px) {
      .choiceButtonsBlock .choiceBtnItem {
        cursor: pointer;
        padding: 10px 5px 10px;
        border-bottom: 3px solid transparent; } }
    .choiceButtonsBlock .choiceBtnItem.choiceActive {
      border-bottom: 3px solid #f8b141;
      color: #f8b141; }
    .choiceButtonsBlock .choiceBtnItem:hover {
      border-bottom: 3px solid #cc9337; }

.slideCoursesItem {
  height: 600px; }
  @media (min-width: 1600px) {
    .slideCoursesItem {
      height: 600px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .slideCoursesItem {
      height: 600px; } }
  @media (max-width: 800px) {
    .slideCoursesItem {
      height: 600px; } }
  .slideCoursesItem .slideCoursesItemBlock {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .slideCoursesItem .slideCoursesItemBlock .slideItemBlock {
      display: flex;
      height: 50%; }
    .slideCoursesItem .slideCoursesItemBlock .slideItemImgBlock, .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock {
      width: 50%; }
    .slideCoursesItem .slideCoursesItemBlock .slideItemImgBlock {
      background-image: url(../images/interna-curta-duracao/post-img1.jpg);
      background-size: cover;
      background-position: center; }
    .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock {
      background-color: #e9e9e9; }
      @media (min-width: 1600px) {
        .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock {
          padding: 60px 30px 0; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock {
          padding: 30px 15px 0; } }
      @media (max-width: 800px) {
        .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock {
          padding: 30px 15px 0; } }
      .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock:hover {
        background-color: #f8b141; }
        .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock:hover .slideItemTitle:after {
          background-color: #fff; }
        .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock:hover .slideItemLink {
          color: #fff; }
      .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock .slideItemTitle {
        font-family: "Bree Serif", serif;
        color: #545454;
        line-height: normal;
        font-weight: 400; }
        @media (min-width: 1600px) {
          .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock .slideItemTitle {
            font-size: 24px; } }
        @media (max-width: 1599px) and (min-width: 801px) {
          .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock .slideItemTitle {
            font-size: 20px; } }
        @media (max-width: 800px) {
          .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock .slideItemTitle {
            font-size: 24px; } }
        @media (max-width: 500px) {
          .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock .slideItemTitle {
            font-size: 18px; } }
        .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock .slideItemTitle:after {
          content: '';
          display: block;
          height: 5px;
          width: 25px;
          background-color: #f8b141;
          margin: 20px 0; }
      .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock .slideItemLink {
        font-family: "Roboto", sans-serif;
        color: #f8b141;
        text-transform: uppercase;
        text-decoration: none; }
        .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock .slideItemLink:hover:after {
          margin-left: 14px;
          transition: margin-left .3s; }
        .slideCoursesItem .slideCoursesItemBlock .slideItemTextBlock .slideItemLink:after {
          content: '>';
          margin-left: 8px;
          font-size: 24px;
          transition: margin-left .3s; }

.slick-prev {
  left: -75px; }
  .slick-prev:before {
    display: block;
    content: '';
    background-size: cover;
    background-image: url(../images/interna-curta-duracao/prev-arrow.png);
    width: 39px;
    height: 81px; }
  @media (max-width: 500px) {
    .slick-prev {
      left: -95px; } }

.slick-next {
  right: -75px; }
  @media (max-width: 800px) and (min-width: 501px) {
    .slick-next {
      right: -55px; } }
  .slick-next:before {
    display: block;
    content: '';
    background-size: cover;
    background-image: url(../images/interna-curta-duracao/next-arrow.png);
    width: 39px;
    height: 81px; }

@media (max-width: 800px) {
  .slideCoursesBtnBlock {
    height: 60px;
    position: relative;
    width: 25%;
    margin: auto; } }

/*# sourceMappingURL=interna-curta-duracao.css.map */
