@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media (min-width: 1601px) {
  div.container {
    max-width: 1600px; } }
header .topHeader {
  display: flex;
  justify-content: center;
  background-color: #be1a18;
  padding: 30px 0;
  min-height: 120px; }
  @media (max-width: 500px) {
    header .topHeader {
      min-height: 90px; } }
  header .topHeader .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3px; }
    @media (max-width: 800px) {
      header .topHeader .container {
        justify-content: flex-start;
        flex-direction: column; } }
    @media (max-width: 500px) {
      header .topHeader .container {
        align-items: baseline; } }
  header .topHeader .menuItens {
    display: flex; }
    @media (max-width: 500px) {
      header .topHeader .menuItens {
        width: 100%;
        justify-content: space-between; } }
  header .topHeader .logo {
    width: 152px;
    margin-right: 40px;
    height: 32px; }
    header .topHeader .logo img {
      width: 152px; }
  header .topHeader .icon-menu {
    width: 25px;
    height: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 801px) {
      header .topHeader .icon-menu {
        display: none; } }
    header .topHeader .icon-menu .icon-menu-bar {
      height: 2px;
      width: 25px;
      background-color: #fff; }
      header .topHeader .icon-menu .icon-menu-bar:nth-child(2) {
        margin: 3px 0; }
  @media (max-width: 800px) {
    header .topHeader .icon-menu.menu-active {
      top: 5px; } }
  header .topHeader .icon-menu.menu-active .icon-menu-bar {
    position: absolute; }
    header .topHeader .icon-menu.menu-active .icon-menu-bar:nth-child(1) {
      transform: rotate(45deg);
      top: 10px;
      transition: transform .3s; }
    header .topHeader .icon-menu.menu-active .icon-menu-bar:nth-child(2) {
      transform: rotate(-45deg);
      top: 7px;
      transition: transform .3s; }
    header .topHeader .icon-menu.menu-active .icon-menu-bar:nth-child(3) {
      display: none; }
  header .topHeader .menuSubItens {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    @media (max-width: 800px) {
      header .topHeader .menuSubItens {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
    @media (max-width: 500px) {
      header .topHeader .menuSubItens {
        align-items: baseline; } }
    header .topHeader .menuSubItens .topMenu {
      max-width: 600px; }
      header .topHeader .menuSubItens .topMenu ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0; }
        @media (max-width: 800px) {
          header .topHeader .menuSubItens .topMenu ul {
            flex-direction: column; } }
        @media (max-width: 500px) {
          header .topHeader .menuSubItens .topMenu ul {
            margin: 15px auto; } }
        header .topHeader .menuSubItens .topMenu ul li {
          padding: 0px 16px 0; }
          header .topHeader .menuSubItens .topMenu ul li a {
            color: #FFF;
            text-decoration: none;
            transition: all .3s; }
            header .topHeader .menuSubItens .topMenu ul li a:hover {
              color: #a31e1c;
              transition: all .3s; }
    @media (max-width: 800px) and (min-width: 501px) {
      header .topHeader .menuSubItens .topNavigation {
        margin-top: 20px; } }
    header .topHeader .menuSubItens .topNavigation ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      margin: auto; }
      header .topHeader .menuSubItens .topNavigation ul li {
        color: #FFF;
        margin-right: 20px; }
        header .topHeader .menuSubItens .topNavigation ul li:last-child {
          margin-right: 0px; }
        header .topHeader .menuSubItens .topNavigation ul li.linkPortal {
          cursor: pointer;
          margin-right: 45px; }
        header .topHeader .menuSubItens .topNavigation ul li a {
          color: #FFF;
          transition: all .3s; }
          header .topHeader .menuSubItens .topNavigation ul li a:hover {
            color: #a31e1c;
            transition: all .3s; }

.secondMenu {
  position: absolute;
  width: 100%;
  z-index: 50;
  background-color: #00000030; }
  .secondMenu .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 500px) {
      .secondMenu .container {
        margin: 20px auto;
        align-items: flex-start; } }
  .secondMenu .listSecondMenu {
    display: flex;
    padding: 24px 0;
    flex-wrap: wrap; }
    @media (max-width: 500px) {
      .secondMenu .listSecondMenu {
        flex-direction: column;
        padding: 0; } }
    .secondMenu .listSecondMenu li {
      text-transform: uppercase; }
      .secondMenu .listSecondMenu li:not(:last-of-type) {
        margin-right: 40px; }
        @media (max-width: 800px) {
          .secondMenu .listSecondMenu li:not(:last-of-type) {
            margin-bottom: 5px; } }
        @media (max-width: 500px) {
          .secondMenu .listSecondMenu li:not(:last-of-type) {
            margin-right: 0; } }
      .secondMenu .listSecondMenu li a {
        color: #FFF;
        font-size: 14px;
        text-decoration: none;
        font-weight: 300;
        transition: all .3s; }
        .secondMenu .listSecondMenu li a:hover {
          color: #a31e1c;
          transition: all .3s; }
  .secondMenu .listSecondMenuSearch .headerBusca {
    position: relative; }
    .secondMenu .listSecondMenuSearch .headerBusca .buscaGeral {
      background: transparent;
      border: 2px solid #cccecf;
      padding: 4px 10px;
      padding-right: 30px;
      font-size: 13px;
      color: #fff;
      font-family: 'Roboto';
      border-radius: 20px;
      width: 170px; }
      .secondMenu .listSecondMenuSearch .headerBusca .buscaGeral:focus {
        outline: none; }
    .secondMenu .listSecondMenuSearch .headerBusca .btnBuscaGeral {
      color: #cccecf;
      background: transparent;
      border: 0;
      position: absolute;
      top: 4px;
      left: 135px;
      transition: all .3s; }
      .secondMenu .listSecondMenuSearch .headerBusca .btnBuscaGeral:hover {
        color: #be1a18;
        transition: all .3s;
        cursor: pointer; }

.bannerTop {
  height: 100vh;
  width: 100%; }

/* The container must be positioned relative: */
.selectIpog {
  position: relative;
  font-family: 'Roboto'; }
  .selectIpog select {
    display: none;
    /*hide original SELECT element: */ }

.selectIpogSelected {
  background-color: transparent; }
  .selectIpogSelected:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f107';
    top: 7px;
    right: 30px;
    height: 16px;
    top: calc(50% - 8px); }
  .selectIpogSelected.selectArrowActive:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f106'; }

/* Style the arrow inside the select element: */
/* Point the arrow upwards when the select box is open (active): */
/* style the items (options), including the selected item: */
.selectItemsIpog div, .selectIpogSelected {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-left: 10px;
  min-height: 35px;
  border: 1px solid #fff;
  cursor: pointer;
  text-align: left;
  font-size: 16px; }

.selectIpogSelected {
  border-radius: 4px; }

/* Style items (options): */
.selectItemsIpog {
  position: absolute;
  background-color: transparent;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 100px;
  overflow: auto; }
  .selectItemsIpog div {
    background-color: #a31e1c; }

/* Hide the items when the select box is closed: */
.selectHideIpog {
  display: none; }

.sameAsSelected {
  background-color: rgba(0, 0, 0, 0.1); }

.selectItemsIpog div:hover {
  background-color: #6d1412; }

/* The container must be positioned relative: */
.selectIpogChoice {
  position: relative;
  font-family: 'Roboto';
  max-width: 300px;
  width: 100%;
  margin: 5px 15px; }
  @media (max-width: 800px) {
    .selectIpogChoice {
      max-width: 245px; } }
  .selectIpogChoice select {
    display: none;
    /*hide original SELECT element: */ }

.selectIpogChoiceSelected {
  background-color: transparent; }
  .selectIpogChoiceSelected:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f107';
    top: 18px;
    right: 20px;
    color: #000; }
  .selectIpogChoiceSelected.selectArrowActiveChoice:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f106'; }

/* Style the arrow inside the select element: */
/* Point the arrow upwards when the select box is open (active): */
/* style the items (options), including the selected item: */
.selectChoiceItemsIpog div, .selectIpogChoiceSelected {
  display: flex;
  align-items: center;
  color: #9d9d9d;
  background-color: #fff;
  padding-left: 10px;
  min-height: 50px;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 16px; }

.selectIpogChoiceSelected {
  border-radius: none; }

/* Style items (options): */
.selectChoiceItemsIpog {
  position: absolute;
  background-color: transparent;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 100px;
  overflow: auto; }
  .selectChoiceItemsIpog div {
    background-color: #fff; }

/* Hide the items when the select box is closed: */
.selectChoiceHideIpog {
  display: none; }

.sameAsSelectedChoice {
  background-color: rgba(0, 0, 0, 0.1); }

.selectChoiceItemsIpog div:hover {
  background-color: #e6e5e5; }

section.inscricao {
  margin-top: 0; }
  section.inscricao .container .formInscricao {
    display: flex; }
    @media (max-width: 800px) {
      section.inscricao .container .formInscricao {
        flex-wrap: wrap;
        justify-content: center; } }
    section.inscricao .container .formInscricao .formInscricaoItem {
      width: 25%; }
      @media (max-width: 800px) {
        section.inscricao .container .formInscricao .formInscricaoItem {
          width: 33%; }
          section.inscricao .container .formInscricao .formInscricaoItem:last-of-type {
            margin-top: 40px; } }
      @media (max-width: 500px) {
        section.inscricao .container .formInscricao .formInscricaoItem {
          width: 100%; }
          section.inscricao .container .formInscricao .formInscricaoItem input[type='text'] {
            width: 100%; } }
      section.inscricao .container .formInscricao .formInscricaoItem .formInscricaoItemInput:focus {
        outline: none; }

.parcerias .parceriasListImg {
  display: flex;
  align-items: center; }
  @media (max-width: 800px) {
    .parcerias .parceriasListImg {
      justify-content: center;
      flex-wrap: wrap; } }
  .parcerias .parceriasListImg .parceriasImg {
    max-width: 280px;
    width: 100%; }
    @media (min-width: 1600px) {
      .parcerias .parceriasListImg .parceriasImg {
        margin: 0 70px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .parcerias .parceriasListImg .parceriasImg {
        margin: 10px 35px;
        max-width: 20%; } }
    .parcerias .parceriasListImg .parceriasImg img {
      max-height: 94px;
      max-width: 100%; }

footer .sitemap .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 800px) {
    footer .sitemap .container .sitemapItem:last-of-type {
      margin-top: 20px; } }
  @media (max-width: 500px) {
    footer .sitemap .container .sitemapItem:not(:last-of-type) {
      margin-bottom: 20px; } }
  footer .sitemap .container .sitemapItemSm {
    width: 180px; }
    @media (max-width: 500px) {
      footer .sitemap .container .sitemapItemSm {
        width: 50%; } }
  footer .sitemap .container .sitemapItemMd {
    width: 230px; }
  footer .sitemap .container .siteItemLg {
    width: 50%; }
footer .sitemap .socialIconsList {
  display: flex;
  margin-top: 20px; }
  footer .sitemap .socialIconsList .socialIconsItem {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 0;
    margin-right: 10px; }
    footer .sitemap .socialIconsList .socialIconsItem i {
      display: flex;
      align-items: center;
      justify-content: center; }
    footer .sitemap .socialIconsList .socialIconsItem:hover {
      background-color: #fff;
      cursor: pointer; }
      footer .sitemap .socialIconsList .socialIconsItem:hover svg, footer .sitemap .socialIconsList .socialIconsItem:hover i {
        color: #a31e1c; }
footer .sitemap .inputForm:focus {
  outline: none; }
footer .sitemap .footerMapBtn:focus {
  outline: none; }
@media (max-width: 500px) {
  footer .sitemap .footerMapBtn {
    padding: 13px 18px; } }

.footerMapBtn {
  height: 44px; }

.inputForm {
  height: 35px; }

.sitemapItem form {
  margin-top: 10px;
  display: flex;
  align-items: center; }
  @media (max-width: 500px) {
    .sitemapItem form {
      flex-wrap: wrap;
      justify-content: center; } }

.bannerTop .container {
  display: flex;
  align-items: center;
  height: 100%; }
  .bannerTop .container .bannerTopTitulo {
    font-family: 'IntroRegular';
    font-size: 60px;
    color: #fff;
    font-weight: 400; }
    @media (min-width: 801px) and (max-width: 1330px) {
      .bannerTop .container .bannerTopTitulo {
        font-size: 40px; } }
    @media (max-width: 500px) {
      .bannerTop .container .bannerTopTitulo {
        font-size: 40px; } }
  .bannerTop .container .breadcrumbsBlock .breadcrumbsList {
    display: flex; }
    .bannerTop .container .breadcrumbsBlock .breadcrumbsList .breadcrumbsListItem {
      display: flex;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #fff; }
      .bannerTop .container .breadcrumbsBlock .breadcrumbsList .breadcrumbsListItem:not(:last-of-type):after {
        content: '>';
        display: block;
        width: 52px;
        text-align: center; }

.inputItem {
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  color: #9d9d9d;
  margin: 5px 15px;
  min-height: 50px;
  padding-left: 10px;
  border: none; }
  @media (max-width: 800px) {
    .inputItem {
      max-width: 245px; } }
  .inputItem::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9d9d9d;
    opacity: 1;
    /* Firefox */
    font-family: 'Roboto';
    font-size: 16px; }
  .inputItem:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9d9d9d;
    font-family: 'Roboto';
    font-size: 16px; }
  .inputItem::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #9d9d9d;
    font-family: 'Roboto';
    font-size: 16px; }
  .inputItem:focus {
    outline: none; }

.btnRound {
  background-color: #fff;
  padding: 20px 30px 20px 40px;
  border-radius: 60px;
  position: relative;
  font-family: 'Roboto';
  font-size: 18px;
  color: #be1a18;
  transition: all .3s; }
  .btnRound:hover {
    text-decoration: none;
    background-color: #be1a18;
    color: #fff;
    transition: all .3s; }
    .btnRound:hover:before {
      left: 30px;
      transition: left .3s; }
  .btnRound:before {
    font-family: "Font Awesome 5 Free";
    content: '\f0da';
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    left: 25px;
    transition: left .3s; }

.choiceBtn {
  padding: 20px 25px;
  border-radius: 50px;
  color: #fff;
  min-width: 150px;
  border: none; }
  .choiceBtn:focus {
    outline: none; }
  .choiceBtn:not(:last-of-type) {
    margin-right: 20px; }
  @media (max-width: 500px) {
    .choiceBtn:not(:last-of-type) {
      margin-right: inherit;
      margin-bottom: 20px; } }

.titleCover {
  position: absolute;
  height: 110px;
  width: 50%;
  top: calc(50% - 60px);
  background: #60acbf;
  background: -moz-linear-gradient(90deg, rgba(96, 172, 191, 0.6) 60%, rgba(81, 146, 162, 0.3) 80%, transparent 100%);
  background: -webkit-linear-gradient(90deg, rgba(96, 172, 191, 0.6) 60%, rgba(81, 146, 162, 0.3) 80%, transparent 100%);
  background: linear-gradient(90deg, rgba(96, 172, 191, 0.6) 60%, rgba(81, 146, 162, 0.3) 80%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#60acbf",endColorstr="#000000",GradientType=1); }
  @media (max-width: 800px) {
    .titleCover {
      top: calc(50% - 90px); } }

.container {
  position: relative; }
  .container .bannerTopTitulo {
    font-size: 40px; }

.infoFrame {
  margin-top: -75px; }
  .infoFrame .container {
    display: flex;
    background-color: #fff;
    height: 150px; }
    @media (min-width: 801px) {
      .infoFrame .container {
        justify-content: space-between; } }
    @media (max-width: 500px) {
      .infoFrame .container {
        padding: 30px 20px;
        height: inherit;
        align-items: center;
        flex-direction: column-reverse; } }
    .infoFrame .container .infoFrameBtnContent {
      width: calc(100% - 362px); }
      @media (max-width: 500px) {
        .infoFrame .container .infoFrameBtnContent {
          width: 100%; } }
      .infoFrame .container .infoFrameBtnContent .listInfoFrameBtn {
        flex-wrap: wrap; }
        @media (max-width: 500px) {
          .infoFrame .container .infoFrameBtnContent .listInfoFrameBtn {
            flex-wrap: wrap;
            flex-direction: row; } }
        .infoFrame .container .infoFrameBtnContent .listInfoFrameBtn .listInfoFrameItem {
          display: flex;
          align-items: center;
          padding: 0px 30px;
          height: 100%;
          border-bottom: 3px solid transparent;
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          color: #5f5f5f; }
          @media (max-width: 1100px) {
            .infoFrame .container .infoFrameBtnContent .listInfoFrameBtn .listInfoFrameItem {
              width: 45%;
              height: 33%; } }
          @media (max-width: 500px) {
            .infoFrame .container .infoFrameBtnContent .listInfoFrameBtn .listInfoFrameItem {
              padding: 15px 30px; } }
          .infoFrame .container .infoFrameBtnContent .listInfoFrameBtn .listInfoFrameItem:hover {
            color: #be1a18; }
        .infoFrame .container .infoFrameBtnContent .listInfoFrameBtn .listInfoFrameItem.active {
          border-bottom: 3px solid #be1a18;
          color: #be1a18; }
    .infoFrame .container .listInfoFrameBtn, .infoFrame .container .infoFrameSearchContent {
      display: flex;
      align-items: center;
      height: 100%; }
    .infoFrame .container .infoFrameSearchContent {
      width: 300px;
      display: flex;
      justify-content: flex-end; }
      @media (min-width: 1600px) {
        .infoFrame .container .infoFrameSearchContent {
          width: 362px; } }
      .infoFrame .container .infoFrameSearchContent .infoSearchInput {
        width: 100%;
        border-radius: 30px;
        border: 1px solid #626262;
        font-family: "Roboto", sans-serif;
        padding: 20px 25px; }
        .infoFrame .container .infoFrameSearchContent .infoSearchInput:focus {
          outline: none; }
        .infoFrame .container .infoFrameSearchContent .infoSearchInput::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #464646;
          opacity: 1;
          /* Firefox */
          font-family: "Roboto", sans-serif; }
        .infoFrame .container .infoFrameSearchContent .infoSearchInput:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: #464646;
          font-family: "Roboto", sans-serif; }
        .infoFrame .container .infoFrameSearchContent .infoSearchInput::-ms-input-placeholder {
          /* Microsoft Edge */
          color: #464646;
          font-family: "Roboto", sans-serif; }

@media (min-width: 1600px) {
  .mainInfo {
    margin-top: 130px; } }
@media (max-width: 1599px) and (min-width: 801px) {
  .mainInfo {
    margin-top: 80px; } }
@media (max-width: 800px) {
  .mainInfo {
    margin-top: 40px; } }
@media (max-width: 500px) {
  .mainInfo {
    margin-top: 32px; } }
.mainInfo .container {
  padding: 0; }
@media (max-width: 500px) {
  .mainInfo .infoItemBlock {
    padding: 0 25px; } }
.mainInfo .infoItemBlock .infoItemTitle {
  font-family: "Bree Serif", serif;
  font-size: 48px;
  color: #a31e1c; }
  @media (min-width: 1600px) {
    .mainInfo .infoItemBlock .infoItemTitle {
      font-size: 48px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .mainInfo .infoItemBlock .infoItemTitle {
      font-size: 32px; } }
  @media (max-width: 800px) {
    .mainInfo .infoItemBlock .infoItemTitle {
      font-size: 24px; } }
  @media (max-width: 500px) {
    .mainInfo .infoItemBlock .infoItemTitle {
      font-size: 36px; } }
.mainInfo .infoItemBlock .infoItemContent {
  margin-top: 45px;
  margin-bottom: 60px; }
  .mainInfo .infoItemBlock .infoItemContent .infoItemContentTitle, .mainInfo .infoItemBlock .infoItemContent .infoItemContentText {
    font-family: "Roboto", sans-serif;
    font-size: 24px; }
    @media (min-width: 1600px) {
      .mainInfo .infoItemBlock .infoItemContent .infoItemContentTitle, .mainInfo .infoItemBlock .infoItemContent .infoItemContentText {
        font-size: 24px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .mainInfo .infoItemBlock .infoItemContent .infoItemContentTitle, .mainInfo .infoItemBlock .infoItemContent .infoItemContentText {
        font-size: 18px; } }
    @media (max-width: 800px) {
      .mainInfo .infoItemBlock .infoItemContent .infoItemContentTitle, .mainInfo .infoItemBlock .infoItemContent .infoItemContentText {
        font-size: 24px; } }
    @media (max-width: 500px) {
      .mainInfo .infoItemBlock .infoItemContent .infoItemContentTitle, .mainInfo .infoItemBlock .infoItemContent .infoItemContentText {
        font-size: 24px; } }
  .mainInfo .infoItemBlock .infoItemContent .infoItemContentTitle {
    font-weight: bold;
    color: #696969;
    margin-bottom: 23px; }
  .mainInfo .infoItemBlock .infoItemContent .infoItemContentText {
    color: #545454;
    line-height: 166.67%; }

.mainTitle {
  font-family: "Bree Serif", serif; }
  @media (min-width: 1600px) {
    .mainTitle {
      font-size: 48px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .mainTitle {
      font-size: 36px; } }
  @media (max-width: 800px) {
    .mainTitle {
      font-size: 24px; } }

.mainText {
  font-family: "Roboto", sans-serif; }
  @media (min-width: 1600px) {
    .mainText {
      font-size: 24px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .mainText {
      font-size: 18px; } }
  @media (max-width: 800px) {
    .mainText {
      font-size: 24px; } }

.bold {
  font-weight: bold; }

/* o nosso checkbox não precisa estar visível para que possamos
   acessar sua pseudo-classe :checked, sendo assim nós definimos
   o display como none, que vai funcionar como se o nosso elemento
   nem estivesse no DOM, não irá ocupar nenhum espaço, ao contrário
   do que seria se simplesmente definissemos opacity:0 */
#loudspeakerMenuTgl {
  display: none; }

/* aqui aparece o primeiro uso do nosso seletor ~, esse seletor
   é usado quando queremos selecionar os próximos elementos na
   árvore, desde que estejam no mesmo nivel, no nosso caso o
   input[type=checkbox] está na mesma hierarquia que a nossa nav.menu */
#loudspeakerMenuTgl ~ .loudspeakerNav {
  box-sizing: border-box;
  position: fixed;
  right: calc( -350px * 2);
  width: 350px;
  height: 100%;
  background: #fff;
  font-family: Verdana;
  padding: 80px 27px;
  transform: translateX(-100%);
  transition: transform 0.7s ease;
  top: 0;
  z-index: 100; }
  @media (max-width: 500px) {
    #loudspeakerMenuTgl ~ .loudspeakerNav {
      right: calc( -260px * 2);
      width: 260px; } }

/* pre-fixos: eu não estou utilizando nenhum pré-fixo nesse arquivo
   para não deixar muito longo o nosso post(mais do que ja está) */
/* aqui usamos novamente o seletor ~, se olharem direito
   como nosso label.menu-btn está dentro da nossa nav.menu
   só conseguimos acessa-la se formos pelo nav.loudspeakerNav que está
   na mesma hierarquia que nosso input#loudspeakerMenuTgl */
#loudspeakerMenuTgl ~ .loudspeakerNav .menu-btn {
  display: flex;
  position: absolute;
  box-sizing: border-box;
  right: 350px;
  top: 30%;
  font-family: Verdana;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #fff;
  width: 53px;
  height: 59px;
  border-radius: 5px 0px 0px 5px;
  text-align: center; }
  @media (max-width: 500px) {
    #loudspeakerMenuTgl ~ .loudspeakerNav .menu-btn {
      right: 260px; } }

/* Aqui um bônus, para mudar o texto dentro do nosso label
   nós utilizaremos o pseudo-elemento ::after, assim 
   temos algo ainda mais interativo pro usuário,
   quando estiver fechado irá aparecer "ABRIR" */
#loudspeakerMenuTgl ~ .loudspeakerNav .menu-btn::after {
  content: "";
  display: block;
  margin: auto;
  background-image: url(../images/loudspeaker-icon.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 22px; }

/* Aqui vem a magia do aparecimento da barra
   quando nosso input#loudspeakerMenuTgl estiver selecionado 
   a nossa barra irá deslizar suavemente para fora 
   da lateral esquerda */
#loudspeakerMenuTgl:checked ~ .loudspeakerNav {
  transform: translateX(-200%); }

/* e o texto será alterado para "FECHAR" */
.loudspeakerPostMenu {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid; }
  .loudspeakerPostMenu .loudspeakerPostMenuItem {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    position: relative;
    margin: 20px; }
    .loudspeakerPostMenu .loudspeakerPostMenuItem:first-of-type.activeLoud::after {
      padding-left: 19px; }
    .loudspeakerPostMenu .loudspeakerPostMenuItem:first-of-type::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      border-right: 1px solid #000;
      padding-left: 20px; }
    .loudspeakerPostMenu .loudspeakerPostMenuItem.activeLoud {
      color: #be1816;
      font-weight: 700; }

.loudspeakerNavTitle {
  font-family: 'IntroRegular';
  color: #a42020;
  text-align: center;
  margin-bottom: 10px; }

.loudspeakerPostBlock {
  height: 450px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 40px; }
  @media (max-width: 500px) {
    .loudspeakerPostBlock .loudspeakerPostBlockContent {
      width: 90%; } }
  .loudspeakerPostBlock .loudspeakerPostBlockContent .loudspeakerPostBlockItem {
    position: relative;
    height: 400px;
    width: 110%;
    overflow-y: scroll;
    margin-top: 40px; }
    .loudspeakerPostBlock .loudspeakerPostBlockContent .loudspeakerPostBlockItem:not(:first-of-type) {
      display: none; }
    .loudspeakerPostBlock .loudspeakerPostBlockContent .loudspeakerPostBlockItem .postItem {
      display: flex;
      margin-bottom: 40px; }
      .loudspeakerPostBlock .loudspeakerPostBlockContent .loudspeakerPostBlockItem .postItem:first-child {
        margin-top: 0; }
      .loudspeakerPostBlock .loudspeakerPostBlockContent .loudspeakerPostBlockItem .postItem .postItemImg {
        width: 62px;
        height: 62px;
        background-color: #be1a18;
        padding-left: 11px;
        padding-top: 14px; }
        .loudspeakerPostBlock .loudspeakerPostBlockContent .loudspeakerPostBlockItem .postItem .postItemImg .postItemDateText {
          color: #fff;
          font-family: "Roboto", sans-serif;
          line-height: 100%; }
          @media (min-width: 1600px) {
            .loudspeakerPostBlock .loudspeakerPostBlockContent .loudspeakerPostBlockItem .postItem .postItemImg .postItemDateText {
              font-size: 22px; } }
          @media (max-width: 1599px) and (min-width: 801px) {
            .loudspeakerPostBlock .loudspeakerPostBlockContent .loudspeakerPostBlockItem .postItem .postItemImg .postItemDateText {
              font-size: 22px; } }
          @media (max-width: 800px) {
            .loudspeakerPostBlock .loudspeakerPostBlockContent .loudspeakerPostBlockItem .postItem .postItemImg .postItemDateText {
              font-size: 18px; } }
        .loudspeakerPostBlock .loudspeakerPostBlockContent .loudspeakerPostBlockItem .postItem .postItemImg .postDay {
          font-weight: bold; }
        .loudspeakerPostBlock .loudspeakerPostBlockContent .loudspeakerPostBlockItem .postItem .postItemImg .postMonth {
          font-weight: 300; }
      .loudspeakerPostBlock .loudspeakerPostBlockContent .loudspeakerPostBlockItem .postItem .postItemInfo {
        width: calc(100% - 62px); }
        .loudspeakerPostBlock .loudspeakerPostBlockContent .loudspeakerPostBlockItem .postItem .postItemInfo .postItemText {
          padding: 0 10px;
          font-family: "Roboto", sans-serif;
          font-size: 12px;
          line-height: normal; }

@font-face {
  font-family: 'BreeSerif';
  src: url("../fonts/BreeSerif/BreeSerif-Regular.woff") format("woff"), url("../fonts/BreeSerif/BreeSerif-Regular.ttf") format("opentype"); }
@font-face {
  font-family: 'MyriadPro Regular';
  src: url("../fonts/MyriadPro/MYRIADPRO-REGULAR.woff") format("woff"); }
@font-face {
  font-family: 'IntroRegular';
  src: url("../fonts/IntroRegular/Intro.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url("../fonts/Roboto/Roboto-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Roboto Light';
  font-weight: 100;
  src: url("../fonts/Roboto/Roboto-Light.woff") format("woff"); }
@font-face {
  font-family: 'Roboto Bold';
  font-weight: 100;
  src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff"); }
body {
  font-family: 'BreeSerif';
  overflow-x: hidden;
  background-color: #f0f0f0; }

.btn {
  color: #be1a18;
  background: #FFF;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Bold';
  font-size: 16px;
  border-radius: 28px;
  padding: 20px 44px; }
  .btn:hover {
    background: #be1a18;
    color: #ffffff;
    transition: 200ms; }

/**
    BANNER
**/
.containerHome .banner {
  position: relative; }
  .containerHome .banner .secondMenu {
    position: absolute;
    z-index: 999;
    background-color: #00000030;
    font-weight: 100;
    text-transform: uppercase;
    width: 100%;
    padding-left: 8%;
    padding-top: 20px;
    padding-bottom: 20px; }
    .containerHome .banner .secondMenu li {
      list-style: none;
      float: left;
      font-weight: 100;
      padding-right: 40px; }
      .containerHome .banner .secondMenu li a {
        color: #FFF;
        font-size: 14px;
        text-decoration: none;
        font-weight: 300; }
      .containerHome .banner .secondMenu li.headerBusca {
        float: right;
        padding-right: 13%;
        position: relative; }
        .containerHome .banner .secondMenu li.headerBusca input.buscaGeral {
          background: transparent;
          border: 2px solid #cccecf;
          padding: 2px 6px;
          font-size: 13px;
          color: #FFF;
          font-family: 'Roboto';
          border-radius: 20px;
          width: 170px; }
        .containerHome .banner .secondMenu li.headerBusca .btnBuscaGeral {
          color: #cccecf;
          background: transparent;
          border: 0;
          position: absolute;
          top: 0px;
          left: 135px; }
          .containerHome .banner .secondMenu li.headerBusca .btnBuscaGeral i {
            font-size: 15px; }
  .containerHome .banner .slick-slide {
    height: 100vh; }
  .containerHome .banner .bannerHome .item {
    background-size: cover;
    background-repeat: no-repeat; }
    .containerHome .banner .bannerHome .item .buscaCursos {
      background: transparent;
      border: 1px solid #FFF;
      padding: 10px 20px;
      color: #FFF;
      border-radius: 20px;
      font-size: 13px;
      width: 290px;
      margin-top: 1%;
      margin-left: 11%; }
    .containerHome .banner .bannerHome .item h2 {
      font-family: 'IntroRegular';
      color: #FFF;
      font-size: 42px;
      padding-left: 11%;
      padding-top: 14%; }

.icon-scroll {
  position: absolute;
  left: 50%;
  width: 30px;
  height: 48px;
  margin-left: -20px;
  bottom: 15px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 25px; }
  .icon-scroll:before {
    position: absolute;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    background: #fff;
    margin-left: -3px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll; }

input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder {
  font-family: 'Roboto';
  color: #FFF;
  font-size: 13px; }

/**
    HISTÓRIA
**/
.historia {
  padding-top: 90px; }
  .historia .container .col-md-6:first-child {
    padding-left: 0;
    position: relative;
    float: left; }
  .historia .container .col-md-6:nth-child(2) {
    padding-right: 0;
    float: left;
    padding-left: 80px; }
  .historia .imagemDestaque {
    margin-left: 100px; }
    .historia .imagemDestaque img {
      height: 400px; }
  .historia .descHistoria {
    position: absolute;
    background: #be1a18;
    color: #FFF;
    width: 250px;
    height: 300px;
    padding-top: 35px;
    top: 0; }
    .historia .descHistoria a {
      color: #FFF;
      padding-left: 20px;
      font-size: 15px;
      text-decoration: none; }
    .historia .descHistoria h3 {
      font-size: 36px;
      padding-left: 20px;
      padding-top: 35px; }
  .historia .tituloEnsino {
    text-transform: uppercase;
    font-size: 35px; }
  .historia .descEnsino {
    font-family: 'Roboto';
    color: #696969;
    font-weight: 300;
    font-size: 18px;
    padding-top: 15px; }
  .historia .video {
    float: left;
    width: 100%; }
    .historia .video img {
      float: left;
      padding-right: 25px; }
    .historia .video h4 {
      color: #424242;
      margin-bottom: 70px; }
    .historia .video a {
      text-decoration: none;
      color: #be1a18;
      font-family: 'Roboto';
      text-transform: uppercase;
      background: #FFF;
      padding: 16px 41px;
      border-radius: 43px;
      -webkit-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
      -moz-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
      box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75); }

/**
    CURSOS
**/
.cursos {
  margin-top: 90px;
  margin-bottom: 100px; }
  .cursos .bgCurso {
    background: #465d68;
    width: 85%;
    height: 319px;
    right: 0;
    position: absolute; }
  .cursos h3 {
    font-family: 'BreeSerif';
    background: #78909c;
    color: #FFF;
    text-align: center;
    width: 95%;
    z-index: 99999;
    position: relative;
    margin: -15px auto;
    font-size: 20px;
    padding: 10px 0; }
  .cursos .featured {
    background: #d69225; }
  .cursos .listaCursos {
    width: 88%;
    margin-right: 40px;
    float: right;
    margin-top: 90px; }
    .cursos .listaCursos .itemCurso {
      width: 15%;
      margin-right: 14px;
      float: left; }
      .cursos .listaCursos .itemCurso:last-child {
        margin-right: 0; }
      .cursos .listaCursos .itemCurso img {
        width: 100%;
        position: relative;
        z-index: 0; }

@keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(46px); } }
/**
    NOTÍCIAS
**/
.noticias h3 {
  text-align: center;
  font-size: 44px;
  color: #424242;
  margin-bottom: 80px;
  margin-top: 30px; }
.noticias .slick-dotted.slick-slider {
  margin-bottom: 80px; }
.noticias .itemNoticia img {
  width: 100%; }
.noticias a.ver-todos {
  -webkit-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
  -moz-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
  box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
  background: #FFF;
  color: #a31e1c;
  padding: 14px 60px;
  border-radius: 40px;
  text-transform: uppercase;
  display: block;
  width: 202px;
  text-decoration: none;
  margin: 0px auto; }
  .noticias a.ver-todos:hover {
    -webkit-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
    -moz-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
    box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
    background: #FFF;
    color: #a31e1c;
    padding: 14px 60px;
    border-radius: 40px;
    text-transform: uppercase;
    display: block;
    width: 202px;
    text-decoration: none;
    margin: 0px auto; }
.noticias .slick-list {
  margin-bottom: 50px; }
.noticias .slick-track {
  margin-bottom: 20px; }
.noticias .itemNoticia {
  background: #FFF;
  margin: 0 20px;
  color: #424242;
  padding-bottom: 10px;
  -webkit-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
  -moz-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
  box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75); }
  .noticias .itemNoticia .titulo {
    font-size: 20px;
    min-height: 80px;
    margin-top: 20px;
    padding: 0 20px; }
  .noticias .itemNoticia .descricao, .noticias .itemNoticia .footerNoticia {
    padding: 0 20px; }
  .noticias .itemNoticia .descricao, .noticias .itemNoticia .footerNoticia, .noticias .itemNoticia .tag {
    font-family: 'Roboto'; }
  .noticias .itemNoticia .descricao {
    color: #6d6d6d; }
  .noticias .itemNoticia .tag {
    margin-top: -35px;
    color: #FFF;
    padding: 1px 10px;
    font-size: 14px;
    font-family: 'Roboto Light';
    margin-left: 20px;
    border-radius: 4px;
    display: block;
    position: absolute; }
    .noticias .itemNoticia .tag.eventos {
      background-color: #4d90cd; }
    .noticias .itemNoticia .tag.post {
      background-color: #e9734c; }
    .noticias .itemNoticia .tag.noticias {
      background-color: #b2262a; }
  .noticias .itemNoticia .footerNoticia {
    border-top: 1px solid #EEEEEE;
    padding-top: 10px; }
    .noticias .itemNoticia .footerNoticia .date {
      color: #6d6d6d; }
    .noticias .itemNoticia .footerNoticia .leiaMais {
      text-transform: uppercase;
      float: right; }

/**
    INSCRIÇÃO
**/
.inscricao {
  background-image: url("../images/home/back-inscrever.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #FFF;
  text-align: center;
  padding: 40px 0;
  margin-top: 100px; }
  .inscricao h3 {
    font-family: 'IntroRegular';
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .inscricao .col-md-3 {
    float: left; }
  .inscricao input[type='text'] {
    background: transparent;
    width: 95%;
    border: 1px solid #FFF;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 10px;
    color: #FFF;
    padding-top: 6px;
    padding-bottom: 6px; }
    .inscricao input[type='text']::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff;
      opacity: 1;
      /* Firefox */
      font-family: 'Roboto';
      font-size: 16px; }
    .inscricao input[type='text']:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #fff;
      font-family: 'Roboto';
      font-size: 16px; }
    .inscricao input[type='text']::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #fff;
      font-family: 'Roboto';
      font-size: 16px; }
    .inscricao input[type='text']:focus {
      outline: none; }
  .inscricao input[type='submit'] {
    color: #a31e1c;
    background: #FFF;
    border: 0;
    text-transform: uppercase;
    font-family: 'Roboto Bold';
    font-size: 14px;
    border-radius: 28px;
    padding: 14px 44px; }
    .inscricao input[type='submit']:hover {
      background: #be1a18;
      color: #ffffff;
      transition: 200ms;
      cursor: pointer; }

/**
    PARCERIAS
**/
.parcerias {
  background: #FFF;
  text-align: center;
  padding: 55px 0 45px; }
  .parcerias .col-md-3, .parcerias .col-md-2 {
    float: left; }
  .parcerias img {
    align-items: center;
    justify-content: center; }

/* .parcerias .container div{
    height: 115px;
} */
/**
    FOOTER
**/
footer ul {
  list-style: none;
  padding-left: 0; }
footer p {
  font-family: 'Roboto Light';
  font-size: 15px;
  line-height: 28px; }
footer ul li a {
  color: #FFF;
  font-family: 'Roboto Light';
  text-decoration: none;
  font-size: 15px; }
  footer ul li a:hover {
    color: #FFF;
    font-family: 'Roboto Light';
    text-decoration: none;
    font-size: 15px; }
footer .copyright {
  background-color: #750605;
  padding: 30px;
  float: left;
  width: 100%;
  color: #FFF;
  font-weight: 300;
  text-align: center; }
  footer .copyright img {
    width: 130px;
    padding-bottom: 20px;
    padding-top: 20px; }
footer .sitemap {
  float: left;
  width: 100%;
  background: #a31e1c;
  color: #FFF;
  font-family: 'Roboto';
  padding: 70px 0 50px; }
  footer .sitemap .col-md-3, footer .sitemap .col-md-2, footer .sitemap .col-md-5 {
    float: left; }
  footer .sitemap h4 {
    font-size: 18px;
    padding-bottom: 20px;
    font-family: 'Roboto Bold'; }
  footer .sitemap ul li {
    padding-bottom: 4px; }
  footer .sitemap ul.redesSociais li {
    float: left;
    margin-right: 14px; }
    footer .sitemap ul.redesSociais li:first-child a {
      padding: 8px 12px; }
    footer .sitemap ul.redesSociais li a {
      border: 1px solid #FFF;
      border-radius: 39px;
      padding: 8px; }
    footer .sitemap ul.redesSociais li i {
      font-size: 20px; }
    footer .sitemap ul.redesSociais li svg {
      padding-top: 5px; }
footer form input[type='email'] {
  border: 1px solid #FFF;
  color: #FFF;
  border-radius: 4px;
  background: transparent;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px; }
footer form input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
  font-family: 'Roboto';
  font-size: 16px; }
footer form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  font-family: 'Roboto';
  font-size: 16px; }
footer form input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
  font-family: 'Roboto';
  font-size: 16px; }
footer form input:focus {
  outline: none; }
footer form input[type='submit'] {
  background: #FFF;
  border: 0;
  color: #a31e1c;
  font-size: 12px;
  text-transform: uppercase;
  padding: 13px 38px;
  margin-left: 20px;
  border-radius: 20px;
  font-family: 'Roboto Bold'; }
  footer form input[type='submit']:hover {
    background: #750605;
    color: #ffffff;
    transition: 200ms;
    cursor: pointer; }

@media (min-width: 1200px) {
  .container {
    max-width: 80%; } }
@media (max-width: 768px) {
  footer .sitemap .col-md-3, footer .sitemap .col-md-2, footer .sitemap .col-md-5 {
    margin-bottom: 30px; }
  footer form input[type='email'] {
    width: 100%; }
  footer form input[type='submit'] {
    margin-left: 0;
    margin-top: 10px; }

  .inscricao h3 {
    font-size: 28px; }
  .inscricao input, .inscricao select {
    margin-bottom: 10px; }

  .noticias h3 {
    font-size: 32px;
    margin-bottom: 55px; }

  .cursos {
    margin-top: 0px;
    margin-bottom: 40px; }
    .cursos .bgCurso {
      display: none; }
    .cursos .listaCursos {
      background: #465d68;
      width: 100%;
      margin-right: 0;
      float: left;
      padding: 40px;
      margin-top: 90px; }
      .cursos .listaCursos .itemCurso {
        width: 100%;
        margin-right: 14px;
        margin-bottom: 50px; }

  .historia .container .col-md-6:nth-child(2) {
    padding-right: 0px;
    padding-left: 25px; }
  .historia .tituloEnsino {
    font-size: 32px; }
  .historia .descEnsino {
    font-size: 16px; }
  .historia .video h4 {
    font-size: 20px;
    margin-bottom: 50px; }
  .historia .video a {
    padding: 16px 18px;
    font-size: 13px; }
  .historia .container .col-md-6:first-child {
    margin-bottom: 50px; }
  .historia .imagemDestaque img {
    height: 214px; }
  .historia .descHistoria {
    width: 189px;
    height: 170px;
    padding-top: 5px;
    left: 25px; }
    .historia .descHistoria h3 {
      font-size: 20px; }

  .containerHome .banner .secondMenu {
    display: none; }
  .containerHome .banner .slick-slide {
    height: 420px; }
  .containerHome .banner .bannerHome .item h2 {
    font-size: 32px; } }

/*# sourceMappingURL=main.css.map */
