.bannerTop {
  background-image: url(../images/nossos-clientes/top-bg.jpg);
  background-size: cover; }

.clientes {
  padding: 30px 0; }
  .clientes .clientesSlider {
    margin-top: 0;
    margin-bottom: 0; }
    .clientes .clientesSlider .slick-slide > div {
      display: flex;
      margin-bottom: 30px; }
    .clientes .clientesSlider .clientesSliderItem {
      display: inline-flex !important;
      height: 127px; }
      .clientes .clientesSlider .clientesSliderItem img {
        max-width: 100%;
        max-height: 127px;
        margin: auto; }
  .clientes .clientesSliderButton {
    position: relative;
    height: 50px;
    margin: auto; }
    .clientes .clientesSliderButton .slick-prev:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-image: url(../images/prev-page.png);
      background-size: contain;
      background-repeat: no-repeat; }
    @media (max-width: 500px) {
      .clientes .clientesSliderButton .slick-prev {
        left: 50px; } }
    .clientes .clientesSliderButton .slick-next:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-image: url(../images/next-page.png);
      background-size: contain;
      background-repeat: no-repeat; }
    @media (max-width: 500px) {
      .clientes .clientesSliderButton .slick-next {
        right: 50px; } }
    .clientes .clientesSliderButton .slick-dots {
      bottom: 15px;
      width: auto; }
      .clientes .clientesSliderButton .slick-dots li {
        height: auto; }
        .clientes .clientesSliderButton .slick-dots li a {
          font-family: "Roboto", sans-serif;
          color: #d95e5d; }
        .clientes .clientesSliderButton .slick-dots li.slick-active a {
          color: #be1a18; }

/*# sourceMappingURL=nossos-clientes.css.map */
