.bannerTop {
  background-image: url(../images/nossa-estrutura-ipog/bannerTop.jpg);
  background-position: left center; }

.tourSlideBlock {
  position: relative;
  margin-bottom: 100px; }
  @media (max-width: 800px) {
    .tourSlideBlock {
      margin-bottom: 0; } }
  .tourSlideBlock .greyBlockCover {
    position: absolute;
    width: 70%;
    left: -20%;
    height: 100%;
    background-color: #2a2a2a;
    top: 0; }
    @media (max-width: 800px) {
      .tourSlideBlock .greyBlockCover {
        max-height: 760px;
        width: calc(100% + 30px);
        left: -15px; } }
    @media (max-width: 500px) {
      .tourSlideBlock .greyBlockCover {
        max-height: 80%; } }
  .tourSlideBlock .tourSlideBlockContainer {
    position: relative;
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    z-index: 20;
    padding: 120px 0; }
    @media (min-width: 1600px) {
      .tourSlideBlock .tourSlideBlockContainer {
        padding: 120px 0; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .tourSlideBlock .tourSlideBlockContainer {
        padding: 80px 0; } }
    @media (max-width: 800px) {
      .tourSlideBlock .tourSlideBlockContainer {
        padding: 60px 0;
        flex-direction: column; } }
    .tourSlideBlock .tourSlideBlockContainer .tourBlock {
      width: 40%; }
      @media (max-width: 800px) {
        .tourSlideBlock .tourSlideBlockContainer .tourBlock {
          width: 100%; } }
      .tourSlideBlock .tourSlideBlockContainer .tourBlock .tourBlockText {
        width: 80%;
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        line-height: 136.36%;
        color: #fff;
        margin-bottom: 20px; }
        .tourSlideBlock .tourSlideBlockContainer .tourBlock .tourBlockText:last-of-type {
          margin-bottom: 80px; }
        @media (max-width: 1599px) and (min-width: 801px) {
          .tourSlideBlock .tourSlideBlockContainer .tourBlock .tourBlockText {
            font-size: 16px; } }
        @media (max-width: 800px) {
          .tourSlideBlock .tourSlideBlockContainer .tourBlock .tourBlockText {
            font-size: 22px;
            width: 100%; } }
        @media (max-width: 800px) {
          .tourSlideBlock .tourSlideBlockContainer .tourBlock .tourBlockText {
            width: 80%;
            margin: auto; } }
    .tourSlideBlock .tourSlideBlockContainer .tourSlideContent {
      width: 60%; }
      @media (max-width: 800px) {
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent {
          width: 100%;
          margin-top: 80px; } }
      .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .tourSlideItem {
        margin: 0 20px; }
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .tourSlideItem:focus {
          outline: none; }
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .tourSlideItem .tourSlideItemImg {
          background-size: cover;
          background-position: center;
          height: 270px; }
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .tourSlideItem .tourSlideItemInfo .tourSlideItemInfoText {
          font-family: "Bree Serif", serif;
          font-size: 26px;
          color: #465d68;
          background-color: #fff;
          padding: 15px;
          text-align: center; }
      .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-list .slick-track .slick-active {
        position: relative; }
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-list .slick-track .slick-active:before {
          position: absolute;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.5); }
      .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-list .slick-track div.slick-current:before {
        display: none; }
      .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-prev {
        display: none !important; }
      .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-next {
        padding: 0 20px;
        width: 50%;
        right: 0;
        height: 100%; }
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-next:before {
          display: block;
          content: '';
          width: 28px;
          height: 58px;
          background-image: url(../images/slider-right.png);
          background-repeat: no-repeat;
          background-position: center;
          margin: auto;
          opacity: 1;
          transform: scale(0.8);
          transition: transform .3s; }
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-next:hover:before {
          transform: scale(1);
          transition: transform .3s; }

.bannerTop {
  background-image: url(../images/estrutura/top-bg.jpg);
  background-size: cover; }

.infoItemBlock:not(:first-child) {
  display: none; }
.infoItemBlock .infoItemTitle {
  font-family: "Bree Serif", serif; }
  @media (min-width: 1600px) {
    .infoItemBlock .infoItemTitle {
      font-size: 48px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .infoItemBlock .infoItemTitle {
      font-size: 36px; } }
  @media (max-width: 800px) {
    .infoItemBlock .infoItemTitle {
      font-size: 24px; } }
  @media (max-width: 500px) {
    .infoItemBlock .infoItemTitle {
      font-size: 24px; } }
.infoItemBlock .infoItemText {
  font-family: "Roboto", sans-serif;
  color: #696969;
  line-height: 166.67%; }
  @media (min-width: 1600px) {
    .infoItemBlock .infoItemText {
      font-size: 24px;
      margin-top: 60px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .infoItemBlock .infoItemText {
      font-size: 18px;
      margin-top: 45px; } }
  @media (max-width: 800px) {
    .infoItemBlock .infoItemText {
      font-size: 16px;
      margin-top: 30px; } }
  @media (max-width: 500px) {
    .infoItemBlock .infoItemText {
      font-size: 16px;
      margin-top: 30px; } }
.infoItemBlock .infosBlock {
  display: flex;
  flex-direction: row; }
  @media (min-width: 1600px) {
    .infoItemBlock .infosBlock {
      margin-top: 126px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .infoItemBlock .infosBlock {
      margin-top: 80px; } }
  @media (max-width: 800px) {
    .infoItemBlock .infosBlock {
      flex-direction: column;
      margin-top: 40px; } }
  .infoItemBlock .infosBlock .infosBlockItem {
    width: 33.33%; }
    @media (min-width: 1600px) {
      .infoItemBlock .infosBlock .infosBlockItem {
        padding-right: 80px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .infoItemBlock .infosBlock .infosBlockItem {
        padding-right: 40px; } }
    @media (max-width: 800px) {
      .infoItemBlock .infosBlock .infosBlockItem {
        width: 100%; }
        .infoItemBlock .infosBlock .infosBlockItem:not(:first-of-type) {
          margin-bottom: 40px; }
        .infoItemBlock .infosBlock .infosBlockItem:last-of-type {
          margin-bottom: 80px; } }
    .infoItemBlock .infosBlock .infosBlockItem .infoBlockItemContent {
      height: inherit; }
      @media (min-width: 1600px) {
        .infoItemBlock .infosBlock .infosBlockItem .infoBlockItemContent {
          height: 320px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .infoItemBlock .infosBlock .infosBlockItem .infoBlockItemContent {
          height: 285px; } }
      @media (max-width: 800px) {
        .infoItemBlock .infosBlock .infosBlockItem .infoBlockItemContent {
          height: inherit; } }
    .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemTitle, .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemText {
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      line-height: 166.67%; }
      @media (max-width: 1599px) and (min-width: 801px) {
        .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemTitle, .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemText {
          font-size: 18px; } }
      @media (max-width: 800px) {
        .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemTitle, .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemText {
          font-size: 16px; } }
      @media (max-width: 500px) {
        .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemTitle, .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemText {
          font-size: 16px; } }
    .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemTitle {
      color: #545454;
      font-weight: 700; }
      .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemTitle:not(:first-of-type) {
        margin-top: 60px; }
        @media (max-width: 1599px) and (min-width: 801px) {
          .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemTitle:not(:first-of-type) {
            margin-top: 45px; } }
        @media (max-width: 800px) {
          .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemTitle:not(:first-of-type) {
            margin-top: 25px; } }
        @media (max-width: 500px) {
          .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemTitle:not(:first-of-type) {
            margin-top: 25px; } }
    .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemText {
      color: #696969; }
      @media (min-width: 1600px) {
        .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemText:last-of-type {
          margin-bottom: 75px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemText:last-of-type {
          margin-bottom: 40px; } }
      @media (max-width: 800px) {
        .infoItemBlock .infosBlock .infosBlockItem .infosBlockItemText:last-of-type {
          margin-bottom: 40px; } }
    .infoItemBlock .infosBlock .infosBlockItem .btnRound {
      margin-left: -5px; }
.infoItemBlock .infoList {
  padding-left: 20px;
  list-style: disc;
  margin-bottom: 60px;
  margin-top: 48px; }
  @media (max-width: 1599px) and (min-width: 801px) {
    .infoItemBlock .infoList {
      margin-top: 38px; } }
  @media (max-width: 800px) {
    .infoItemBlock .infoList {
      margin-top: 30px; } }
  @media (max-width: 500px) {
    .infoItemBlock .infoList {
      margin-top: 15px; } }
  .infoItemBlock .infoList a {
    text-decoration: none;
    transition: all .3s; }
    .infoItemBlock .infoList a:hover .infoListItem {
      color: #750605;
      transition: all .3s; }
  .infoItemBlock .infoList .infoListItem {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #696969;
    line-height: 166.67%; }
    @media (max-width: 1599px) and (min-width: 801px) {
      .infoItemBlock .infoList .infoListItem {
        font-size: 18px; } }
    @media (max-width: 800px) {
      .infoItemBlock .infoList .infoListItem {
        font-size: 16px; } }
    @media (max-width: 500px) {
      .infoItemBlock .infoList .infoListItem {
        font-size: 16px; } }

.periodicMenu {
  background-color: #465d68; }
  @media (min-width: 1600px) {
    .periodicMenu {
      margin-top: -130px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .periodicMenu {
      margin-top: -80px; } }
  @media (max-width: 800px) {
    .periodicMenu {
      margin-top: -40px; } }
  @media (max-width: 500px) {
    .periodicMenu {
      margin-top: -32px; } }
  .periodicMenu .periodicMenuContent {
    display: flex;
    justify-content: space-between; }
    @media (min-width: 1600px) {
      .periodicMenu .periodicMenuContent {
        padding: 90px 145px 50px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .periodicMenu .periodicMenuContent {
        padding: 50px 75px 25px; } }
    @media (max-width: 800px) {
      .periodicMenu .periodicMenuContent {
        padding: 45px 45px 25px;
        flex-direction: column; } }
    @media (max-width: 500px) {
      .periodicMenu .periodicMenuContent {
        padding: 45px 25px 25px; } }
    .periodicMenu .periodicMenuContent .periodicTextBlock {
      display: flex;
      align-items: center;
      width: 30%; }
      @media (max-width: 800px) {
        .periodicMenu .periodicMenuContent .periodicTextBlock {
          width: 100%; } }
      .periodicMenu .periodicMenuContent .periodicTextBlock .periodicText {
        font-family: "Roboto", sans-serif;
        color: #fff;
        font-size: 18px;
        line-height: 166.67%; }
        @media (min-width: 1600px) {
          .periodicMenu .periodicMenuContent .periodicTextBlock .periodicText {
            font-size: 18px; } }
        @media (max-width: 1599px) and (min-width: 801px) {
          .periodicMenu .periodicMenuContent .periodicTextBlock .periodicText {
            font-size: 16px; } }
        @media (max-width: 800px) {
          .periodicMenu .periodicMenuContent .periodicTextBlock .periodicText {
            font-size: 18px; } }
        @media (max-width: 500px) {
          .periodicMenu .periodicMenuContent .periodicTextBlock .periodicText {
            font-size: 18px; } }
    .periodicMenu .periodicMenuContent .periodicBtnBlock {
      border-left: 1px solid #fff;
      width: 65%;
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      @media (max-width: 800px) {
        .periodicMenu .periodicMenuContent .periodicBtnBlock {
          width: 100%;
          border-left: none; } }
      @media (max-width: 500px) {
        .periodicMenu .periodicMenuContent .periodicBtnBlock {
          margin-top: 25px; } }
      .periodicMenu .periodicMenuContent .periodicBtnBlock .periodicBtnItemLink {
        text-decoration: none; }
        @media (max-width: 500px) {
          .periodicMenu .periodicMenuContent .periodicBtnBlock .periodicBtnItemLink {
            width: 100%;
            display: inline-block; } }
        .periodicMenu .periodicMenuContent .periodicBtnBlock .periodicBtnItemLink:hover .periodicBtnItem {
          background-color: #fff;
          color: #465d68;
          transition: all 0.3s; }
        .periodicMenu .periodicMenuContent .periodicBtnBlock .periodicBtnItemLink .periodicBtnItem {
          margin: 15px 0px 15px 30px;
          font-family: 'IntroRegular';
          width: 165px;
          text-align: center;
          color: #fff;
          padding: 20px 0;
          text-transform: uppercase;
          border: 1px solid #fff;
          transition: all 0.3s;
          font-size: 12px; }
          @media (max-width: 1599px) and (min-width: 801px) {
            .periodicMenu .periodicMenuContent .periodicBtnBlock .periodicBtnItemLink .periodicBtnItem {
              width: 185px; } }
          @media (max-width: 800px) {
            .periodicMenu .periodicMenuContent .periodicBtnBlock .periodicBtnItemLink .periodicBtnItem {
              width: 165px;
              margin-right: 0;
              margin-left: 0; } }
          @media (max-width: 800px) {
            .periodicMenu .periodicMenuContent .periodicBtnBlock .periodicBtnItemLink .periodicBtnItem {
              width: 100%; } }

@media (min-width: 1600px) {
  .periodicBlock {
    margin: 80px 0 70px; } }
@media (max-width: 1599px) and (min-width: 801px) {
  .periodicBlock {
    margin: 50px 0 40px; } }
@media (max-width: 800px) {
  .periodicBlock {
    margin: 40px 25px 35px; } }
@media (max-width: 500px) {
  .periodicBlock {
    margin: 40px 25px 35px; } }
@media (min-width: 1600px) {
  .periodicBlock .infoItemTitle {
    margin-bottom: 40px; } }
@media (max-width: 1599px) and (min-width: 801px) {
  .periodicBlock .infoItemTitle {
    margin-bottom: 30px; } }
@media (max-width: 800px) {
  .periodicBlock .infoItemTitle {
    margin-bottom: 20px; } }
@media (max-width: 500px) {
  .periodicBlock .infoItemTitle {
    margin-bottom: 20px; } }
.periodicBlock .periodicItemBlock:not(:first-of-type) {
  margin-top: 40px; }
.periodicBlock .periodicItemBlock .periodicItemTitle, .periodicBlock .periodicItemBlock .periodicListItem {
  font-family: "Roboto", sans-serif;
  color: #696969; }
  @media (min-width: 1600px) {
    .periodicBlock .periodicItemBlock .periodicItemTitle, .periodicBlock .periodicItemBlock .periodicListItem {
      font-size: 24px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .periodicBlock .periodicItemBlock .periodicItemTitle, .periodicBlock .periodicItemBlock .periodicListItem {
      font-size: 18px; } }
  @media (max-width: 800px) {
    .periodicBlock .periodicItemBlock .periodicItemTitle, .periodicBlock .periodicItemBlock .periodicListItem {
      font-size: 18px; } }
  @media (max-width: 500px) {
    .periodicBlock .periodicItemBlock .periodicItemTitle, .periodicBlock .periodicItemBlock .periodicListItem {
      font-size: 18px; } }
.periodicBlock .periodicItemBlock .boldTitle {
  color: #545454;
  font-weight: bold; }
@media (min-width: 1600px) {
  .periodicBlock .periodicItemBlock .periodicItemTitle {
    margin-bottom: 56px; } }
@media (max-width: 1599px) and (min-width: 801px) {
  .periodicBlock .periodicItemBlock .periodicItemTitle {
    margin-bottom: 36px; } }
@media (max-width: 800px) {
  .periodicBlock .periodicItemBlock .periodicItemTitle {
    margin-bottom: 30px; } }
@media (max-width: 500px) {
  .periodicBlock .periodicItemBlock .periodicItemTitle {
    margin-bottom: 30px; } }
.periodicBlock .periodicItemBlock .periodicListBlock {
  list-style: disc;
  margin-bottom: 40px; }
  .periodicBlock .periodicItemBlock .periodicListBlock a {
    text-decoration: none; }
    .periodicBlock .periodicItemBlock .periodicListBlock a:hover .periodicListItem {
      color: #750605;
      transition: all 0.3s; }
  .periodicBlock .periodicItemBlock .periodicListBlock .periodicListItem {
    margin-left: 20px; }
    @media (min-width: 1600px) {
      .periodicBlock .periodicItemBlock .periodicListBlock .periodicListItem {
        margin-bottom: 20px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .periodicBlock .periodicItemBlock .periodicListBlock .periodicListItem {
        margin-bottom: 15px; } }
    @media (max-width: 800px) {
      .periodicBlock .periodicItemBlock .periodicListBlock .periodicListItem {
        margin-bottom: 15px; } }
    @media (max-width: 500px) {
      .periodicBlock .periodicItemBlock .periodicListBlock .periodicListItem {
        margin-bottom: 15px; } }

@media (min-width: 1600px) {
  .attendanceBlock {
    padding: 45px 0 30px; } }
@media (max-width: 1599px) and (min-width: 801px) {
  .attendanceBlock {
    padding: 35px 0 30px; } }
@media (max-width: 800px) {
  .attendanceBlock {
    padding: 25px 0 30px; } }
@media (min-width: 1600px) {
  .attendanceBlock .infoBlock {
    margin-bottom: 60px; } }
@media (max-width: 1599px) and (min-width: 801px) {
  .attendanceBlock .infoBlock {
    margin-bottom: 30px; } }
@media (max-width: 800px) {
  .attendanceBlock .infoBlock {
    margin-bottom: 20px; } }
.attendanceBlock .infoBlock .infoBlockTitle, .attendanceBlock .infoBlock .infoBlockText {
  font-family: "Roboto", sans-serif;
  line-height: 166.67%; }
  @media (min-width: 1600px) {
    .attendanceBlock .infoBlock .infoBlockTitle, .attendanceBlock .infoBlock .infoBlockText {
      font-size: 24px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .attendanceBlock .infoBlock .infoBlockTitle, .attendanceBlock .infoBlock .infoBlockText {
      font-size: 18px; } }
  @media (max-width: 800px) {
    .attendanceBlock .infoBlock .infoBlockTitle, .attendanceBlock .infoBlock .infoBlockText {
      font-size: 18px; } }
.attendanceBlock .infoBlock .infoBlockTitle {
  color: #545454;
  font-weight: 700; }
.attendanceBlock .infoBlock .infoBlockText {
  color: #696969; }
@media (min-width: 1600px) {
  .attendanceBlock .infoBlockBtn {
    margin: 60px 0 100px; } }
@media (max-width: 1599px) and (min-width: 801px) {
  .attendanceBlock .infoBlockBtn {
    margin: 60px 0 100px; } }
@media (max-width: 800px) {
  .attendanceBlock .infoBlockBtn {
    margin: 30px 0 50px; } }

/*# sourceMappingURL=nossa-estrutura.css.map */
