.bannerTop {
  background-image: url(../images/nossa-estrutura-ipog/bannerTop.jpg);
  background-position: left center; }

.tourSlideBlock {
  position: relative;
  margin-bottom: 100px; }
  @media (max-width: 800px) {
    .tourSlideBlock {
      margin-bottom: 0; } }
  .tourSlideBlock .greyBlockCover {
    position: absolute;
    width: 70%;
    left: -20%;
    height: 100%;
    background-color: #2a2a2a;
    top: 0; }
    @media (max-width: 800px) {
      .tourSlideBlock .greyBlockCover {
        max-height: 760px;
        width: calc(100% + 30px);
        left: -15px; } }
    @media (max-width: 500px) {
      .tourSlideBlock .greyBlockCover {
        max-height: 80%; } }
  .tourSlideBlock .tourSlideBlockContainer {
    position: relative;
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    z-index: 20;
    padding: 120px 0; }
    @media (min-width: 1600px) {
      .tourSlideBlock .tourSlideBlockContainer {
        padding: 120px 0; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .tourSlideBlock .tourSlideBlockContainer {
        padding: 80px 0; } }
    @media (max-width: 800px) {
      .tourSlideBlock .tourSlideBlockContainer {
        padding: 60px 0;
        flex-direction: column; } }
    .tourSlideBlock .tourSlideBlockContainer .tourBlock {
      width: 40%; }
      @media (max-width: 800px) {
        .tourSlideBlock .tourSlideBlockContainer .tourBlock {
          width: 100%; } }
      .tourSlideBlock .tourSlideBlockContainer .tourBlock .tourBlockText {
        width: 80%;
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        line-height: 136.36%;
        color: #fff;
        margin-bottom: 20px; }
        .tourSlideBlock .tourSlideBlockContainer .tourBlock .tourBlockText:last-of-type {
          margin-bottom: 80px; }
        @media (max-width: 1599px) and (min-width: 801px) {
          .tourSlideBlock .tourSlideBlockContainer .tourBlock .tourBlockText {
            font-size: 16px; } }
        @media (max-width: 800px) {
          .tourSlideBlock .tourSlideBlockContainer .tourBlock .tourBlockText {
            font-size: 22px;
            width: 100%; } }
        @media (max-width: 800px) {
          .tourSlideBlock .tourSlideBlockContainer .tourBlock .tourBlockText {
            width: 80%;
            margin: auto; } }
    .tourSlideBlock .tourSlideBlockContainer .tourSlideContent {
      width: 60%; }
      @media (max-width: 800px) {
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent {
          width: 100%;
          margin-top: 80px; } }
      .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .tourSlideItem {
        margin: 0 20px; }
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .tourSlideItem:focus {
          outline: none; }
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .tourSlideItem .tourSlideItemImg {
          background-size: cover;
          background-position: center;
          height: 270px; }
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .tourSlideItem .tourSlideItemInfo .tourSlideItemInfoText {
          font-family: "Bree Serif", serif;
          font-size: 26px;
          color: #465d68;
          background-color: #fff;
          padding: 15px;
          text-align: center; }
      .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-list .slick-track .slick-active {
        position: relative; }
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-list .slick-track .slick-active:before {
          position: absolute;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.5); }
      .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-list .slick-track div.slick-current:before {
        display: none; }
      .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-prev {
        display: none !important; }
      .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-next {
        padding: 0 20px;
        width: 50%;
        right: 0;
        height: 100%; }
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-next:before {
          display: block;
          content: '';
          width: 28px;
          height: 58px;
          background-image: url(../images/slider-right.png);
          background-repeat: no-repeat;
          background-position: center;
          margin: auto;
          opacity: 1;
          transform: scale(0.8);
          transition: transform .3s; }
        .tourSlideBlock .tourSlideBlockContainer .tourSlideContent .tourSlide .slick-next:hover:before {
          transform: scale(1);
          transition: transform .3s; }

/*# sourceMappingURL=nossa-estrutura-ipog.css.map */
