.bannerTop {
  background-image: url(../images/parcerias/bannerBg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 500px) {
    .bannerTop {
      background-position: 20%; } }
  .bannerTop .bannerTopBlock {
    margin-top: 160px; }
    .bannerTop .bannerTopBlock .bannerTopTitulo {
      margin-bottom: 28px; }
    .bannerTop .bannerTopBlock .bannerTopSubTitulo {
      max-width: 260px;
      font-family: "Bree Serif", serif;
      color: #fff;
      font-size: 28px;
      line-height: normal;
      margin-bottom: 75px; }

.programDescriptionTitle {
  font-family: "Bree Serif", serif;
  color: #a31e1c; }
  @media (min-width: 1600px) {
    .programDescriptionTitle {
      font-size: 48px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .programDescriptionTitle {
      font-size: 24px; } }
  @media (max-width: 800px) {
    .programDescriptionTitle {
      font-size: 24px; } }

.programDescriptionText {
  font-family: "Roboto", sans-serif;
  color: #696969;
  line-height: normal; }
  @media (min-width: 1600px) {
    .programDescriptionText {
      font-size: 24px;
      line-height: 40px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .programDescriptionText {
      font-size: 12px;
      line-height: 20px; } }
  @media (max-width: 800px) {
    .programDescriptionText {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 20px; } }

@media (min-width: 1600px) {
  .partnershipProgram {
    padding: 170px 0 100px; } }
@media (max-width: 1599px) and (min-width: 801px) {
  .partnershipProgram {
    font-size: 24px;
    padding: 85px 0 50px; } }
@media (max-width: 800px) {
  .partnershipProgram {
    font-size: 24px;
    padding: 42px 0 25px; } }
.partnershipProgram .container {
  display: flex; }
  @media (max-width: 800px) {
    .partnershipProgram .container {
      flex-direction: column;
      text-align: center; } }
.partnershipProgram .programDescriptionBlock {
  width: 40%;
  padding: 0 20px; }
  @media (max-width: 800px) {
    .partnershipProgram .programDescriptionBlock {
      width: 100%; } }
  .partnershipProgram .programDescriptionBlock .programDescriptionTitle {
    font-family: "Bree Serif", serif;
    color: #a31e1c; }
    @media (min-width: 1600px) {
      .partnershipProgram .programDescriptionBlock .programDescriptionTitle {
        font-size: 48px;
        margin-bottom: 75px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .partnershipProgram .programDescriptionBlock .programDescriptionTitle {
        font-size: 24px;
        margin-bottom: 33px; } }
    @media (max-width: 800px) {
      .partnershipProgram .programDescriptionBlock .programDescriptionTitle {
        font-size: 24px;
        margin-bottom: 33px; } }
  .partnershipProgram .programDescriptionBlock .programDescriptionText {
    font-family: "Roboto", sans-serif;
    color: #696969;
    line-height: normal; }
    @media (min-width: 1600px) {
      .partnershipProgram .programDescriptionBlock .programDescriptionText {
        font-size: 24px;
        line-height: 40px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .partnershipProgram .programDescriptionBlock .programDescriptionText {
        font-size: 12px;
        line-height: 20px; } }
.partnershipProgram .programItensBlock {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (max-width: 800px) {
    .partnershipProgram .programItensBlock {
      width: 100%; } }
  @media (min-width: 1600px) {
    .partnershipProgram .programItensBlock .programItem {
      max-width: 188px;
      margin: 0 50px 50px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .partnershipProgram .programItensBlock .programItem {
      width: 30%;
      margin: 0 1.5% 50px; } }
  @media (max-width: 800px) {
    .partnershipProgram .programItensBlock .programItem {
      width: 30%;
      margin: 0 1.5% 15px; } }
  .partnershipProgram .programItensBlock .programItem .programItemLogo {
    height: 83px;
    margin-bottom: 18px; }
    @media (min-width: 1600px) {
      .partnershipProgram .programItensBlock .programItem .programItemLogo {
        height: 83px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .partnershipProgram .programItensBlock .programItem .programItemLogo {
        height: 41px; } }
    @media (max-width: 800px) {
      .partnershipProgram .programItensBlock .programItem .programItemLogo {
        height: 41px; } }
    .partnershipProgram .programItensBlock .programItem .programItemLogo.itemLogoText {
      font-size: 70px;
      color: #454545;
      text-align: center; }
      @media (min-width: 1600px) {
        .partnershipProgram .programItensBlock .programItem .programItemLogo.itemLogoText {
          font-size: 70px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .partnershipProgram .programItensBlock .programItem .programItemLogo.itemLogoText {
          font-size: 35px; } }
      @media (max-width: 800px) {
        .partnershipProgram .programItensBlock .programItem .programItemLogo.itemLogoText {
          font-size: 35px; } }
    .partnershipProgram .programItensBlock .programItem .programItemLogo.itemLogoImg {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
  .partnershipProgram .programItensBlock .programItem .programItemText {
    font-family: "Roboto", sans-serif;
    color: #696969;
    text-align: center; }
    @media (min-width: 1600px) {
      .partnershipProgram .programItensBlock .programItem .programItemText {
        font-size: 20px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .partnershipProgram .programItensBlock .programItem .programItemText {
        font-size: 10px; } }
    @media (max-width: 800px) {
      .partnershipProgram .programItensBlock .programItem .programItemText {
        font-size: 14px; } }

@media (min-width: 1600px) {
  .graduationBlock {
    padding-bottom: 200px; } }
@media (max-width: 1599px) and (min-width: 801px) {
  .graduationBlock {
    padding-bottom: 100px; } }
@media (max-width: 800) {
  .graduationBlock {
    padding-bottom: 50px; } }
.graduationBlock .container {
  display: flex; }
  @media (max-width: 800px) {
    .graduationBlock .container {
      flex-direction: column-reverse; } }
.graduationBlock .graduationImgBlock {
  padding-right: 90px; }
  @media (max-width: 800px) {
    .graduationBlock .graduationImgBlock {
      padding-right: 0;
      margin: 20px 0 40px;
      text-align: center; } }
  .graduationBlock .graduationImgBlock .graduationImg {
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: -42px 42px 0px -28px #750605;
    -moz-box-shadow: -42px 42px 0px -28px #750605;
    box-shadow: -42px 42px 0px -28px #750605; }
    @media (max-width: 800px) {
      .graduationBlock .graduationImgBlock .graduationImg {
        width: 50%; } }
.graduationBlock .graduationImgBlock, .graduationBlock .graduationInfoBlock {
  width: 50%; }
  @media (max-width: 800px) {
    .graduationBlock .graduationImgBlock, .graduationBlock .graduationInfoBlock {
      width: 100%; } }
.graduationBlock .graduationInfoBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .graduationBlock .graduationInfoBlock .graduationInfoTitle {
    font-family: "Bree Serif", serif;
    color: #a31e1c; }
    @media (min-width: 1600px) {
      .graduationBlock .graduationInfoBlock .graduationInfoTitle {
        font-size: 48px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .graduationBlock .graduationInfoBlock .graduationInfoTitle {
        font-size: 24px; } }
    @media (max-width: 800px) {
      .graduationBlock .graduationInfoBlock .graduationInfoTitle {
        font-size: 24px; } }
  @media (max-width: 800px) {
    .graduationBlock .graduationInfoBlock .graduationListBlock {
      padding: 20px 40px; } }
  .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList {
    list-style-image: url(../images/parcerias/check-icon.png); }
    @media (min-width: 1600px) {
      .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList {
        margin-top: 40px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList {
        margin-top: 20px; } }
    .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .listTitle, .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .graduationListItem {
      font-family: "Roboto", sans-serif;
      font-size: 24px; }
      @media (min-width: 1600px) {
        .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .listTitle, .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .graduationListItem {
          font-size: 24px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .listTitle, .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .graduationListItem {
          font-size: 14px; } }
      @media (max-width: 800px) {
        .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .listTitle, .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .graduationListItem {
          font-size: 14px; } }
    .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .listTitle {
      font-weight: 700;
      color: #474747; }
      @media (min-width: 1600px) {
        .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .listTitle {
          font-size: 24px;
          line-height: 40px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .listTitle {
          font-size: 14px;
          line-height: 20px; } }
      @media (max-width: 800px) {
        .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .listTitle {
          margin: 20px 0; } }
    .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .graduationListItem {
      font-weight: 400;
      line-height: 40px;
      color: #696969; }
      @media (min-width: 1600px) {
        .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .graduationListItem {
          font-size: 24px;
          line-height: 40px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .graduationListItem {
          font-size: 14px;
          line-height: 20px; } }
      @media (max-width: 800px) {
        .graduationBlock .graduationInfoBlock .graduationListBlock .graduationList .graduationListItem {
          font-size: 16px; } }

.partnerBlock .container {
  padding: 0; }
.partnerBlock .partnerBlockTop {
  text-align: center; }
  @media (min-width: 1600px) {
    .partnerBlock .partnerBlockTop {
      margin-bottom: 130px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .partnerBlock .partnerBlockTop {
      margin-bottom: 65px; } }
  @media (max-width: 800px) {
    .partnerBlock .partnerBlockTop {
      margin-bottom: 32px; } }
.partnerBlock .partnerContent {
  display: flex; }
  @media (min-width: 1600px) {
    .partnerBlock .partnerContent {
      margin-bottom: 115px; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .partnerBlock .partnerContent {
      margin-bottom: 55px; } }
  @media (max-width: 800px) {
    .partnerBlock .partnerContent {
      margin-bottom: 27px; } }
  @media (max-width: 500px) {
    .partnerBlock .partnerContent {
      flex-wrap: wrap; } }
  .partnerBlock .partnerContent .partnerContentItem {
    width: 25%; }
    @media (min-width: 1600px) {
      .partnerBlock .partnerContent .partnerContentItem:not(:last-of-type) {
        padding-right: 120px; } }
    @media (max-width: 1599px) and (min-width: 801px) {
      .partnerBlock .partnerContent .partnerContentItem:not(:last-of-type) {
        padding-right: 30px; } }
    @media (max-width: 800px) {
      .partnerBlock .partnerContent .partnerContentItem {
        width: 50%;
        margin-bottom: 20px; }
        .partnerBlock .partnerContent .partnerContentItem:not(:last-of-type) {
          padding-right: 15px; } }
    .partnerBlock .partnerContent .partnerContentItem .partnerItemLogo {
      background-image: url(../images/parcerias/check-partner.png);
      background-size: contain;
      margin: auto; }
      @media (min-width: 1600px) {
        .partnerBlock .partnerContent .partnerContentItem .partnerItemLogo {
          width: 113px;
          height: 113px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .partnerBlock .partnerContent .partnerContentItem .partnerItemLogo {
          width: 56px;
          height: 56px; } }
      @media (max-width: 800px) {
        .partnerBlock .partnerContent .partnerContentItem .partnerItemLogo {
          width: 56px;
          height: 56px; } }
    .partnerBlock .partnerContent .partnerContentItem .partnerIteminfo .partnerIteminfoTitle {
      font-family: "Bree Serif", serif;
      color: #770908;
      text-align: center; }
      @media (min-width: 1600px) {
        .partnerBlock .partnerContent .partnerContentItem .partnerIteminfo .partnerIteminfoTitle {
          font-size: 28px;
          margin: 40px auto; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .partnerBlock .partnerContent .partnerContentItem .partnerIteminfo .partnerIteminfoTitle {
          font-size: 20px;
          margin: 20px auto; } }
      @media (max-width: 800px) {
        .partnerBlock .partnerContent .partnerContentItem .partnerIteminfo .partnerIteminfoTitle {
          font-size: 14px; } }
    .partnerBlock .partnerContent .partnerContentItem .partnerIteminfo .partnerIteminfoText {
      font-family: "Roboto", sans-serif;
      color: #696969;
      text-align: center; }
      @media (min-width: 1600px) {
        .partnerBlock .partnerContent .partnerContentItem .partnerIteminfo .partnerIteminfoText {
          font-size: 20px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .partnerBlock .partnerContent .partnerContentItem .partnerIteminfo .partnerIteminfoText {
          font-size: 14px; } }
      @media (max-width: 800px) {
        .partnerBlock .partnerContent .partnerContentItem .partnerIteminfo .partnerIteminfoText {
          font-size: 14px; } }

.operation {
  background-color: #750605; }
  @media (min-width: 1600px) {
    .operation {
      padding: 120px 0; } }
  @media (max-width: 1599px) and (min-width: 801px) {
    .operation {
      padding: 60px 0; } }
  @media (max-width: 800px) {
    .operation {
      padding: 30px 0; } }
  .operation .container {
    display: flex; }
    @media (max-width: 800px) {
      .operation .container {
        flex-direction: column; } }
  .operation .operationTitleBlock {
    width: 25%; }
    @media (max-width: 800px) {
      .operation .operationTitleBlock {
        width: 100%;
        margin-bottom: 30px; } }
    .operation .operationTitleBlock .operationTitle {
      font-family: "Bree Serif", serif;
      color: #fff;
      letter-spacing: 1px; }
      @media (min-width: 1600px) {
        .operation .operationTitleBlock .operationTitle {
          font-size: 50px;
          line-height: 60px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .operation .operationTitleBlock .operationTitle {
          font-size: 35px;
          line-height: 45px; } }
      @media (max-width: 800px) {
        .operation .operationTitleBlock .operationTitle {
          font-size: 25px;
          line-height: 35px; } }
  .operation .operationListButtons {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .operation .operationListButtons .operationItemBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 23%;
      border: 1px solid #fff;
      text-align: center;
      margin: 0 1%;
      margin-bottom: 20px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: all .3s; }
      .operation .operationListButtons .operationItemBtn:hover {
        background-color: #fff;
        color: #750605;
        transition: all .3s; }
      @media (min-width: 1600px) {
        .operation .operationListButtons .operationItemBtn {
          padding: 40px 45px; } }
      @media (max-width: 1599px) and (min-width: 801px) {
        .operation .operationListButtons .operationItemBtn {
          padding: 20px 12.5px; } }
      @media (max-width: 800px) {
        .operation .operationListButtons .operationItemBtn {
          padding: 20px 12.5px; } }
      @media (max-width: 500px) {
        .operation .operationListButtons .operationItemBtn {
          width: 100%; } }

/*# sourceMappingURL=parcerias.css.map */
