/**
    HEADER
**/

@font-face {
    font-family: 'BreeSerif';
    src: url('../fonts/BreeSerif/BreeSerif-Regular.woff') format('woff'),
    url('../fonts/BreeSerif/BreeSerif-Regular.ttf') format("opentype");
}

@font-face {
    font-family: 'MyriadPro Regular';
    src: url('../fonts/MyriadPro/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
    font-family: 'IntroRegular';
    src: url('../fonts/IntroRegular/Intro.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Light';
    font-weight: 100;
    src: url('../fonts/Roboto/Roboto-Light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Bold';
    font-weight: 100;
    src: url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
}

body{
    font-family: 'BreeSerif';
    overflow-x: hidden;
    background-color: #f0f0f0;
}

.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-12{
    float: left;
}

.btn{
    color: #be1a18;
    background: #FFF;
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto Bold';
    font-size: 16px;
    border-radius: 28px;
    padding: 20px 44px;
}

.btn:hover{
    background: #be1a18;
    color: #ffffff;
    transition: 200ms;
}

/**
    BANNER
**/

.containerHome .banner{
    position: relative;
}

.containerHome .banner .secondMenu{
    position: absolute;
    z-index: 999;
    background-color: #00000030;
    font-weight: 100;
    text-transform: uppercase;
    width: 100%;
    padding-left: 8%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.containerHome .banner .secondMenu li{
    list-style: none;
    float: left;
    font-weight: 100;
    padding-right: 40px;
}

.containerHome .banner .secondMenu li a{
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
}

.containerHome .banner .secondMenu li.headerBusca{
    float: right;
    padding-right: 13%;
    position: relative;
}

.containerHome .banner .secondMenu li.headerBusca input.buscaGeral{
    background: transparent;
    border: 2px solid #cccecf;
    padding: 2px 6px;
    font-size: 13px;
    color: #FFF;
    font-family: 'Roboto';
    border-radius: 20px;
    width: 170px;
}

.containerHome .banner .secondMenu li.headerBusca .btnBuscaGeral{
    color: #cccecf;
    background: transparent;
    border: 0;
    position: absolute;
    top: 0px;
    left: 135px;
}

.containerHome .banner .secondMenu li.headerBusca .btnBuscaGeral i{
    font-size: 15px;
}

.containerHome .banner .slick-slide{
    height: 100vh;
}

.containerHome .banner .bannerHome .item{
    background-size: cover;
    background-repeat: no-repeat;
}

.containerHome .banner .bannerHome .item .buscaCursos{
    background: transparent;
    border: 1px solid #FFF;
    padding: 10px 20px;
    color: #FFF;
    border-radius: 20px;
    font-size: 13px;
    width: 290px;
    margin-top: 1%;
    margin-left: 11%;
}

.containerHome .banner .bannerHome .item h2{
    font-family: 'IntroRegular';
    color: #FFF;
    font-size: 42px;
    padding-left: 11%;
    padding-top: 14%;
}

.icon-scroll,
.icon-scroll:before{
    position: absolute;
    left: 50%;
}

.icon-scroll{
    width: 30px;
    height: 48px;
    margin-left: -20px;
    bottom: 15px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 25px;
}

.icon-scroll:before{
    content: '';
    width: 6px;
    height: 6px;
    background: #fff;
    margin-left: -3px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

input::-webkit-input-placeholder { 
    font-family: 'Roboto';
    color: #FFF;
    font-size: 13px;
}

input::-moz-placeholder { 
    font-family: 'Roboto';
    color: #FFF;
    font-size: 13px;
}

input:-ms-input-placeholder { 
    font-family: 'Roboto';
    color: #FFF;
    font-size: 13px;
}

input:-moz-placeholder { 
    font-family: 'Roboto';
    color: #FFF;
    font-size: 13px;
}


/**
    HISTÓRIA
**/

.historia{
    padding-top: 90px;
}

.historia .container .col-md-6:first-child{
    padding-left:0;
    position: relative;
    float: left;
}

.historia .container .col-md-6:nth-child(2){
    padding-right:0;
    float: left;
    padding-left: 80px;
}

.historia .imagemDestaque{
    margin-left: 100px;
}

.historia .imagemDestaque img{
    height: 400px;
}

.historia .descHistoria a{
    color: #FFF;
    padding-left: 20px;
    font-size: 15px;
    text-decoration: none;
}

.historia .descHistoria h3{
    font-size: 36px;
    padding-left: 20px;
    padding-top: 35px;
}

.historia .descHistoria{
    position: absolute;
    background: #be1a18;
    color: #FFF;
    width: 250px;
    height: 300px;
    padding-top: 35px;
    top: 0;
}

.historia .tituloEnsino{
    text-transform: uppercase;
    font-size: 35px;
}

.historia .descEnsino{
    font-family: 'Roboto';
    color: #696969;
    font-weight: 300;
    font-size: 18px;
    padding-top: 15px;
}

.historia .video{
    float: left;
    width: 100%;
}

.historia .video img{
    float: left;
    padding-right: 25px;
}

.historia .video h4{
    color: #424242;
    margin-bottom: 70px;
}

.historia .video a{
    text-decoration: none;
    color: #be1a18;
    font-family: 'Roboto';
    text-transform: uppercase;
    background: #FFF;
    padding: 16px 41px;
    border-radius: 43px;
    -webkit-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
    -moz-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
    box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
}


/**
    CURSOS
**/

.cursos{
    margin-top: 90px;
    margin-bottom: 100px;
}

.cursos .bgCurso{
    background: #465d68;
    width: 85%;
    height: 319px;
    right: 0;
    position: absolute;
}

.cursos h3{
    font-family: 'BreeSerif';
    background: #78909c;
    color: #FFF;
    text-align: center;
    width: 95%;
    z-index: 99999;
    position: relative;
    margin: -15px auto;
    font-size: 20px;
    padding: 10px 0;
}

.cursos .featured{
    background: #d69225;
}

.cursos .listaCursos{
    width: 88%;
    margin-right: 40px;
    float: right;
    margin-top: 90px;
}

.cursos .listaCursos .itemCurso{
    width: 15%;
    margin-right: 14px;
    float: left;
}

.cursos .listaCursos .itemCurso:last-child{
    margin-right: 0;
}

.cursos .listaCursos .itemCurso img{
    width: 100%;
    position: relative;
    z-index: 0;
}

@keyframes scroll{
    0%{
        opacity: 1;
    }
    
    100%{
        opacity: 0;
        transform: translateY(46px);
    }
}


/**
    NOTÍCIAS
**/

.noticias h3{
    text-align: center;
    font-size: 44px;
    color: #424242;
    margin-bottom: 80px;
    margin-top: 30px;
}

.noticias .slick-dotted.slick-slider {
    margin-bottom: 80px;
}

.noticias .itemNoticia img{
    width: 100%;
}

.noticias a.ver-todos, .noticias a.ver-todos:hover{
    -webkit-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
    -moz-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
    box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
    background: #FFF;
    color: #a31e1c;
    padding: 14px 60px;
    border-radius: 40px;
    text-transform: uppercase;
    display: block;
    width: 202px;
    text-decoration: none;
    margin: 0px auto;
}

.noticias .slick-list{
    margin-bottom: 50px;
}

.noticias .slick-track{
    margin-bottom: 20px;
}

.noticias .itemNoticia {
    background: #FFF;
    margin: 0 20px;
    color: #424242;
    padding-bottom: 10px;
    -webkit-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
    -moz-box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
    box-shadow: 1px 3px 7px 0px rgba(220, 220, 220, 0.75);
}

.noticias .itemNoticia .titulo{
    font-size: 20px;
    min-height: 80px;
    margin-top: 20px;
}

.noticias .itemNoticia .titulo, .noticias .itemNoticia .descricao, .noticias .itemNoticia .footerNoticia{
    padding: 0 20px;
}

.noticias .itemNoticia .descricao, .noticias .itemNoticia .footerNoticia, .noticias .itemNoticia .tag{
    font-family: 'Roboto';
}

.noticias .itemNoticia .descricao{
    color: #6d6d6d;
}

.noticias .itemNoticia .tag{
    margin-top: -35px;
    color: #FFF;
    padding: 1px 10px;
    font-size: 14px;
    font-family: 'Roboto Light';
    margin-left: 20px;
    border-radius: 4px;
    display: block;
    position: absolute;
}

.noticias .itemNoticia .tag.eventos{
    background-color: #4d90cd;
}

.noticias .itemNoticia .tag.post{
    background-color: #e9734c;
}

.noticias .itemNoticia .tag.noticias{
    background-color: #b2262a;
}

.noticias .itemNoticia .footerNoticia{
    border-top: 1px solid #EEEEEE;
    padding-top: 10px;
}

.noticias .itemNoticia .footerNoticia .date{
    color: #6d6d6d;
}

.noticias .itemNoticia .footerNoticia .leiaMais{
    text-transform: uppercase;
    float: right;
}


/**
    INSCRIÇÃO
**/

.inscricao{
    background-image: url('../images/home/back-inscrever.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #FFF;
    text-align: center;
    padding: 40px 0;
    margin-top: 100px;
}

.inscricao h3{
    font-family: 'IntroRegular';
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.inscricao .col-md-3{
    float: left;
}

.inscricao input[type='text']{
    background: transparent;
    width: 95%;
    border: 1px solid #FFF;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 10px;
    color: #FFF;
    padding-top: 6px;
    padding-bottom: 6px;
}

.inscricao input[type='submit']{
    color: #a31e1c;
    background: #FFF;
    border: 0;
    text-transform: uppercase;
    font-family: 'Roboto Bold';
    font-size: 14px;
    border-radius: 28px;
    padding: 14px 44px;
}

.inscricao input[type='submit']:hover{
    background: #be1a18;
    color: #ffffff;
    transition: 200ms;
    cursor: pointer;
}


/**
    PARCERIAS
**/

.parcerias{
    background: #FFF;
    text-align: center;
    padding: 55px 0 45px;
}

.parcerias .col-md-3, .parcerias .col-md-2{
    float: left;
}

.parcerias img{
    align-items: center;
    justify-content: center 
}

/* .parcerias .container div{
    height: 115px;
} */


/**
    FOOTER
**/

footer ul{
    list-style: none;
    padding-left: 0;
}

footer p{
    font-family: 'Roboto Light';
    font-size: 15px;
    line-height: 28px;
}

footer ul li a, footer ul li a:hover{
    color: #FFF;
    font-family: 'Roboto Light';
    text-decoration: none;
    font-size: 15px;
}

footer .copyright{
    background-color: #750605;
    padding: 30px;
    float: left;
    width: 100%;
    color: #FFF;
    font-weight: 300;
    text-align: center;
}

footer .copyright img{
    width: 130px;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer .sitemap{
    float: left;
    width: 100%;
    background: #a31e1c;
    color: #FFF;
    font-family: 'Roboto';
    padding: 70px 0 50px;
}

footer .sitemap .col-md-3, footer .sitemap .col-md-2, footer .sitemap .col-md-5{
    float: left;
}

footer .sitemap h4{
    font-size: 18px;
    padding-bottom: 20px;
    font-family: 'Roboto Bold';
}

footer .sitemap ul li{
    padding-bottom: 4px;
}

footer .sitemap ul.redesSociais li{
    float: left;
    margin-right: 14px;
}

footer .sitemap ul.redesSociais li:first-child a{
    padding: 8px 12px;
}

footer .sitemap ul.redesSociais li a{
    border: 1px solid #FFF;
    border-radius: 39px;
    padding: 8px;
}

footer .sitemap ul.redesSociais li i{
    font-size: 20px;
}

footer .sitemap ul.redesSociais li svg{
    padding-top: 5px;
}

footer form input[type='email']{
    border: 1px solid #FFF;
    color: #FFF;
    border-radius: 4px;
    background: transparent;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px;
}

footer form input[type='submit']{
    background: #FFF;
    border: 0;
    color: #a31e1c;
    font-size: 12px;
    text-transform: uppercase;
    padding: 13px 38px;
    margin-left: 20px;
    border-radius: 20px;
    font-family: 'Roboto Bold';
}

footer form input[type='submit']:hover {
    background: #750605;
    color: #ffffff;
    transition: 200ms;
    cursor: pointer;
}

@media (min-width: 1200px){
    .container {
        max-width: 80%;
    }
}

@media (max-width: 768px){
    footer .sitemap .col-md-3, footer .sitemap .col-md-2, footer .sitemap .col-md-5 {
        margin-bottom: 30px;
    }

    footer form input[type='email']{
        width: 100%;
    }

    footer form input[type='submit']{
        margin-left: 0;
        margin-top: 10px;
    }

    .inscricao h3{
        font-size: 28px;
    }

    .inscricao input, .inscricao select{
        margin-bottom: 10px;
    }

    .noticias h3{
        font-size: 32px;
        margin-bottom: 55px;
    }

    .cursos .bgCurso{
        display: none;
    }

    .cursos {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .cursos .listaCursos{
        background: #465d68;
        width: 100%;
        margin-right: 0;
        float: left;
        padding: 40px;
        margin-top: 90px;
    }

    .cursos .listaCursos .itemCurso{
        width: 100%;
        margin-right: 14px;
        margin-bottom: 50px;
    }

    .historia .container .col-md-6:nth-child(2){
        padding-right: 0px;
        padding-left: 25px;
    }

    .historia .tituloEnsino{
        font-size: 32px;
    }

    .historia .descEnsino{
        font-size: 16px;
    }

    .historia .video h4{
        font-size: 20px;
        margin-bottom: 50px;
    }

    .historia .video a{
        padding: 16px 18px;
        font-size: 13px;
    }

    .historia .container .col-md-6:first-child{
        margin-bottom: 50px;
    }

    .historia .imagemDestaque img{
        height: 214px;
    }

    .historia .descHistoria{
        width: 189px;
        height: 170px;
        padding-top: 5px;
        left: 25px;
    }

    .historia .descHistoria h3{
        font-size: 20px;
    }

    .containerHome .banner .secondMenu{
        display: none;
    }

    .containerHome .banner .slick-slide{
        height: 420px;
    }

    .containerHome .banner .bannerHome .item h2{
        font-size: 32px;
    }
}